root: true

env:
  browser: true

extends:
  "htmlacademy/es5"

globals:
  "Sticky": true
  "bodyScrollLock": true
  "Ellipsis": true
  "wNumb": true
  "SlimSelect": true
  "noUiSlider": true
  "Swiper": true

rules: {
    "no-new": 0
  }
