<div class="cookie js_cookie">
  <div class="cookie__wrap container">
    <div class="cookie__main">
      <p class="cookie__title">
        Информируем Вас о том, что сайт обрабатывает персональные данные и использует файлы "cookies"
      </p>
      <p class="cookie__text">
        Мы обязуемся обеспечить конфиденциальность полученных от Вас персональных данных для целей, указанных в настоящей Политике обработки персональных данных, а также безопасность при их обработке в соответствии с требованиями Законодательства Российской Федерации. Для подтверждения Вашего согласия на обработку данных на указанных выше условиях нажмите "Согласен"
      </p>
    </div>

    <button type="button" class="cookie__button button button--blue js_btn">Согласен</button>
  </div>
</div>
