<div class="warning">
  <div class="page-container">
    <div class="warning__body">
      <div class="warning__icon-wrapper">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="img/sprite.svg#icon-cancel"></use>
        </svg>
      </div>
      <span>Файл <span class="warning__middle">Logo.svg</span> неправильного формата. Разрешенные форматы: <span class="warning__middle">JPEG, PNG, GIF</span></span>
    </div>
  </div>
</div>
