<div class="gallery-popup gallery-popup--single js-gallery-popup popup js-popup">
  <div class="popup__container">
    <div class="popup__overlay js-popup__overlay"></div>
    <div class="gallery-popup__content popup__content">
      <div class="popup__bar popup__bar--top">
        <button class="popup__close-btn js-popup__close-btn" type="button">
          <span class="visually-hidden">Закрыть</span>
          <svg width="16" height="16">
            <use xlink:href="img/sprite.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
      <div class="gallery-popup__frame js-gallery-popup__frame swiper-container">
        <img src="" alt="Превью для карточки">
      </div>
      <p class="gallery-popup__photo-description js-gallery-popup__photo-description"></p>
      <div class="popup__bar popup__bar--bottom">
        <button class="gallery-popup__nav-btn gallery-popup__nav-btn--prev js-gallery-popup__nav-btn--prev"
          type="button">
          <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#icon-paginator-prev"></use>
          </svg>
        </button>
        <p class="gallery-popup__counter">
          <span class="gallery-popup__counter-current js-gallery-popup__counter-current"></span>/<span
            class="gallery-popup__counter-total js-gallery-popup__counter-total"></span>
        </p>
        <button class="gallery-popup__nav-btn gallery-popup__nav-btn--next js-gallery-popup__nav-btn--next"
          type="button">
          <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#icon-paginator-next"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
