<div class="info-block">
  <div class="info-block__wrapper">
    <span class="info-block__text">Данный опрос анонимный. Его результаты представляются в обезличенном виде в формате статистики.</span>
      <a class="info-block__link" href="#">Правила прохождения опроса</a>
      <svg class="info-block__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="img/sprite.svg#icon-privacy"></use>
      </svg>
  </div>
  <div class="info-block__wrapper">
    <span class="info-block__text">Это персонализированный опрос на основе вашего возраста и пола.</span>
    <svg class="info-block__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="img/sprite.svg#icon-personal"></use>
    </svg>
  </div>
</div>
