<div class="internet-banner">
  <div class="container">
    <div class="internet-banner__wrapper">
      <div class="internet-banner__container">
        <p class="internet-banner__title">ДЕЛАЕМ ГОРОД КОМФОРТНЕЕ</p>
        <p class="internet-banner__text">Выбирайте общественные территории и дизайн‑проекты благоустройства, следите за реализацией победивших проектов, участвуйте в развитии своего города.</p>
        <p class="internet-banner__period">Период голосования</p>
        <p class="internet-banner__date">15 апреля — 30 мая</p>
        <a class="internet-banner__button button button--blue" href="#">Проголосовать</a>
      </div>
      <div class="internet-banner__image-wrapper">
        <img width="474" height="373" src="img/internet-banner-2.svg" alt="Картинка">
      </div>
    </div>
  </div>
</div>
