<!-- class Modal renamed to projects-modal due V2 styles -->
<div class="projects-modal projects-modal--projects-period">
  <div class="projects-modal__wrapper">
    <div class="projects-modal__overlay"></div>
    <div class="projects-modal__content">

      <div class="projects-modal__content-wrap">
        <div class="projects-modal__content-top">
          <div class="projects-modal__content-date">
            <h3 class="projects-modal__content-title">Новый период</h3>
            <div class="projects-modal__content-date">
              <time datetime="2019-08-07">10.05.2019</time>
              <span> - </span>
              <time datetime="2019-08-07">20.05.2022</time>
            </div>
          </div>
          <div class="projects-modal__content-date">
            <h3 class="projects-modal__content-title">Предыдущий период</h3>
            <div class="projects-modal__content-date">
              <time datetime="2019-08-07">10.05.2019</time>
              <span> - </span>
              <time datetime="2019-08-07">20.05.2021</time>
            </div>
          </div>
        </div>
        <div class="projects-modal__content-bottom">
          <h3 class="projects-modal__content-title">Комментарий о причине переноса</h3>
          <p class="projects-modal__content-text">
            Описание, текст до 350 символов. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Corrupti reprehenderit neque a aliquam
            eos molestias autem tempore odio recusandae blanditiis ad maiores
            voluptate accusantium quaerat reiciendis tempora, porro atque
            excepturi, laudantium dolor. In, ducimus impedit? Porro animi
            aspernatur odio provident sequi. Deleniti corrupti amet sequi nulla
            sint rem natus, quia molestias, esse fugit aspernatur atque expedita
            suscipit eaque corporis! Commodi aliquam nam adipisci praesentium
            magnam quam ratione, aut officiis ipsa quia quidem odio qui autem
            tempore odit aperiam et debitis soluta eos. Earum, voluptas nam
            asperiores ea voluptatem nemo doloribus esse autem quisquam dolor,
            possimus repellendus debitis consequatur. Excepturi, ratione
            cupiditate mollitia aut asperiores harum odit unde sint veritatis,
            velit distinctio vitae temporibus doloremque rem fugiat expedita eos
            id ipsam vero consectetur. Nihil necessitatibus, fuga nemo, cumque
            nulla ea vitae possimus repudiandae provident maxime itaque error
            blanditiis excepturi accusamus eum perferendis nostrum quam soluta
            repellendus iusto quis atque quod! Aliquid vitae et recusandae, quam
            quae sequi dicta quas dignissimos suscipit veritatis nisi commodi
            autem eos! Natus dolores cum praesentium, quis impedit placeat? Eum
            pariatur ducimus quisquam illum. Sequi aut voluptatum molestias
            debitis iusto obcaecati eum adipisci. Blanditiis cupiditate alias
            velit. Autem dolorem, natus vitae rem aliquid quia molestias cum nam
            cupiditate reprehenderit, iusto, amet maxime repellendus. Laudantium
            saepe pariatur quia amet est inventore sit obcaecati fuga, nemo id,
            fugit, incidunt qui adipisci exercitationem et vitae odio porro ut
            blanditiis voluptatum! Reiciendis atque tenetur vero possimus
            dolore, animi quam cum ab temporibus eos? Vero quis officia, placeat
            est eum numquam ratione nemo voluptas voluptatibus ullam culpa
            aliquam laudantium incidunt, atque quo earum eos iusto nam quisquam
            quas. Fugiat porro repellendus quasi nihil aperiam tempore, aliquid
            ex rerum culpa iure ducimus cumque voluptatibus eos illum
            praesentium, recusandae inventore vero fugit non deleniti ipsa
            exercitationem totam velit sequi. Dolorem exercitationem assumenda
            doloremque excepturi aspernatur voluptas architecto nisi ratione
            sequi, eaque tempora dignissimos! Maiores natus aperiam iusto
            recusandae, nam magni laudantium debitis, voluptas accusamus eveniet
            quidem quaerat possimus? Eius doloribus eaque minus, voluptas iste
            saepe excepturi. Aliquid ut aliquam quasi, ullam repudiandae commodi
            possimus dolorem excepturi laborum necessitatibus doloremque dicta
            odio tempore. Pariatur, voluptates!
          </p>
        </div>
      </div>
      <div class="projects-modal__content-wrap">
        <div class="projects-modal__content-top">
          <div class="projects-modal__content-date">
            <h3 class="projects-modal__content-title">Новый период</h3>
            <div class="projects-modal__content-date">
              <time datetime="2019-08-07">10.05.2019</time>
              <span> - </span>
              <time datetime="2019-08-07">20.05.2022</time>
            </div>
          </div>
          <div class="projects-modal__content-date">
            <h3 class="projects-modal__content-title">Предыдущий период</h3>
            <div class="projects-modal__content-date">
              <time datetime="2019-08-07">10.05.2019</time>
              <span> - </span>
              <time datetime="2019-08-07">20.05.2021</time>
            </div>
          </div>
        </div>
        <div class="projects-modal__content-bottom">
          <h3 class="projects-modal__content-title">Комментарий о причине переноса</h3>
          <p class="projects-modal__content-text">
            Описание, текст до 350 символов. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Dolore, odio.
          </p>
        </div>
      </div>
      <div class="projects-modal__content-wrap">
        <div class="projects-modal__content-top">
          <div class="projects-modal__content-date">
            <h3 class="projects-modal__content-title">Новый период</h3>
            <div class="projects-modal__content-date">
              <time datetime="2019-08-07">10.05.2019</time>
              <span> - </span>
              <time datetime="2019-08-07">20.05.2022</time>
            </div>
          </div>
          <div class="projects-modal__content-date">
            <h3 class="projects-modal__content-title">Предыдущий период</h3>
            <div class="projects-modal__content-date">
              <time datetime="2019-08-07">10.05.2019</time>
              <span> - </span>
              <time datetime="2019-08-07">20.05.2021</time>
            </div>
          </div>
        </div>
        <div class="projects-modal__content-bottom">
          <h3 class="projects-modal__content-title">Комментарий о причине переноса</h3>
          <p class="projects-modal__content-text">
            Описание, текст до 350 символов. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Dolore, odio.
          </p>
        </div>
      </div>

      <button class="projects-modal__close-btn js-close-popup" type="button"
        aria-label="Закрыть">
        <svg width="18" height="18" viewbox="0 0 18 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="img/sprite.svg#icon-close"></use>
        </svg>
        <span class="visually-hidden">Закрыть</span>
      </button>

    </div>
  </div>
</div>
