<div class="modal fade" id="regionModal2" tabindex="-1" aria-labelledby="regionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header row flex-column">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="exampleModalLabel">Ваш регион</h5>
        <p>Выберите регион из списка или один из ваших адресов, чтобы посмотреть и принять участие в доступных Вам активностях </p>
      </div>
      <div class="modal-body">
        <form action="" id="region-form">

          <div class="form-radio">
            <input id="location-registration11" type="radio" name="location11" value="registration11">
            <label for="location-registration11">
              Адрес регистрации
              <span>
                Не указано
              </span>
            </label>
          </div>

          <div class="form-radio">
            <input id="location-registration22" type="radio" name="location11" value="registration12" disabled>
            <label for="location-registration22">
              Адрес регистрации
              <span>
                <a href="#" class="link link--blue">Укажите на портале Госуслуги</a>
              </span>
            </label>
          </div>

          <div class="form-radio">
            <input id="location-registration33" type="radio" name="location11" value="registration13" disabled>
            <label for="location-registration33">
              Адрес регистрации
              <span>
                <a href="#" class="link link--blue">Укажите на портале Госуслуги</a>
              </span>
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="region-form" class="button button--blue" data-bs-dismiss="modal" disabled>Применить</button>
      </div>
    </div>
  </div>
</div>
