<div class="internet-banner">
  <div class="container">
    <div class="internet-banner__wrapper">
      <div class="internet-banner__container">
        <p class="internet-banner__title">Реализованные проекты</p>
        <p class="internet-banner__text">В&nbsp;данном разделе можно ознакомиться с&nbsp;реализованными в&nbsp;регионе проектами</p>
        <a class="internet-banner__button button button--blue" href="#">перейти к проектам</a>
      </div>
      <div class="internet-banner__image-wrapper">
        <img width="518" height="276" src="img/new-banner-2.svg" alt="Картинка">
      </div>
    </div>
  </div>
</div>
