<div class="internet-banner">
  <div class="page-container">
    <div class="internet-banner__wrapper">
      <div class="internet-banner__container">
        <p class="internet-banner__title">Опросы и голосования</p>
        <p class="internet-banner__text">Принимайте активное участие в развитии своего региона: голосуйте, делитесь мнением, учавствуйте в обсуждениях и предлагайте идеи </p>
        <a class="internet-banner__button button button--blue" href="#">Подробнее о проекте</a>
      </div>
      <div class="internet-banner__image-wrapper">
        <img width="474" height="373" src="img/new-banner.svg" alt="Картинка">
      </div>
    </div>
  </div>
</div>
