<section class="notification-block">
  <div class="notification-block__wrapper">
    <svg class="notification-block__icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="img/sprite.svg#icon-exclamation"></use>
    </svg>
    <p class="notification-block__text notification-block__text--thin">
      Вы не можете голосовать за представленные территории и дизайн-проекты, т.к. уже ранее отдали свой голос в другом муниципалитете.
    </p>
  </div>
</section>
