<section class="notification-block">
  <div class="notification-block__wrapper">
    <svg class="notification-block__icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="img/sprite.svg#icon-exclamation"></use>
    </svg>
    <p class="notification-block__text">
      Принять участие могут только граждане адрес проживания или регистрации которых соответствует опросу. Ознакомьтесь со&nbsp;списком доступных вам опросов
    </p>
  </div>
  <button type="button" class="button button--blue">АВТОРИЗОВАТЬСЯ</button>
</section>
