<div class="paginator">
  <a class="paginator__item paginator__item--prev paginator__item--disabled" aria-label="предыдущий">
      <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="img/sprite.svg#icon-paginator-prev"></use>
    </svg>
  </a>
  <a class="paginator__item paginator__item--current">1</a>
  <a class="paginator__item" href="#2">2</a>
  <a class="paginator__item" href="#3">3</a>
  <span class="paginator__item paginator__item--hidden">&hellip;</span>
  <a class="paginator__item paginator__item--hidden" href="#9">9</a>
  <a class="paginator__item paginator__item--hidden" href="#10">10</a>
  <a class="paginator__item paginator__item--hidden" href="#11">11</a>
  <a class="paginator__item paginator__item--next" href="#next" aria-label="следующий">
    <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="img/sprite.svg#icon-paginator-next"></use>
    </svg>
  </a>
</div>
