<!-- text with modal -->
<div class="projects-note projects-note--modal js-projects-note">
  <div class="projects-note__wrap">
    <h2 class="projects-note__title">Обратите внимание!</h2>
    <p class="projects-note__text">Сроки реализации были изменены</p>
    <a class="projects-note__link" href="#" data-modal="projects-period">Узнать
      подробнее</a>
  </div>
</div>

<!-- only text -->
<!-- <div class="projects-note">
  <div class="projects-note__wrap">
    <h2 class="projects-note__title">Сроки реализации проекта</h2>
    <p class="projects-note__text">Если проект победит на голосовании, он будет
      реализован за 17 дней.</p>
  </div> -->
</div>
