<div class="project-rules">
  <span>Указанная Вами <em>информация сохраняется в&nbsp;автоматическим режиме</em> при изменении данных объекта или каждые
    30&nbsp;секунд. При потере доступа к&nbsp;сети Интернет, Вы&nbsp;всегда сможете открыть черновик объекта
    в&nbsp;разделе Моя активность. Если вы&nbsp;не&nbsp;отправите ваш объект на&nbsp;модерацию в&nbsp;период приема
    объектов, черновик будет автоматически удален.</span>
  <a href="#">Правила&nbsp;размещения&nbsp;объекта.</a>
  <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="8" cy="8" r="8" fill="#70BF56" />
    <path d="M4 8l2.5 2.5L12 5" stroke="#fff" stroke-width="1.75" />
  </svg>
</div>
