.activity {
  .discussion__list,
  .poll__list {
    padding-top: 0;
  }
}


@include tablet {
  .activity {
    .discussion__list,
    .poll__list {
      padding-top: 0;
    }
  }
}


@include mobile {
  .activity {
    .discussion__list,
    .poll__list {
      padding-top: 0;
    }
  }
}
