.activity {
  .discussion__list,
  .poll__list {
    padding-top: 0;
  }
}

.activity__proposal-list {
  padding: 0;
  margin: 0;
}


@include tablet {
  .activity {
    .discussion__list,
    .poll__list {
      padding-top: 0;
    }
  }
}


@include mobile {
  .activity {
    .discussion__list,
    .poll__list {
      padding-top: 0;
    }
  }
}
