.activity-tabs {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: $desktop-width - 1) {
    padding: 0 24px;
  }

  @media (max-width: 800px) {
    padding: 0;
  }
}

.activity-tabs__list {
  @include list-reset;
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;
  margin-bottom: 48px;
  overflow-x: auto;

  background-image: linear-gradient(var(--color-stroke), var(--color-stroke));
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  @media (max-width: 800px) {
    padding: 0 24px;
    margin-bottom: 40px;
    background-position: 24px bottom;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 16px;
    margin-bottom: 32px;
    background-position: 16px bottom;
  }
}

.activity-tabs__item {
  flex-shrink: 0;
  margin-right: 40px;

  &:last-child {
    padding-right: 40px;
  }
}

.activity-tabs__link {
  display: block;
  padding-bottom: 13px;

  @include font-h3;
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: color $style-change-duration;

  @media (max-width: $mobile-max-width) {
    @include font-h4;
    padding-bottom: 18px;
  }

  &:hover {
    color: var(--color-interactive-default);
  }

  &:focus {
    color: var(--color-interactive-default);
    background-image: linear-gradient(var(--color-interactive-default), var(--color-interactive-default));
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 2px;
  }

  &--active {
    color: var(--color-interactive-default);
    background-image: linear-gradient(var(--color-interactive-default), var(--color-interactive-default));
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 2px;
  }
}
