.activity-index {
  padding: 24px 0 120px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 140px;
  }
}

.activity-index__back-btn {
  margin-left: 2px;

  font-size: rem(18px);
  line-height: 130%;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.activity-index__title {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
