.additional {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.additional__wrapper {
  margin-bottom: rem(16px);
  &:not(:last-child) {
    margin-right: rem(32px);
  }

  @include tablet {
    margin-right: 0;
  }
}

.additional__text {
  padding-right: 8px;
  @include font-h5;
  color: var(--color-text, $grey-default);
}

.additional__datetime {
  @include font-h5;
  color: var(--color-text, $dark-text);
  font-weight: 400;
}

.additional__link {
  @include font-h5;
}
