.address-pin {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  transition: opacity $style-change-duration;
  color: var(--color-text, $dark-text);
  font-weight: 400;
  font-size: rem(16px);
  line-height: 135%;

  svg {
    margin-right: 5px;
    flex-shrink: 0;
    display: block;
    transition: color $style-change-duration stroke $style-change-duration;
  }

  &:focus {
    color: var(--color-interactive-default, $blue-default);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-text, $dark-text);
  }

  &:active:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-default);
  }
}


@media (min-width: $desktop-width) {
  .address-pin {
    &:hover:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
    }
  }
}
