.address-pin {
  display: flex;
  align-items: center;

  span {
    color: var(--color-text, $dark-text);
    font-weight: 400;
    font-size: rem(16px);
    line-height: 135%;
  }

  svg {
    margin-right: 5px;
    flex-shrink: 0;
    display: block;
  }
}
