.all-comments {
  padding: 32px;

  @media (max-width: $tablet-width - 1) {
    padding: 24px;
    padding-top: 32px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 16px;
    padding-top: 28px;
  }
}

.all-comments__top {
  display: flex;
}

.all-comments__title {
  margin: 0;
  margin-right: 16px;
  margin-bottom: 14px;

  @include font-h2;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 8px;
  }
}

.all-comments__count {
  flex-shrink: 0;
  min-width: 40px;
  height: 40px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;

  @include font-h4;
  color: var(--color-text, $grey-default);
  text-align: center;

  border-radius: 50%;
  background-color: var(--color-bg-secondary, $color-bg);

  @media (max-width: $mobile-max-width) {
    margin-top: 16px;
  }
}

.all-comments__list {
  @include list-reset;
}

.all-comments__item {
  padding: 24px 0;

  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  & time {
    @include main-text;
    color: var(--color-text, $grey-default);
  }

  & p {
    margin: 0;
    margin-top: 12px;

    font-size: rem(15px);
    line-height: rem(27px);
  }
}

.all-comments__button {
  display: block;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
