.application-period {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  grid-area: c;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "a    c"
      "b    c";

    &>* {
      align-self: start;
    }
  }
}

.application-period .button-star {
  height: 19px;
  padding: 0;
  margin-left: auto;
  transition: opacity $style-change-duration;

  @media (min-width: $desktop-width) {
    height: 21px;
    margin-left: 24px;
    grid-area: c;
    align-self: center;

    opacity: 0;
  }
}

.application-period--favorite .button-star {
  color: var(--color-interactive-accent, $blue-default);
}

.application-period__text {
  font-size: rem(13px);
  line-height: rem(17px);
  color: var(--color-text, $grey-default);

  @media (max-width: $tablet-width - 1) {
    min-width: 100%;
    margin-bottom: 2px;

    &--completed {
      margin-right: 0;
      text-align: left;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-area: a;
    min-width: 100%;
    margin-bottom: 2px;

    &--completed {
      align-self: flex-end;
      text-align: right;
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
}

.application-period__dates {
  font-size: rem(13px);
  line-height: 130%;

  grid-area: b;
}
