.area-improvement {
  padding: 24px 0 56px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 80px;
  }
}

.area-improvement__back-btn {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.area-improvement__info {
  margin-bottom: 40px;
}

.area-improvement__title {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.area-improvement__text {
  margin: 0;
}

.area-improvement__proposal {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.area-improvement__btn {
  max-width: 740px;
  min-height: 59px;
  padding: 19px 5px;

  text-align: center;

  @media (max-width: $tablet-width - 1) {
    svg {
      display: none;
    }

    span {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 69px;
    padding-top: 24px;
    padding-left: 24px;

    text-align: start;
  }
}

.area-improvement .area-improvement__select {
  margin-bottom: 40px;

  background-color: var(--color-bg-secondary, $select-grey);
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: 5px;

  @media (max-width: $tablet-width - 1) {
    display: flex;
    justify-content: center;
  }

  .ss-main {
    @media (max-width: $tablet-width - 1) {
      width: 100%;
    }
  }

  .ss-single-selected {
    padding: 15px 16px 15px 23px;

    @media (max-width: $tablet-width - 1) {
      justify-content: center;
      padding: 15px 16px;
    }
  }

  .placeholder {
    flex: 0 0 auto;
    width: auto;

    font-size: rem(15px);
    line-height: 135%;
  }

  .ss-content {
    top: 41px;
    left: 0;

    width: 219px;

    @media (max-width: $tablet-width - 1) {
      width: 100%;
    }
  }

  .ss-main .ss-single-selected .ss-arrow {
    margin-left: 12px;
  }

  .ss-main .ss-single-selected .ss-arrow span {
    width: 8px;
    height: 8px;
  }
}

.area-improvement__paginator {
  margin-top: 0;
}

.area-improvement .activity-tabs {
  margin-bottom: 40px;
  padding: 0;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 24px;
  }

  .activity-tabs__list {
    padding: 0;
  }

  .activity-tabs__bottom {
    width: 100%;
  }
}

.area-improvement .description {
  margin: 0 0 40px;

  @include mobile {
    margin-bottom: 28px;
  }
}
