.article-link {
  display: flex;
  align-items: flex-start;
  font-size: rem(18px);
  line-height: rem(23px);
  text-decoration: none;
  user-select: none;
  color: var(--color-interactive-default, $blue-default);
  outline: none;
  transition: color $style-change-duration;

  &--content {
    max-width: 65%;
    margin-bottom: 48px;
  }

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url("../img/icon-link.svg");
    background-size: cover;
  }

  &:focus {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-default);
  }

  &:hover:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &--no-chain {
    display: block;

    &::before {
      display: none;
    }
  }
}


@include tablet {
  .article-link {
    &:hover:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
    }

    &:active:not(.focus-visible) {
      color: var(--color-interactive-accent, $blue-accent);
    }
  }
}


@include mobile {
  .article-link {
    display: block;

    &::before {
      margin-right: 0;
      margin-bottom: 16px;
    }

    &--content {
      max-width: 100%;
    }
  }
}

@media print {
  .article-link {
    display: none;
  }
}
