.budjet {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.budjet__title {
  margin: 0 0 8px;

  @media (min-width: $desktop-width) {
    min-width: 100%;
  }
}

.budjet__tip {
  margin: 0 0 32px;

  @media (min-width: $desktop-width) {
    min-width: 100%;
  }
}

.budjet__field-container {
  @media (min-width: $desktop-width) {
    width: calc((100% - 20px) / 2);
  }

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 53px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 24px;
  }
}

.budjet__wrapper {
  position: relative;

  &::before {
    content: '';

    width: 13px;
    height: 23px;

    position: absolute;
    top: 50%;
    right: 16px;

    background-image: url(../img/icon-ruble.svg);
    background-repeat: no-repeat;
    background-position: center;

    transform: translateY(-50%);

    pointer-events: none;
  }

  &--invalid {
    .budjet__input {
      border: 1px solid #f3a8a8;
    }

    .budjet__error-text {
      display: block;
    }
  }
}

.budjet__input {
  padding: 11px 32px 11px 16px;
  width: 100%;
}

.budjet__error-text {
  display: none;

  position: absolute;
  left: 0;
  bottom: -21px;

  font-weight: 400;
  font-size: rem(13px);
  line-height: 130%;

  color: $red;
}

.budjet__field-info {
  margin-top: 12px;
  display: block;

  font-weight: normal;
  font-size: 13px;
  line-height: 131%;

  color: var(--color-text, $grey-default);

  @media (min-width: $tablet-width) {
    max-width: 60%;
  }

  @media (min-width: $desktop-width) {
    max-width: 70%;
  }

}

.budjet__middle-weight {
  font-weight: 500;
}

.budjet__bold {
  font-weight: 700;
}
