.bulleted-list {
  max-width: 66%;
  margin-bottom: 48px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: 18px;

    &::marker {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 8px;
      height: 8px;
      background-color: var(--color-text, $blue-default);
      border-radius: 50%;
    }
  }

  @include mobile {
    max-width: 100%;
  }
}

.bulleted-list p {
  margin: 0;
  padding: 0;

  padding-left: 20px;

  font-family: inherit;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-text, $dark-text);
}
