.button {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 56px;
  padding-right: 56px;

  font-weight: 500;
  font-size: rem(15px);
  line-height: rem(20px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition: color $style-change-duration, background-color $style-change-duration, border-color $style-change-duration;

  @media (max-width: 400px) {
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
  }

  &:disabled {
    cursor: default;
  }

  & span {
    padding-right: 6px;
  }

  &--blue {
    color: var(--color-btn-text, $white);
    background-color: var(--color-interactive-default, $blue-default);

    &:hover,
    &:focus {
      background-color: var(--color-interactive-accent, $blue-accent);
    }

    &:disabled {
      background-color: $light-grey;
    }
  }

  &--light-blue {
    color: var(--color-btn-text, $blue-default);
    background-color: var(--color-interactive-default, $light-blue);

    &:hover,
    &:focus {
      color: var(--color-btn-text, $blue-accent);
      background-color: var(--color-interactive-accent, $light-blue);
    }

    &:disabled {
      background-color: $light-grey;
    }
  }

  &--white {
    color: var(--color-text, $blue-default);
    background-color: var(--color-bg-main, $white);
    border: 1px solid var(--color-stroke, $light-grey);

    &:hover,
    &:focus {
      color: var(--color-interactive-accent, $blue-accent);
      border-color: var(--color-interactive-accent, $light-blue-accent);
    }

    &:disabled {
      color: $light-grey;
    }
  }

  &--grey {
    color: var(--color-text, $grey);
    background-color: var(--color-bg-main, $white);
    border: 1px solid var(--color-stroke, $light-grey);

    &:hover,
    &:focus {
      color: var(--color-interactive-accent, $blue-accent);
      border-color: var(--color-interactive-accent, $light-blue-accent);
    }

    &:disabled {
      color: $light-grey;
    }
  }
}
