.button-star {
  @include btn-reset;
  padding: 5px;
  color: $light-grey;
  cursor: pointer;
  outline: none;

  &:focus {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &:focus:not(.focus-visible) {
    color: $light-grey;
  }

  &:hover:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &--active:not(.focus-visible),
  &--active:focus:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-default);
  }

  &--active:hover:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &.is-favorite:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-default);
  }

  svg {
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
}

.button-star__text {
  @include visually-hidden;

  pointer-events: none;
}

.button-star__mobile-text {
  font-size: rem(16px);
  line-height: rem(21.6px);
  color: #A6ABB2;

  @media (min-width: $tablet-width) {
    @include visually-hidden;
    pointer-events: none;
  }
}


@media (min-width: $desktop-width) {
  .button-star[data-tooltip][data-flow^="down"] {
    &::before,
    &::after {
      transform: translate(-50%, 10px);
    }

    &::before {
      top: calc(100% - 5px);
    }

    &::after {
      top: 100%;
    }
  }
}


@media print {
  .button-star {
    display: none;
  }
}
