.button-star {
  @include btn-reset;
  padding: 5px;
  color: $light-grey;
  cursor: pointer;
  outline: none;
  display: block;
  opacity: 0;

  &:focus {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &:hover {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &--active,
  &--active:focus {
    color: var(--color-interactive-default, $blue-default);
  }

  &--active:hover {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &.is-favorite {
    opacity: 1;
    color: var(--color-interactive-accent, $blue-default);
  }

  &--active {
    opacity: 1;
    display: block;
  }

  svg {
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  @media (max-width: $desktop-width) {
    display: block;
    opacity: 1;
  }
}

.button-star__text {
  @include visually-hidden;

  pointer-events: none;
}

.button-star__mobile-text {
  font-size: rem(16px);
  line-height: rem(21.6px);
  color: #A6ABB2;

  @media (min-width: $tablet-width) {
    @include visually-hidden;
    pointer-events: none;
  }
}


@media (min-width: $desktop-width) {
  .button-star[data-tooltip][data-flow^="down"] {
    &::before,
    &::after {
      transform: translate(-50%, 10px);
    }

    &::before {
      top: calc(100% - 5px);
    }

    &::after {
      top: 100%;
    }
  }
}

@media print {
  .button-star {
    display: none;
  }
}

/*
// Если надо сделать появление кнопки при наведении
// на ссылку/карточку - добавить ссылке/карточке эти стили

&:hover {
  .button-star:not(.button-star--active) {
    color: $light-grey;
    opacity: 1;

    &:hover,
    &:focus {
      color: var(--color-interactive-accent, $blue-accent);
    }
  }
}
*/

/*
// Если надо сделать кнопку всегда видимой
// добавить данные стили в комментарии внутри блока с кнопкой
// Если нужна постоянная видимость кнопки при
// разрешении < 1200px данные стили добавлять не надо

.example-block .button-star {
  display: block;
  opacity: 1;
}
*/
