.button-like {
  @include btn-reset;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  cursor: pointer;

  span {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--color-text, $grey-lighter);
    margin-right: 8px;
    transition: color $style-change-duration;
  }

  svg {
    width: 20px;
    height: 20px;

    path {
      transition: fill $style-change-duration;
    }
  }

  svg path.stroked {
    fill: var(--color-text, $grey-lighter);
    transition: fill $style-change-duration;
  }

  &:last-child {
    margin-right: 0;
  }

  &--dislike {
    svg {
      transform: rotateX(180deg) translateY(-4px);
      transform-origin: center;
    }
  }

  &--bordered {
    max-width: calc(100% / 2 - 5px);
    width: 100%;
    margin-right: 0;
    padding: 12px 44px 16px 44px;
    border: 1px solid var(--color-text, $grey-lighter);
    border-radius: 5px;
    transition: border-color $style-change-duration;

    span {
      margin-right: 6px;
      font-size: 15px;
      font-weight: 500;
      white-space: nowrap;
    }

    svg {
      flex-shrink: 0;
    }

    &.liked {
      border-color: var(--color-interactive-default, $blue-accent);
    }

    &:hover,
    &:focus {
      border-color: var(--color-interactive-default, $blue-accent);
    }
  }

  &.liked {
    span {
      color: var(--color-interactive-default, $blue-default);
    }

    svg .stroked {
      fill: none;
    }

    svg .filled {
      fill: var(--color-interactive-default, $blue-default);
    }

    &:hover,
    &:focus {
      svg .stroked {
        fill: none;
      }

      svg .filled {
        fill: var(--color-interactive-default, $blue-accent);
      }
    }
  }

  &:hover,
  &:focus {
    outline: none;

    span {
      color: var(--color-interactive-default, $blue-accent);
    }

    svg .stroked {
      fill: var(--color-interactive-default, $blue-accent);
    }
  }
}
