.button {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 56px;
  padding-right: 56px;

  font-weight: 500;
  font-size: rem(15px);
  line-height: rem(20px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition: color $style-change-duration, background-color $style-change-duration, border-color $style-change-duration;

  @media (max-width: 400px) {
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
  }

  &:disabled {
    cursor: default;
  }

  & span {
    padding-right: 6px;
  }

  &--blue {
    color: var(--color-bg-secondary, $white);
    background-color: var(--color-text, $blue-default);

    &:hover,
    &:focus {
      color: var(--color-text, $white);
      background-color: var(--color-bg-secondary, $blue-accent);
    }

    &:disabled,
    &.disabled {
      background-color: var(--color-text, #C0D6EB);
      cursor: auto;
      pointer-events: none;
    }
  }

  &--light-blue {
    color: var(--color-bg-secondary, $blue-default);
    background-color: var(--color-text, $light-blue);

    &:hover,
    &:focus {
      color: var(--color-text, $blue-accent);
      background-color: var(--color-bg-secondary, $light-blue);
    }

    &:disabled,
    &.disabled {
      background-color: var(--color-text, $blue-default);
      cursor: auto;
      pointer-events: none;
    }
  }

  &--white {
    color: var(--color-bg-secondary, $blue-default);
    background-color: var(--color-text, $white);
    border: 1px solid var(--color-text, $light-grey);

    &:hover,
    &:focus {
      color: var(--color-text, $blue-accent);
      background-color: var(--color-bg-secondary, transparent);
      border-color: var(--color-bg-secondary, $light-blue-accent);
    }

    &:disabled {
      color: $light-grey;
    }
  }

  &--grey {
    color: var(--color-bg-secondary, $grey);
    background-color: var(--color-text, $white);
    border: 1px solid var(--color-text, $light-grey);

    &:hover,
    &:focus {
      color: var(--color-text, $blue-accent);
      background-color: var(--color-bg-secondary, transparent);
      border-color: var(--color-bg-secondary, $light-blue-accent);
    }

    &:disabled {
      color: $light-grey;
    }
  }

  &--show-all {
    text-transform: inherit;
    border: none;
    background-color: transparent;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0;
    color: $blue-default;
    display: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: none;
      background-color: transparent;
      color: $blue-accent;
    }

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  &--white-content {
    max-width: 66%;
    width: 100%;
    margin-bottom: 48px;
    padding-left: 23px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 15px;
    text-align: left;

    @include mobile {
      max-width: 100%;
    }
  }

  &--update {
    font-size: rem(15px);
    line-height: rem(20.25px);
    font-weight: 500;
  }
}

@media print {
  .button {
    display: none;
  }
}

.button-more-text {
  display: inline;

  .is-shown & {
    display: none;
  }
}

.button-less-text {
  display: none;

  .is-shown & {
    display: inline;
  }
}

.button.is-shown svg {
  transform: rotate(180deg);
}
