.button-star {
  @include btn-reset;
  padding: 5px;
  color: $light-grey;
  cursor: pointer;
  outline: none;

  &:focus {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &:focus:not(.focus-visible) {
    color: $light-grey;
  }

  &:hover:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &--active:not(.focus-visible),
  &--active:focus:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-default);
  }

  &--active:hover:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-accent);
  }

  svg {
    pointer-events: none;
  }
}

@media print {
  .button-star {
    display: none;
  }
}
