.cluster-icon {
    background-color: $blue-default;
    font-size: rem(18px);
    line-height: rem(23.4px);
    color: $white;
    font-weight: normal;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}
