.comments-tab {
  height: 46px;
  overflow: hidden;

  transition: height $style-change-duration-slow;
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: 5px;

  @media (max-width: $tablet-width - 1) {
    height: 64px;
  }

  & button {
    display: flex;
    min-width: 100%;
    padding: 11px 20px 11px 16px;

    font-weight: 400;
    font-size: 0.94rem;
    line-height: 1.375rem;
    color: var(--color-text, $dark-text);

    border: none;
    outline: none;

    cursor: pointer;
    transition: color $style-change-duration;

    background-color: transparent;

    @media (max-width: $tablet-width - 1) {
      line-height: 135%;
      text-align: left;
      padding: 11px 17px 11px 17px;
    }

    & span {
      @media (max-width: $tablet-width - 1) {
       max-width: 275px;
      }
    }

    & svg {
      margin-top: 4px;
      margin-left: auto;
      transform: rotate(-90deg);
      color: var(--color-interactive-default, $blue-default);
      transition: transform $style-change-duration;

      @media (max-width: $tablet-width - 1) {
        align-self: center;
        width: 10px;
        height: 16px;
      }
    }
  }
}

.comments-tab--opened button {
  & svg {
    transform: rotate(90deg);
  }
}

.comments-tab__content {
  padding: 24px 16px 23px;

  border-top: 1px solid var(--color-stroke, $light-grey);
}

.comments-tab__heading {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 0.94rem;
  line-height: 135%;

  color: var(--color-text, $dark-text);
}

.comments-tab__text {
  margin: 0;
  font-weight: 400;
  font-size: 0.94rem;
  line-height: 180%;

  color: var(--color-text, $dark-text);
}

@media (min-width: $desktop-width) {
    .comments-tab button:hover:not(.focus-visible) {
      color: var(--color-interactive-default, #2c8ecc);
  }
}

