.composite-poll__title {
  margin-bottom: 38px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 32px;
  }
}

.composite-poll__date {
  margin: 0;
  margin-bottom: 32px;

  @include font-h5;
  color: $grey-default;

  & b {
    color: $dark-text;
    font-weight: 400;
  }
}

.composite-poll__description {
  margin: 0;
  margin-bottom: 16px;
  padding: 32px;

  @include main-text;
  color: $dark-text;
  line-height: rem(27px);

  background-color: $color-bg;
  border-radius: 5px;

  @media (max-width: $mobile-max-width) {
    padding: 24px;
    margin-bottom: 10px;
  }

  &--process {
    margin-bottom: 120px;
  }
}

.composite-poll__process {
  margin-bottom: 26px;
}

.composite-poll__button-wrapper {
  margin-top: 40px;
  margin-bottom: 120px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 88px;
  }
}

.composite-poll__button {
  font-size: 14px;
  line-height: 19px;
}
