.composite-poll__title {
  margin-bottom: 38px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 32px;
  }
}

.composite-poll__date {
  margin: 0;
  margin-bottom: 32px;

  @include font-h5;
  color: var(--color-text, $grey-default);

  & time {
    color: var(--color-text, $dark-text);
    font-weight: 400;
  }
}

.composite-poll__description {
  margin: 0;
  padding: 32px;

  @include main-text;
  line-height: rem(27px);
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;

  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: 5px;
  overflow: hidden;

  @media (max-width: $mobile-max-width) {
    padding: 24px;
  }

  & a {
    @media (max-width: $tablet-width - 1) {
      display: block;
    }
  }
}

.composite-poll__process {
  margin-bottom: 26px;
}

.composite-poll__button-wrapper {
  margin-top: 40px;
}

.composite-poll__button {
  font-size: 14px;
  line-height: 19px;
}
