.content {
  h1:not([class]) {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: rem(40px);
    line-height: rem(47px);
  }

  h2:not([class]) {
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: rem(30px);
    line-height: rem(36px);
  }

  p:not([class]) {
    margin: 0;
    font-size: rem(15px);
    line-height: rem(27px);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  ul:not([class]) {
    @include list-reset;

    padding: 32px;
    margin-bottom: 48px;
    font-size: rem(16px);
    line-height: rem(22px);
    background-color: var(--color-bg-secondary);
    border-radius: $border-radius;

    li {
      position: relative;
      padding-left: 14px;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 6px;
        background-color: var(--color-text-secondary);
        border-radius: 50%;
      }
    }
  }

  strong:not([class]),
  b:not([class]) {
    font-weight: 500;
  }

  img:not([class]) {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 48px;
  }

  .highlighted-text {
    position: relative;
    padding-left: 27px;
    margin-bottom: 48px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      height: auto;
      background-color: var(--color-interactive-default);
      border-radius: $border-radius;
    }
  }

  a:not([class]) {
    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;
    font-size: rem(18px);
    line-height: rem(23px);
    text-decoration: none;
    user-select: none;
    color: var(--color-interactive-default);
    outline: none;
    transition: color $style-change-duration;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      background-image: url("../img/icon-link.svg");
      background-size: cover;
    }

    &:focus {
      color: var(--color-interactive-accent);
    }

    &:focus:not(.focus-visible) {
      color: var(--color-interactive-default);
    }

    &:hover:not(.focus-visible) {
      color: var(--color-interactive-accent);
    }
  }

  a[href*="youtube"]:not([class]) {
    padding: 23px;
    border: 1px solid var(--color-stroke);
    border-radius: $border-radius;

    &::before {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      background-image: url("../img/icon-youtube.svg");
    }
  }


  @include tablet {
    h1:not([class]),
    h2:not([class]),
    p:not([class]),
    img:not([class]),
    ul:not([class]),
    a:not([class]),
    .highlighted-text {
      width: calc(100% - 2 * #{$tablet-padding});
      margin-right: $tablet-padding;
      margin-left: $tablet-padding;
    }

    .highlighted-text p:not([class]) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }

    h1:not([class]) {
      margin-bottom: 32px;
    }

    a:not([class]) {
      &:hover:not(.focus-visible) {
        color: var(--color-interactive-default);
      }

      &:active:not(.focus-visible) {
        color: var(--color-interactive-accent);
      }
    }
  }


  @include mobile {
    h1:not([class]),
    h2:not([class]),
    p:not([class]),
    img:not([class]),
    ul:not([class]),
    a:not([class]),
    .highlighted-text {
      width: calc(100% - 2 * #{$mobile-padding});
      margin-right: $mobile-padding;
      margin-left: $mobile-padding;
    }

    .highlighted-text p:not([class]) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }

    h1:not([class]) {
      margin-bottom: 24px;
      font-size: rem(30px);
      line-height: rem(36px);
    }

    h2:not([class]) {
      margin-top: 48px;
    }

    ul:not([class]) {
      padding: 24px;
    }

    img:not([class]) {
      margin-bottom: 40px;
    }

    a:not([class]) {
      display: block;
      margin-bottom: 32px;

      &::before {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
}
