.container {
  max-width: $desktop-width;
  padding: 0 40px;
  margin: 0 auto;

  @include tablet {
    padding: 0 24px;

    &--desktop-only {
      padding: 0;
    }
  }

  @include mobile {
    padding: 0 16px;

    &--desktop-only {
      padding: 0;
    }
  }
}
