.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;

  background-color: var(--color-bg-main, $white);
  box-shadow: 0 -4px 8px rgba(46, 67, 102, 0.1);

  &.js_hide {
    display: none;
  }
}

.cookie__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet {
    flex-direction: column;
  }
}

.cookie__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: rem(15px);
  line-height: 1.35;
}

.cookie__text {
  margin: 0;

  font-size: rem(13px);
  line-height: 1.3;
  color: var(--color-text, $grey);

  @include tablet {
    padding-bottom: 10px;
  }
}

.cookie__button {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 175px;
  margin-right: 16px;
  margin-left: 40px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $desktop-width) and (max-width: 1250px) {
    margin-right: 32px;
  }

  @include tablet {
    margin: 0;
  }

  @include mobile {
    align-self: flex-start;
  }
}

@media print {
  .cookie {
    display: none;
  }
}
