.date {
  position: relative;

  padding-left: 24px;

  font-size: rem(14px);
  line-height: 130%;
  color: var(--color-text, $grey-default);

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon-time.svg);
    background-repeat: no-repeat;
  }

  time {
    padding-left: 5px;
  }
}
