.description {
  margin: 25px 0;
  padding: 15px;

  font-size: rem(13px);
  line-height: rem(17px);
  font-weight: 400;
  color: var(--color-text, $grey);

  background-color: var(--color-bg-secondary, $color-bg);
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: 5px;

  b {
    font-weight: 500;
  }

  @media (min-width: $tablet-width) {
    font-size: rem(15px);
    line-height: rem(20px);
  }

  @media (max-width: $tablet-width) {
    margin: 40px 0;
  }

  @media (max-width: $mobile-max-width) {
    margin: 30px 0;
  }
}
