.direct-line-section {
  padding-top: 72px;

  .section__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .section__title-wrap {
      align-items: center;
      margin-bottom: 12px;
    }
  }

  .concurrent-projects__status-wrapper {
    margin-bottom: 11px;
  }

  .project-status {
    padding-left: 21px;

    &:before {
      left: 12px;
    }
  }
}
