.discussion-list {
  margin-top: 22px;
}

.discussion-list__title-wrapper {
  padding-bottom: 24px;
  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  @media (max-width: $tablet-width - 1) {
    padding-bottom: 32px;
  }

  h2 {
    display: inline;
    margin: 0;
    font-weight: 400;
    font-size: rem(30px);
    line-height: rem(36px);
  }

  .info-tooltip {
    margin-left: 5px;
    transform: translateY(-2px);
  }
}

.discussion-list__button {
  width: 360px;
  margin: 0 auto;
  margin-top: 24px;

  @media (max-width: $tablet-width - 1) {
    margin-top: 40px;
    margin-bottom: 32px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-top: 32px;
  }
}

.discussion-list__button-wrapper {
  display: flex;
  justify-content: center;
}
