.discussion-item {
  display: flex;
  padding: 24px 0;

  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  @media (max-width: $desktop-width - 1) {
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 32px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 32px;
  }
}

.discussion-item__content {
  display: flex;
  width: 740px;
  margin-right: 74px;

  @media (max-width: $desktop-width - 1) {
    width: 100%;
    margin-right: 0;
  }

  & p {
    @include main-text;
    line-height: rem(27px);

    margin: 0;
  }
}

.discussion-item__img-wrapper {
  width: 740px;
  height: 416px;
  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: 5px;

  @media (max-width: $desktop-width - 1) {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0;
  }

  @media (max-width: $mobile-max-width) {
    height: 310px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @media (max-width: $mobile-max-width) {
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

.discussion-item__wrapper {
  display: flex;
  align-items: flex-start;
  width: 306px;
  padding-top: 8px;

  @media (max-width: $desktop-width - 1) {
    padding-top: 32px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.discussion-item__link {
  display: flex;
  align-items: center;

  @include main-text;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text, $grey-default);

  transition: color $style-change-duration;

  & svg {
    margin-right: 8px;
  }

  &--add {
    margin-left: auto;
    margin-right: 22px;
    font-weight: 400;

    @media (max-width: $mobile-max-width) {
      margin-right: 0;
    }

    & svg {
      margin-right: 5px;
    }
  }

  &:hover,
  &:focus {
    color: var(--color-interactive-default, $blue-default);
  }
}
