.discussion-list {
  margin-top: 24px;

  @media (max-width: $tablet-width - 1) {
    margin-top: 0;
  }

  & h2 {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: rem(30px);
    line-height: rem(36px);

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 10px;
    }
  }
}

.discussion-list__button {
  width: 360px;
  margin: 0 auto;
  margin-top: 24px;

  @media (max-width: $tablet-width - 1) {
    margin-top: 40px;
    margin-bottom: 32px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-top: 32px;
  }
}

.discussion-list__button-wrapper {
  display: flex;
  justify-content: center;
}
