.file-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 364px;
  padding: 18px 23px;
  font-size: rem(13px);
  line-height: rem(17px);
  color: var(--color-text, $dark-text);
  text-decoration: none;
  user-select: none;
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: $border-radius;
  outline: none;
  transition: color $style-change-duration;

  &:focus {
    color: var(--color-interactive-default, $blue-default);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-text, $dark-text);
  }

  &:active:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-default);
  }

  &--small {
    width: auto;
    padding: 0;
    border: none;
  }

  &--white {
    color: $white;
    transition: opacity $style-change-duration;

    &:focus {
      color: $white;
      opacity: 0.6;
    }

    &:focus:not(.focus-visible) {
      color: $white;
      opacity: 1;
    }

    &:active:not(.focus-visible) {
      color: $white;
      opacity: 0.6;
    }
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.file-item svg {
  flex-shrink: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.mod-theme-inverse .file-item svg,
.mod-theme-blue .file-item svg,
.mod-theme-comfort .file-item svg,
.mod-theme-brown .file-item svg {
  display: none;
}

.file-item__info {
  flex-grow: 1;
  margin: 0;
  overflow: hidden;
}

.file-item__name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mod-theme-inverse .file-item--white .file-item__name,
.mod-theme-blue .file-item--white .file-item__name,
.mod-theme-comfort .file-item--white .file-item__name,
.mod-theme-brown .file-item--white .file-item__name {
  text-decoration: underline;
}

.mod-theme-inverse .file-item--white .file-item__name {
  color: var(--color-bg-main);
}

.file-item__size {
  font-size: 300;
  text-transform: uppercase;
  color: var(--color-text, $grey-default);
}

.file-item--white .file-item__size {
  color: $light-blue-accent;
}

.mod-theme-blue .file-item--white .file-item__size,
.mod-theme-comfort .file-item--white .file-item__size,
.mod-theme-brown .file-item--white .file-item__size {
  color: $white;
}

.mod-theme-inverse .file-item--white .file-item__size {
  color: var(--color-bg-main);
}


@media (min-width: $desktop-width) {
  .file-item {
    &:hover:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
    }

    &--white {
      &:hover:not(.focus-visible) {
        color: $white;
        opacity: 0.6;
      }
    }
  }
}

@media print {
  .file-item {
    display: none;
  }
}
