.files {
  display: grid;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  grid-template-rows: auto;
  grid-gap: 12px;
  width: 100%;

  .file-item {
    width: 100%;
  }

  &--one-column {
    display: flex;
    flex-wrap: wrap;

    .file-item {
      margin-bottom: 12px;
    }
  }

  &--gray {
    .file-item {
      background-color: ar(--color-bg-secondary, $color-bg);
    }

    .file-item__name {
      font-size: rem(15px);
      line-height: 135%;
    }
  }
}


@include mobile {
  .files {
    display: block;

    .file-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
