.file-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 364px;
  padding: 18px 23px;
  font-size: rem(13px);
  line-height: rem(17px);
  color: var(--color-text-main);
  text-decoration: none;
  user-select: none;
  border: 1px solid var(--color-stroke);
  border-radius: $border-radius;
  outline: none;
  transition: color $style-change-duration;

  &:focus {
    color: var(--color-interactive-default);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-text-main);
  }

  &:active:not(.focus-visible) {
    color: var(--color-interactive-default);
  }
}

.file-item svg {
  flex-shrink: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.file-item__info {
  flex-grow: 1;
  margin: 0;
  overflow: hidden;
}

.file-item__name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-item__size {
  text-transform: uppercase;
  color: var(--color-text-caption);
}


@media (min-width: $desktop-width) {
  .file-item {
    &:hover:not(.focus-visible) {
      color: var(--color-interactive-default);
    }
  }
}

@media (max-width: $mobile-max-width) {
  .file-item {
    width: 100%;
  }
}
