.form-checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.form-checkbox label {
  @include main-text;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  cursor: pointer;
  transition: all $style-change-duration;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: var(--color-bg-main);
    border-radius: 5px;
    border: 1px solid rgba(161, 167, 174, 0.5);
    transition: all $style-change-duration;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 10px;
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all $style-change-duration;
  }
}

.form-checkbox input[type="checkbox"]:not(:checked) ~ label {
  &:hover {
    &::before {
      border: 1px solid var(--color-interactive-accent);
    }
  }
}


.form-checkbox input[type="checkbox"]:checked ~ label {
  &::before {
    background-color: var(--color-interactive-default);
  }

  &::after {
    display: block;
  }
}

.form-checkbox input[type="checkbox"]:disabled ~ label {
  cursor: text;

  &::before {
    background-color: #f9f9fa;
  }

  &::after {
    display: block;
    background-image: url("../img/checkbox-disabled.svg");
  }

  &:hover {
    &::before {
      border: 1px solid rgba(161, 167, 174, 0.5);
    }
  }
}
