.form-radio {
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
}

.form-radio label {
  @include main-text;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all $style-change-duration;
  font-weight: 400;
  font-size: rem(16px);
  line-height: 150%;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: var(--color-bg-main, $white);
    border-radius: 50%;
    border: 1px solid var(--color-stroke, $light-grey);
    transition: all $style-change-duration;
    margin-top: 3px;
  }

  span {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 28px;
    margin-top: 3px;
    font-size: rem(13px);
    line-height: rem(15px);
    color: var(--color-text, $light-text);
    opacity: 0.75;
  }

  @include mobile {
    font-size: rem(14px);
  }
}

.form-radio input[type="radio"]:not(:checked):not(:disabled) ~ label {
  &:hover {
    &::before {
      border: 1px solid var(--color-interactive-default, $blue-sail);
    }
  }
}

.form-radio input[type="radio"]:not(:checked):focus-visible,
.form-radio input[type="radio"]:checked:focus-visible,
.form-radio input[type="radio"]:disabled:focus-visible {
  & ~ label {
    outline: 2px solid var(--color-interactive-default, $blue-sail);
  }
}

.form-radio input[type="radio"]:checked ~ label {
  &::before {
    border: 6px solid var(--color-interactive-default, $blue-default);
  }
}

.form-radio input[type="radio"]:disabled ~ label {
  color: var(--color-text, $light-grey);
  cursor: text;

  &::before {
    background-color: $color-bg;
  }

  //&:hover {
  //  &::before {
  //    border: 1px solid var(--color-stroke, rgba(161, 167, 174, 0.5));
  //  }
  //}
}

//по выбранному радио нельзя кликать
.form-radio input[type="radio"]:checked ~ label {
  &::before {
    border: 6px solid var(--color-interactive-default, $blue-default);
  }
  pointer-events: none;
}
