.form__section {
  padding-top: 32px;
  padding-bottom: 18px;

  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;


  @media (max-width: $mobile-max-width) {
    padding-top: 24px;
    padding-bottom: 8px;
  }

  &--padding-min {
    padding-bottom: 8px;
  }

  .description-block {
    margin-bottom: 25px;
  }
}

.form__range-wrapper {
  margin-top: 34px;
  margin-bottom: 16px;

  @media (max-width: $mobile-max-width) {
    margin-top: 24px;
  }
}

.form__button-wrapper {
  margin-top: 40px;

  @media (max-width: $mobile-max-width) {
    margin-top: 32px;
  }

  &--composite-poll {
    display: flex;

    @media (max-width: $mobile-max-width) {
      flex-direction: column;
    }
  }
}

.form__submit {
  &--composite-poll {
    margin-right: 16px;
    width: 230px;

    font-size: rem(14px);
    line-height: rem(19px);

    @media (max-width: $tablet-width - 1) {
      margin-right: 12px;
    }

    @media (max-width: $mobile-max-width) {
      margin-right: 0;
      margin-bottom: 16px;
      width: 100%;
    }
  }
}

.form__btn {
  &--composite-poll {
    width: 332px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: rem(14px);
    line-height: rem(19px);

    @media (max-width: $mobile-max-width) {
      width: 100%;
    }
  }
}


.form__question {
  margin: 0;
  margin-bottom: 12px;

  @include font-h5;
}

.form__description {
  margin: 0;
  margin-bottom: 24px;

  @include main-text;
  color: var(--color-text, $grey-default);
}
