.form-select {
  & .jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
  }

  & .jq-selectbox__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: $tablet-width - 1) {
      max-width: 288px;
    }
  }

  & .jq-selectbox__select-text {
    @include font-h2;
    color: $blue-default;

    background-image: linear-gradient(to right, $light-blue-accent 0%, $light-blue-accent 50%, transparent 50%, transparent 75%);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 8px 2px;

    transition: all 0.4s ease;

    &:hover,
    &:focus {
      color: $blue-accent;
    }
  }

  & .jq-selectbox__trigger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20px;
    height: 100%;
    border-left: 0;
    margin-left: 9px;
  }

  & .jq-selectbox__trigger-arrow {
    width: 20px;
    height: 12px;
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
    background-size: auto;
    transition: all 0.5s;

    &--rotate {
      transform: rotate(180deg);
    }
  }

  & .jq-selectbox__dropdown {
    color: $dark-text;
    right: 0;

    min-width: 343px;
    min-height: 336px;

    @media (max-width: $tablet-width - 1) {
      right: auto;
      left: 0;
    }

    @media (max-width: 400px) {
      min-width: 100%;
      right: auto;
      left: 0;
    }
  }

  & .jq-selectbox__dropdown ul {
    width: 343px;
    min-height: 336px;
    position: relative;
    padding-left: 0;
    padding-top: 8px;
    margin-top: 14px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: $color-bg;
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
    border-radius: 5px;

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  & .jq-selectbox li {
    padding: 8px 24px;
    white-space: normal;
    transition: all 0.4s ease;

    &.selected,
    &.sel {
      color: $blue-accent;
    }

    &:hover {
      color: $blue-default;
      background-color: #f5f6f7;
    }
  }

  & .ps__thumb-y {
    right: 8px;
  }
}
