.form-range {
  width: 308px;
  padding-left: 5px;
  padding-right: 5px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }

  & .noUi-horizontal {
    height: 6px;
    background: var(--color-stroke, $light-grey);
    cursor: pointer;
  }

  & .noUi-target {
    border: none;
  }

  & .noUi-connect {
    background: var(--color-interactive-default, $blue-default);
  }

  & .noUi-horizontal .noUi-handle {
    top: -9px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--color-bg-main, $white);
    border: 8px solid var(--color-interactive-default, $blue-default);
    box-shadow: none;

    cursor: pointer;
    transition: border-color $style-change-duration;

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      border-color: var(--color-interactive-accent, $blue-accent);
    }

    &:focus {
      outline: none;
    }
  }

  & .noUi-marker-normal {
    display: none;
  }

  & .noUi-pips-horizontal {
    top: 0;
    height: 0;
    padding: 0;
  }

  & .noUi-marker-horizontal.noUi-marker-large {
    display: none;
  }

  & .noUi-marker-horizontal.noUi-marker-sub {
    width: 1px;
    background-color: var(--color-text, $grey-default);
    height: 6px;
    z-index: 1;

    &.form-range__accent {
      background-color: var(--color-bg-main, $white);
    }
  }

  & .noUi-value {
    display: none;
  }

  & .noUi-tooltip {
    font-weight: 500;
    font-size: rem(16px);
    line-height: 135%;
    color: var(--color-text, $dark-text);
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-bg-main, $white);
    border: none;
  }

  & .noUi-horizontal .noUi-tooltip {
    bottom: 200%;
  }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -12px;
}

.form-range__value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @include font-h5;
  color: var(--color-text, $grey-default);

  & span:nth-child(2) {
    margin-left: 10px;
  }
}

.form-range__description {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  @include caption-text;
  color: var(--color-text, $grey-default);
}

[disabled] .noUi-connect,
.slide-disabled .noUi-connect {
  background-color: #B8B8B8;
}

.form-range [disabled]  .noUi-handle,
.form-range .slide-disabled .noUi-handle {
  border-color: #B8B8B8;

  &:hover {
    border-color: #B8B8B8;
  }
}
