.form-radio {
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
}

.form-radio label {
  @include main-text;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  cursor: pointer;
  transition: all $style-change-duration;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: var(--color-bg-main, $white);
    border-radius: 50%;
    border: 1px solid var(--color-stroke, rgba(161, 167, 174, 0.5));
    transition: all $style-change-duration;
  }
}

.form-radio input[type="radio"]:not(:checked) ~ label {
  &:hover {
    &::before {
      border: 1px solid var(--color-interactive-default, $blue-accent);
    }
  }
}

.form-radio input[type="radio"]:not(:checked):focus-visible,
.form-radio input[type="radio"]:checked:focus-visible,
.form-radio input[type="radio"]:disabled:focus-visible {
  & ~ label {
    outline: 2px solid var(--color-interactive-default, $blue-accent);
  }
}

.form-radio input[type="radio"]:checked ~ label {
  &::before {
    border: 6px solid var(--color-interactive-default, $blue-default);
  }
}

.form-radio input[type="radio"]:disabled ~ label {
  color: $grey-default;
  cursor: text;

  &::before {
    background-color: $color-bg;
  }

  &:hover {
    &::before {
      border: 1px solid var(--color-stroke, rgba(161, 167, 174, 0.5));
    }
  }
}

//по выбранному радио нельзя кликать
.form-radio input[type="radio"]:checked ~ label {
  &::before {
    border: 6px solid var(--color-interactive-default, $blue-default);
  }
  pointer-events: none;
}
