.form-range {
  width: 308px;
  padding-left: 5px;
  padding-right: 5px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }

  & .noUi-horizontal {
    height: 6px;
    background: $light-grey;
    cursor: pointer;
  }

  & .noUi-target {
    border: none;
  }

  & .noUi-connect {
    background: rgba($blue-default, 1);
  }

  & .noUi-horizontal .noUi-handle {
    top: -9px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: $white;
    border: 8px solid $blue-default;
    box-shadow: none;

    cursor: pointer;
    transition: border-color $style-change-duration;

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      border-color: $blue-accent;
    }

    &:focus {
      outline: none;
    }
  }

  & .noUi-marker-normal {
    display: none;
  }

  & .noUi-pips-horizontal {
    padding: 0;
    top: 0;
  }

  & .noUi-marker-horizontal.noUi-marker-large {
    display: none;
  }

  & .noUi-marker-horizontal.noUi-marker-sub {
    width: 1px;
    background-color: $grey-default;
    height: 6px;
    z-index: 1;

    &.form-range__accent {
      background-color: $white;
    }
  }

  & .noUi-value {
    display: none;
  }

  & .noUi-tooltip {
    border: none;

    @include font-h5;
    color: $dark-text;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }

  & .noUi-horizontal .noUi-tooltip {
    bottom: 200%;
  }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -12px;
}

.form-range__value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @include font-h5;
  color: $grey-default;

  & span:nth-child(2) {
    margin-left: 10px;
  }
}

.form-range__description {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  @include caption-text;
  color: $grey-default;
}
