.form-select {
  position: relative;
  display: inline;

  & .select-dropcontainer {
    position: absolute;
    top: 30px;
    right: 0;

    @include main-text;
    color: $dark-text;
  }

  & .select-trigger {
    position: relative;
    padding-right: 20px;

    @include font-h2;
    color: $blue-default;
    text-decoration: none;
    border: none;
    transition: all 0.4s ease;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: -10px;
      width: 20px;
      height: 12px;
      background-image: url("../img/select-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      color: $blue-accent;
    }
  }

  & .select-activetrigger {
    position: relative;
    padding-right: 20px;

    @include font-h2;
    color: $blue-default;
    text-decoration: none;
    border: none;

    background-image: linear-gradient(to right, $light-blue-accent 0%, $light-blue-accent 50%, transparent 50%, transparent 75%);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 8px 2px;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: -10px;
      width: 20px;
      height: 12px;
      background-image: url("../img/select-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      color: $blue-accent;
    }
  }

  & .select-dropcontainer ul {
    @include list-reset;

    width: 343px;

    background-color: $color-bg;
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
    border-radius: 5px;

    transition: all 0.4s ease;
  }

  & .select-dropcontainer ul li {
    padding: 8px 24px;
  }

  & .select-dropcontainer ul a {
    text-decoration: none;
  }

  & .select-dropcontainer ul li:hover {
    color: $blue-accent;
    background-color: #f5f6f7;
    outline: none;
  }

  & .select-dropdownhidden {
    display: none;
  }

  & .select-dropdownvisible {
    height: 336px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: 6px;
  }

  & .select-dropdownvisible::-webkit-scrollbar {
    width: 6px;
  }
}
