.form-select {
  & .ss-main {
    width: auto;
    max-width: 100%;
  }

  & .ss-main .ss-single-selected .ss-arrow span {
    width: 12px;
    height: 12px;
    border-color: $blue-default;

    &:focus {
      outline: none;
    }
  }

  & .ss-main .ss-content .ss-list .ss-option.ss-disabled {
    color: $blue-default;
    cursor: default;
    background-color: $color-bg;
  }

  & .ss-main .ss-content,
  .ss-main .ss-content .ss-search input,
  .ss-main .ss-multi-selected {
    background-color: $color-bg;
  }

  & .ss-content {
    border: none;
  }

  & .ss-option {
    @include main-text;
    color: $dark-text;
  }

  & .ss-main .ss-content .ss-list .ss-optgroup-label-selectable:hover,
  .ss-main .ss-content .ss-list .ss-option.ss-highlighted,
  .ss-main .ss-content .ss-list .ss-option:hover {
    color: $blue-accent;
    background-color: #f5f6f7;
  }

  & .ss-main .ss-content {
    top: calc(100% + 8px);
    right: 0;
    width: 343px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
    border-radius: 5px;

    @media (max-width: $tablet-width - 1) {
      right: auto;
      left: 0;
      width: 288px;
    }
  }

  & .ss-main .ss-content .ss-list {
    max-height: 336px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    & .scrollbar-track {
      background-color: transparent;
      margin-right: 8px;
    }

    & .scrollbar-thumb {
      width: 6px;
      min-height: 242px;
      background-color: $light-grey;
      border-radius: 5px;
    }
  }

  & .ss-main .ss-multi-selected,
  .ss-main .ss-single-selected,
  .ss-main .ss-single-selected .placeholder .ss-disabled {
    height: 36px;

    @include font-h2;
    color: $blue-default;

    border: none;
    background-color: transparent;

    transition: color $style-change-duration;

    &:hover {
      color: $blue-accent;
    }
  }

  & .ss-main .ss-single-selected .placeholder {
    display: inline-block;
    background-image: linear-gradient(to right, $light-blue-accent 0%, $light-blue-accent 50%, transparent 50%, transparent 75%);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 8px 2px;

    @media (max-width: $tablet-width - 1) {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  & .ss-main .ss-single-selected {
    padding: 0;
  }

  & .ss-main .ss-content .ss-list .ss-option {
    padding: 8px 24px;
  }

  & .ss-main .ss-single-selected .ss-arrow,
  .ss-main .ss-single-selected .ss-deselect {
    margin-left: 9px;
  }
}
