.form__section {
  padding-top: 32px;
  padding-bottom: 18px;

  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:last-child {
    background-image: unset;
    padding-bottom: 0;
  }


  @media (max-width: $mobile-max-width) {
    padding-top: 24px;
    padding-bottom: 8px;
  }

  &--padding-min {
    padding-bottom: 8px;
  }

  .description-block {
    margin-bottom: 25px;
  }

  .cards-list {
    margin-bottom: -5px;

    .poll-result & {
      max-width: 800px;
    }

    @include mobile {
      margin-bottom: 10px;
    }
  }
}

.form__range-wrapper {
  margin-top: 34px;
  margin-bottom: 16px;

  @media (max-width: $mobile-max-width) {
    margin-top: 24px;
  }
}

.form__button-wrapper {
  margin-top: 40px;

  @media (max-width: $mobile-max-width) {
    margin-top: 32px;
  }

  &--composite-poll {
    display: flex;

    @media (max-width: $mobile-max-width) {
      flex-direction: column;
    }
  }
}

.form__submit {
  &--composite-poll {
    margin-right: 16px;
    width: 230px;

    font-size: rem(14px);
    line-height: rem(19px);

    @media (max-width: $tablet-width - 1) {
      margin-right: 12px;
    }

    @media (max-width: $mobile-max-width) {
      margin-right: 0;
      margin-bottom: 16px;
      width: 100%;
    }
  }
}

.form__btn {
  &--composite-poll {
    width: 332px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: rem(14px);
    line-height: rem(19px);

    @media (max-width: $mobile-max-width) {
      width: 100%;
    }
  }
}


.form__question {
  margin: 0;
  margin-bottom: 12px;

  @include font-h5;
}

.form__description {
  margin: 0;
  margin-bottom: 24px;

  @include main-text;
  color: var(--color-text, $grey-default);
}

.form__input-date-wrap {
  position: relative;
  max-width: 675px;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 20px;
    width: 16px;
    height: 16px;
    background: url("../img/icon-calendar-empty.svg") no-repeat;
    background-size: 100% 100%;
  }

  &.disabled::after {
    background: url("../img/icon-calendar-empty-grey.svg") no-repeat;
  }
}

.form__input-date {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: 1px solid $light-grey;
  border-radius: 5px;
  background: #fff;

  padding: 16px;
  padding-right: 40px;

  font-size: 15px;
  line-height: 20px;

  outline: none;

  &:focus {
    border-color: $grey;
  }

  &:disabled {
    border-color: $light-grey;
    background-color: $color-bg;
  }
}
