.gallery-full {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  &.hidden {
    display: none;
  }
}

.gallery-full__item,
.proposal__project .swiper-slide .gallery-full__item,
.proposal__project .swiper-slide.gallery-full__item {
  width: 100%;
  height: 300px;
  margin: 0;
}

.gallery-full__btn {
  @include btn-reset;

  position: absolute;
  z-index: 2;
  cursor: pointer;

  width: 28px;
  height: 28px;

  background: $white;
  border-radius: 5px;
  color: $grey-default;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 50%;
  transform: translateY(-50%);

  svg {
    display: block;
    width: 16px;
    height: 16px;
  }

  &--close {
    top: 12px;
    right: 12px;
    transform: none;
  }

  &--prev {
    left: 12px;
  }

  &--next {
    right: 12px;
  }

  &:focus {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-default);
  }

  &:hover:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-accent);
  }
}

.gallery-full__image,
.proposal__project .swiper-slide .gallery-full__image {
  img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.gallery-full__image {
  img {
    height: 100%;
    width: auto;
    object-fit: contain;

    margin: 0 auto;
  }
}

.gallery-full__item {
  img {
    height: 100%;
    width: auto;
    object-fit: contain;

    margin: 0 auto;
  }
}
