.gallery {
  width: 100%;
  margin-left: 0;
}

.gallery__tape {
  display: flex;
}

.swiper-slide {
  width: 135px;
}

.gallery__item-link {
  display: block;
  width: 135px;
  height: 135px;
  margin-right: 16px;
  user-select: none;
  outline: none;
  transition: opacity $style-change-duration;

  &:focus {
    opacity: 0.6;
  }

  &:focus:not(.focus-visible) {
    opacity: 1;
  }

  &:hover:not(.focus-visible) {
    opacity: 0.6;
  }
}

.gallery__item {
  width: 135px;
  height: 135px;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.gallery__item-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius;
}

.gallery__item-text {
  display: none;
}


@include tablet {
  // .gallery__tape .swiper-slide {
  //   &:first-child {
  //     padding-left: $tablet-padding;
  //   }

  //   &:last-child {
  //     padding-right: $tablet-padding;
  //   }
  // }
}


@include mobile {
  // .gallery__tape .swiper-slide {
  //   &:first-child {
  //     padding-left: $mobile-padding;
  //   }

  //   &:last-child {
  //     padding-right: $mobile-padding;
  //   }
  // }

  .gallery__item-link {
    margin-right: 12px;
  }
}
