.hearings-result {
    margin-bottom: 35px;
    padding-bottom: 48px;
    border-bottom: 1px solid #E3E8EE;

    @include tablet {
        padding-bottom: 42px;
        margin-bottom: 40px;
    }

    @include mobile {
        padding-bottom: 30px;
        margin-bottom: 35px;
    }

    .poll-result__section {
        background-image: none;
        padding: 0;
    }

    .poll-result__item:last-child {
        margin-bottom: 0;
    }

    .poll-result__description {
        position: relative;
        z-index: 2;
    }
}

.hearings-result__files {
    margin-bottom: 47px;

    @include tablet {
        margin-bottom: 40px;
    }

    @include mobile {
        margin-bottom: 30px;
    }
}

.hearings-result__gallery {
    margin-bottom: 49px;

    @include tablet {
        max-width: 1199px;
        margin-right: -24px;
        margin-bottom: 40px;

        .gallery__tape .swiper-slide:first-child {
            padding-left: 0;
        }
    }

    @include mobile {
        margin-right: -16px;
        margin-bottom: 35px;
    }
}

.hearings-result__survey {
    width: 740px;
    padding: 23px 24px;
    background-color: var(--color-bg-secondary, $color-bg);
    border-radius: $border-radius;

    @include tablet {
        width: 100%;
    }

    @include mobile {
        padding: 24px;
    }
}

.hearings-result__survey-container {
    padding-bottom: 34px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-stroke, $light-grey);

    .form-radio:last-child {
        margin-bottom: 0;
    }
}

.hearings-result__survey-btn {
    width: 230px;

    @include mobile {
        margin: 0 auto;
        display: block;
        width: 240px;
        margin-top: 30px;
    }
}

.hearings-result__status-info {
    @include tablet {
        padding: 25px 33px;
    }

    @include mobile {
        padding: 25px 24px;
    }

    svg {
        @include mobile {
            margin-right: 16px;
        }
    }
}
