.improvement {
  padding: 79px 24px 24px;

  @media (max-width: $desktop-width - 81) {
    padding: 79px 24px 104px;
  }

  @media (max-width: $tablet-width - 1) {
    padding: 64px 16px 65px;
  }
}

.improvement__list {
  margin-bottom: 47px;
  padding-top: 4px;
}

.improvement__button {
  margin: 0 auto;
  display: block;
  width: 291px;
  padding-left: 55px;
}

.improvement__archive-mobile {
  display: none;

  @media (max-width: $tablet-width - 1) {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    padding-left: 21px;
  }

  span {
    padding-right: 15px;
  }
}

@include tablet {
  .improvement__list {
    padding-top: 15px;
  }
}

@include mobile {
  .improvement__head {
    svg {
      display: flex;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
    }
  }

  .improvement__title {
    padding-left: 11px;
  }

  .improvement__button {
    text-align: left;
  }

  .improvement__archive-link {
    display: none;
  }

  .improvement__list {
    margin-bottom: 33px;
    padding-top: 8px;
  }
}
