.improvement__item {
  padding: 35px 0 35px 0;

  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

.improvement__item-status {
  margin-bottom: 5px;
  margin-top: 0;
  position: relative;
  padding-left: 9px;
  font-size: rem(14px);
  line-height: rem(18.2px);
  color: #70BF56;

  &--proposal {
    color: #FCA844;
  }

  &--open {
    color: #2C8ECC;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -2px;
    width: 5px;
    height: 5px;
    border: 3px solid;
    border-radius: 50%;
  }
}

.improvement__text {
  font-size: rem(16px);
  line-height: rem(21.6px);
}