.improvement-stage__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: var(--color-text, $grey-default);

  margin-right: 32px;
  margin-bottom: 0;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 25px;
  }

  &--line-height {
    margin-right: 0;
    @media (max-width: $tablet-width - 1) {
      line-height: 150%;
    }
  }
}

.improvement-stage__status {
  padding-left: 19px;
  position: relative;
  color: var(--color-text, $orange);

  &::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 7px;

    width: 6px;
    height: 6px;

    background-color: currentColor;
    border-radius: 50%;

    transform: translateY(-50%);
  }

  &--opened {
    color: var(--color-interactive-default, $blue-default);
  }

  &--complete {
    color: var(--color-interactive-default, $green)
  }
}

.improvement-stage__dates {
  color: var(--color-text, $dark-text);
}

.improvement-stage__level {
  color: var(--color-text, $dark-text);
}
