.improvement__item {
  padding: 35px 0 35px 0;

  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:first-child {
    padding-top: 0;
  }
}

.improvement__text {
  font-size: rem(16px);
  line-height: rem(21.6px);
}
