.improvement-fork-4 {
    position: relative;
    
    .improvement-fork {
        padding-bottom: 24px;
    }

    @include tablet {
        .improvement-fork__title {
            margin-bottom: 40px;
        }
    }
}

#general-pin {
    button {
        @include btn-reset;
        width: 49px;
        height: 49px;
        font-size: rem(18px);
        line-height: rem(23.4px);
        color: #ffffff;
        border-radius: 50%;
        background-color: #2C8ECC;
    }
}

@include mobile {
    .improvement-fork-4 {
        .improvement-fork__back {
            margin-bottom: 28px;
        }

        .improvement-fork__title {
            margin-bottom: 32px;
        }
    }
}