.improvement-stage {
  padding: 0 0 40px;

  @media (min-width: $tablet-width) {
    padding: 0 0 40px;
  }
}

.improvement-stage__container {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.improvement-stage__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: var(--color-text, $grey-default);

  margin-right: 32px;
  margin-bottom: 0;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 25px;
  }

  &--line-height {
    margin-right: 0;
    @media (max-width: $tablet-width - 1) {
      line-height: 150%;
      margin-bottom: 0;
    }
  }
}

.improvement-stage__status {
  padding-left: 19px;
  position: relative;

  @include status-colors;

  &::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 7px;

    width: 6px;
    height: 6px;

    background-color: currentColor;
    border-radius: 50%;

    transform: translateY(-50%);
  }
}

.improvement-stage__dates {
  color: var(--color-text, $dark-text);
}

.improvement-stage__level {
  color: var(--color-text, $dark-text);
}

.improvement-stage__text {
  margin: 0;
}
