.info-banner {
  position: relative;

  margin-bottom: 40px;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 68px;

  background: var(--color-bg-secondary, $color-bg);

  border: 1px solid var(--color-interactive-default, $blue-default);
  border-radius: 5px;

  &--rejected {
    border: 1px solid var(--color-interactive-default, $red);

    .info-banner__title {
      color: var(--color-interactive-default, $red);
    }

    .info-banner__icon {
      color: var(--color-interactive-default, $red);
    }
  }

  @media (max-width: $tablet-width) {
    padding-left: 54px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 15px;
  }

  &__icon {
    position: absolute;
    top: 23px;
    left: 30px;

    color: var(--color-interactive-default, $blue-default);

    @media (max-width: $tablet-width) {
      left: 16px;
    }

    @media (max-width: $mobile-max-width) {
      top: 13px;
    }

    + .info-banner__text {
      @media (max-width: $mobile-max-width) {
        padding-left: 36px;
        margin: 0;
        margin-top: 4px;
        //height: calc(7.8em + 36px);
      }
    }
  }

  &__title {
    margin-top: 4px;
    margin-bottom: 2px;

    font-size: rem(18px);

    color: var(--color-interactive-default, $blue-default);

    @media (max-width: $mobile-max-width) {
      margin-bottom: 9px;
      padding-left: 32px;
    }
  }

  &__text {
    position: relative;

    margin-top: 4px;
    margin-bottom: 12px;

    color: var(--color-text, $grey);
    font-size: rem(15px);
    line-height: 1.3;

    overflow: hidden;

    @media (max-width: $mobile-max-width) {
      font-size: rem(13px);
      line-height: 1.35;
    }
  }

  &__button {
    z-index: 1;
  }

  &_enough-lines_false {
    .info-banner__text {
      height: auto;

      &:after {
        display: none;
      }
    }

    .info-banner__button {
      display: none;
    }
  }

  &_enough-lines_true {
    .info-banner__title {
      + .info-banner__text {
        height: 2.6em;
        margin-bottom: 14px;

        @media (max-width: $mobile-max-width) {
          height: 6em;
          margin-bottom: 9px;
        }

        &:after {
          bottom: -0.1rem;
        }
      }
    }

    .info-banner__text {
      height: 3.4rem;

      @media (max-width: $mobile-max-width) {
        height: 8.4rem;

        font-size: rem(13px);
        line-height: 1.35;
      }

      &.opened {
        height: auto;

        &:after {
          display: none;
        }
      }

      &:after {
        position: absolute;
        bottom: -0.4rem;
        left: 0;

        width: 100%;
        height: 2rem;

        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            var(--color-bg-secondary, $color-bg) 100%
        );

        text-align: right;

        content: '';
      }
    }

    .info-banner__button {
      display: initial;
    }
  }

  &--warning,
  &--approved,
  &--declined {

    .info-banner__text {
      margin-bottom: 6px;
    }

    @media (max-width: $tablet-width - 1) {
      padding: 24px 32px 22px 64px;
      margin: 14px 0 40px;

      .info-banner__title {
        margin-top: 0;
        margin-bottom: 7px;
        padding: 0;
      }

      .info-banner__text {
        margin: 0;
        font-size: rem(15px);
      }

      .info-banner__icon {
        top: 23px;
        left: 23px;
      }
    }
  }

  &--warning {
    border-color: var(--color-icon, $warning-orange);

    .info-banner__title {
      color: var(--color-icon, $warning-orange);
    }

    .info-banner__icon {
      color: var(--color-icon, $warning-orange);
    }
  }

  &--approved {
    border-color: var(--color-icon, $green);

    @media (max-width: $desktop-width - 1) {
      //  margin-bottom: 46px;
      //  margin-left: $tablet-padding;
      //  margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      // margin: 23px $mobile-padding 32px;
      // padding-bottom: 24px;
    }

    .info-banner__title {
      color: var(--color-icon, $green);
    }

    .info-banner__icon {
      color: var(--color-icon, $green);
    }
  }

  &--declined {
    border-color: var(--color-icon, $red);

    @media (max-width: $desktop-width - 1) {
      // margin-left: $tablet-padding;
      // margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      // margin-left: $mobile-padding;
      // margin-right: $mobile-padding;
    }

    .info-banner__title {
      color: var(--color-icon, $red);
    }

    .info-banner__icon {
      color: var(--color-icon, $red);
    }
  }
}


.info-banner--black {
  .info-banner__title {
    color: var(--color-text, $dark-text);
  }

  border-color: $light-grey;
}
