.info-block {
  font-weight: 400;
  font-size: rem(13px);
  line-height: 150%;

  color: var(--color-text, $dark-text);

  @media (min-width: $tablet-width) {
    padding: 16px;

    font-size: rem(16px);
  }

  svg {
    color: $blue-default;
  }
}
