.info-banner-button {
  @include btn-reset;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--color-interactive-default, $blue-default);

  font-size: rem(16px);

  outline: none;

  cursor: pointer;

  transition: color 0.15s ease;

  &__text {
    margin-right: 9px;

    &_opened {
      display: none;
    }

    &_closed {
      display: inline-block;
    }
  }

  &.focus-visible:focus,
  &:hover:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-hover);
  }

  &.opened {
    .info-banner-button__text_opened {
      display: inline-block;
    }

    .info-banner-button__text_closed {
      display: none;
    }

    .info-banner-button__icon {
      transform: rotate(-180deg);
    }
  }
}
