.landscaping-form__section {
  margin-bottom: 80px;

  input, 
  textarea {
    -webkit-appearance: none;
    font-size: 16px;

    &::placeholder {
      font-size: rem(15px);
      line-height: rem(27px);
    }
  }
}

.landscaping-form__textarea-container {
  position: relative;
}

.landscaping-form__title {
  margin: 0;
  @include font-h2;
}

.landscaping-form__tip {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 32px;
}

.landscaping-form__textarea {
  margin-top: 32px;
  padding: 13px 16px;
  display: block;
  width: 100%;
  resize: none;
  background-color: #f9f9fa;
  border: 1px solid #e3e8ee;
  border-radius: 5px;

  &--error {
    border: 1px solid #f3a8a8;
  }

  &::placeholder {
    color: #a6abb2;
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: #354052;
    }
  }
}

.landscaping-form__textarea-error {
  display: none;
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: rem(13px);
  line-height: rem(16.9px);
  color: #e55050;

  &--show {
    display: block;
  }
}

.landscaping-form__proposition-name {
  height: 78px;
}

.landscaping-form__description {
  height: 132px;
}

.landscaping-form__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.landscaping-form__submit-btn {
  width: 274px;
  padding: 16px 16px;
}

@include tablet {
  .landscaping-page {
    padding-bottom: 102px;
  }
}

@include mobile {
  .landscaping-page {
    padding-bottom: 70px;
  }

  .landscaping-form__title {
    font-size: rem(24px);
    line-height: rem(28.44px);
  }

  .landscaping-form__proposition-name {
    height: 110px;
  }
  
  .landscaping-form__description {
    margin-top: 25px;
    height: 180px;
  }

  .landscaping-form__section {
    &--description {
      margin-bottom: 70px;
    }

    input, 
    textarea {
      &::placeholder {
        line-height: rem(21px);
      }
    }
  }

  .landscaping-form__button-wrapper {
    flex-direction: column;
  }

  .landscaping-form__submit-btn {
    order: -1;
    margin-bottom: 15px;
    width: 100%;
  }
}