.landscaping-page {
  padding-bottom: 79px;
}

.landscaping__rules-link {
  margin-top: 25px;
  margin-bottom: 61px;
}

.landscaping__general-pin {
  @include btn-reset;
  width: 49px;
  height: 49px;
  font-size: rem(18px);
  line-height: rem(23.4px);
  color: #ffffff;
  border-radius: 50%;
  background-color: #2C8ECC;
}

@include tablet {
  .landscaping {
    padding-top: 15px;
  }

  .landscaping__rules-link {
    margin-top: 33px;
  }
}

@include mobile {
  .landscaping__title {
    font-size: rem(30px);
    line-height: rem(35.55px);
  }

  .landscaping {
    padding-top: 20px;
  }

  .landscaping__rules-link {
    margin-top: 34px;
    margin-bottom: 48px;
  }
}