.landscaping-form__section {
  margin-bottom: 80px;

  &--upload {
    margin-bottom: 80px;

    .landscaping-form__tip {
      margin-bottom: 34px;
    }
  }

  &--map {
    margin-bottom: 43px;
  }

  iframe {
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  input, 
  textarea {
    -webkit-appearance: none;
    font-size: 16px;

    &::placeholder {
      font-size: rem(15px);
      line-height: rem(27px);
    }
  }
}

.landscaping-form__textarea-container {
  position: relative;
}

.landscaping-form__title {
  margin: 0;
  @include font-h2;
}

.landscaping-form__tip {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 32px;
}

.landscaping-form__textarea {
  margin-top: 32px;
  padding: 13px 16px;
  display: block;
  width: 100%;
  resize: none;
  background-color: #f9f9fa;
  border: 1px solid #e3e8ee;
  border-radius: 5px;

  &--error {
    border: 1px solid #f3a8a8;
  }

  &::placeholder {
    color: #a6abb2;
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: #354052;
    }
  }
}

.landscaping-form__textarea-error {
  display: none;
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: rem(13px);
  line-height: rem(16.9px);
  color: #e55050;

  &--show {
    display: block;
  }
}

.landscaping-form__proposition-name {
  height: 78px;
}

.landscaping-form__description {
  height: 132px;
}

.landscaping-form__img {
  margin-right: 19px;
  position: relative;
  width: 205px;
  height: 205px;
  filter: drop-shadow(0px 2px 4px rgba(0, 30, 75, 0.15));
  border-radius: 5px;
  overflow: hidden;

  img {
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
}

.landscaping-form__uploads {
  margin-bottom: 80px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  @media (max-width: $tablet-width - 1) {
    flex-flow: column wrap;
    margin-bottom: 72px;
  }

  & div {
    flex-shrink: 0;
    position: relative;
    width: 205px;
    height: 205px;
    overflow: hidden;
    margin-right: 23.5px;

    border-radius: 5px;
    filter: drop-shadow(0px 2px 4px rgba(0, 30, 75, 0.15));

    &:nth-of-type(5n) {
      margin-right: 0;
    }

    @media (max-width: $tablet-width - 1) {
      width: 100%;
      height: calc(100vw / 2);
      margin-right: 0;
      margin-bottom: 24px;
    }

    & button[type="button"] {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 28px;
      height: 28px;

      background-color: var(--color-bg-main, $white);
      border: none;
      border-radius: 5px;
      outline: none;

      cursor: pointer;

      @media (max-width: $tablet-width - 1) {
        top: 8px;
        right: 8px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 1px;

        background-color: var(--color-interactive-accent, $red);

        transform: translate(-50%, -50%) rotate(-45deg);
        transition: background-color $style-change-duration;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 1px;

        background-color: var(--color-interactive-accent, $red);

        transform: translate(-50%, -50%) rotate(45deg);
        transition: background-color $style-change-duration;
      }

      &:hover:not(.focus-visible) {
        &::before,
        &::after {
          background-color: var(--color-interactive-accent, rgba($red, 0.5));
        }
      }
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  & label {

    display: flex;
    align-items: center;

    width: 205px;
    height: 205px;

    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    text-align: center;
    color: var(--color-text, $grey-default);

    border: 2px dashed var(--color-stroke, $light-grey);
    border-radius: 5px;

    cursor: pointer;
    transition: opacity $style-change-duration;

    &:hover:not(.focus-visible) {
      opacity: 0.8;
    }

    @media (max-width: $tablet-width - 1) {
      width: 100%;
      height: calc(100vw / 2);
      margin-left: 0;

      justify-content: center;
    }

    & span {
      padding-top: 34px;
      position: relative;

      @media (max-width: $tablet-width - 1) {
        max-width: 50%;
      }

      &::before {
        content: '+';
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translateX(-50%);

        font-size: 2.5rem;
        color: var(--color-text, $grey-default);
        font-weight: 200;
      }
    }
  }
}

.landscaping-form__address {
  margin-bottom: 25px;
  width: 100%;
  height: 51px;
  padding: 15px 15px;
  font-size: rem(15px);
  line-height: rem(27px);
  background: #f9f9fa;
  border: 1px solid #e3e8ee;
  border-radius: 5px;

  &::placeholder {
    color: #a6abb2;
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: #354052;
    }
  }
}

.landscaping-form__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.landscaping-form__submit-btn {
  width: 274px;
  padding: 16px 16px;
}

@include tablet {
  .landscaping-page {
    padding-bottom: 102px;
  }

  .landscaping-form__tip {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .landscaping-form__section {
    &--upload {
      margin-bottom: 80px;

      .landscaping-form__tip {
        font-size: rem(15px);
        line-height: rem(27px);
        margin-bottom: 37px;
      }
    }

    &--map {
      .landscaping-form__tip {
        margin-top: 12px;
        margin-bottom: 35px;
      }
    }

    iframe {
      height: 460px;
    }
  }

  .landscaping-form__img {
    margin-bottom: 24px;
  }
}

@include mobile {
  .landscaping-page {
    padding-bottom: 70px;
  }

  .landscaping-form__title {
    font-size: rem(24px);
    line-height: rem(28.44px);
  }

  .landscaping-form__proposition-name {
    height: 110px;
  }
  
  .landscaping-form__description {
    margin-top: 25px;
    height: 180px;
  }

  .landscaping-form__section {
    &--description {
      margin-bottom: 70px;
    }

    &--upload {
      margin-bottom: 73px;

      .landscaping-form__tip {
        margin-bottom: 14px;
      }
    }

    &--map {
      margin-bottom: 18px;

      .landscaping-form__tip {
        margin-top: 18px;
        margin-bottom: 25px;
        font-size: rem(15px);
        line-height: rem(27px);
      }
    }

    iframe {
      height: 288px;
    }

    input, 
    textarea {
    &::placeholder {
      line-height: rem(21px);
    }
  }
  }
  
  .landscaping-form__img {
    margin-right: 0;
    margin-bottom: 24px;
    width: 288px;
    height: 160px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .landscaping-form__button-wrapper {
    flex-direction: column;
  }

  .landscaping-form__submit-btn {
    order: -1;
    margin-bottom: 15px;
    width: 100%;
  }
}