.link-arrow {
  display: block;
  font-weight: 500;
  font-size: rem(15px);
  line-height: rem(20px);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-interactive-default, $blue-default);

  transition: all $style-change-duration;

  & span {
    padding-right: 6px;
  }

  &:hover,
  &:focus {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &--small {
    font-size: rem(13px);
  }

  &--grey {
    color: var(--color-text, $grey-default);
  }
}

@media print {
  .link-arrow {
    display: none;
  }
}
