.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  transition: color $style-change-duration;

  svg {
    flex-shrink: 0;
    display: block;
    transition: fill $style-change-duration stroke $style-change-duration;
  }

  &--blue {
    color: var(--color-interactive-default, $blue-default);

    &:focus {
      color: var(--color-interactive-accent, $blue-accent);
    }

    &:focus:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
    }

    &:active:not(.focus-visible) {
      color: var(--color-interactive-accent, $blue-accent);
    }
  }

  &--grey {
    color: var(--color-text, $grey-default);

    &:focus {
      color: var(--color-interactive-default, $blue-accent);
    }

    &:focus:not(.focus-visible) {
      color: var(--color-text, $grey-default);
    }

    &:active:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-accent);
    }
  }

  &--black {
    color: var(--color-text, $dark-text);

    &:focus {
      color: var(--color-interactive-default, $blue-default);
    }

    &:focus:not(.focus-visible) {
      color: var(--color-text, $dark-text);
    }

    &:active:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
    }
  }
}


@media (min-width: $desktop-width) {
  .link {
    &--blue {
      &:hover:not(.focus-visible) {
        color: var(--color-interactive-accent, $blue-accent);
      }
    }

    &--grey {
      &:hover:not(.focus-visible) {
        color: var(--color-interactive-default, $blue-accent);
      }
    }

    &--black {
      &:hover:not(.focus-visible) {
        color: var(--color-interactive-default, $blue-default);
      }
    }
  }
}
