.location-switcher form {
  display: flex;
  align-items: flex-start;
}

.location-switcher__btn {
  max-width: 350px;
  margin-bottom: 0;

  &:first-child {
    position: relative;
    margin-right: 74px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -43px;
      width: 1px;
      height: 48px;
      background-color: #dedede;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
}

.location-switcher__btn label {
  font-size: inherit;
  line-height: inherit;

  &::before {
    margin-right: 12px;
  }
}

.location-switcher__address {
  display: block;
  padding-left: 32px;
  margin-top: 3px;
  font-size: rem(13px);
  line-height: rem(15px);
  color: rgba($grey, 0.75);
}

.location-switcher__show-btn {
  max-width: 200px;
  padding: 10px 20px;
  margin-left: 20px;
}

.location-switcher--js .location-switcher__show-btn {
  display: none;
}


@include tablet {
  .location-switcher {
    padding: 0 24px;
    background-color: $color-bg;
  }

  .location-switcher form {
    display: block;
  }

  .location-switcher__btn {
    max-width: none;
    padding: 25px 0 23px;
    margin-bottom: 0;

    &:first-child {
      margin-right: 0;

      &::after {
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 1px;
        transform: translateY(0);
      }
    }
  }

  .location-switcher__show-btn {
    margin-left: 28px;
    margin-bottom: 20px;
  }
}


@include mobile {
  .location-switcher {
    padding: 0 16px;
  }

  .location-switcher__btn {
    padding: 24px 0 27px;
  }
}
