.map-popup {
    position: absolute;
    top: 120px;
    left: 40%;
    width: 300px;
    height: 235px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

.map-popup__top-wrapper {
    position: relative;
    padding-right: 40px;
    padding-left: 16px;
    padding-bottom: 17px;
    background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    
    button {
        display: block;
    }

    p {
        margin: 0;
        font-size: rem(13px);
        line-height: rem(17px);
        color: #354052;
    }
}

.map-popup__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.map-popup__likes {
    margin: 0;
    width: 90px;
    display: flex;
    align-items: flex-end;
    font-size: rem(13px);
    line-height: rem(17px);
    color: #707B8C;

    span {
        margin-right: 14px;
    }

    svg {
        margin-top: 5px;
    }
}

.map-popup__close-btn {
    @include btn-reset;
    position: absolute;
    top: -12px;
    right: 7px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    
    &::before,
    &::after {
        position: absolute;
        left: 12px;
        top: 3px;
        content: "";
        height: 19px;
        width: 2px;
        background-color: #BFBFBF;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        &::before,
        &::after {
            background-color: #7e7e7e;
        }
    }
}

.map-popup__details-btn {
    display: flex;
    align-items: center;
    padding-top: 4px;
    font-size: rem(15px);
    line-height: rem(20.25px);
    color: #116CA6;
    text-decoration: none;

    span {
        margin-right: 5px;
    }

    svg {
        fill: #116CA6;
    }

    &:hover {
        color: #2c8ecc;

        svg {
            fill: #2c8ecc;
        }
    }
}