.multiple-select {
  --colNum: 1;
  --colWidth: 264px;
  --columnGap: 48px;
  --varmaxHeight: 324px;

  width: auto;
  max-width: 100%;

  &.two-column {
    --colNum: 2;

    @include mobile {
      --colNum: 1;
    }
  }

  &.three-column {
    --colNum: 3;

    @include tablet {
      --colNum: 2;
    }

    @include mobile {
      --colNum: 1;
    }
  }

  .ss-content {
    left: -21px;
    top: 31px;
    width: unset;
    max-height: var(--varmaxHeight);
    padding: 16px 24px 24px;
    border: none;
    background-color: var(--color-bg-secondary, $color-bg);
    box-shadow: 0px 2px 4px rgba(0, 30, 75, 0.15);
    border-radius: 5px;
    overflow-y: auto;

    .ss-list {
      position: static;
      width: calc(var(--colWidth) * var(--colNum) + var(--columnGap) * (var(--colNum) - 1));
      max-width: 936px;
      max-height: initial;
      column-count: var(--colNum);
      column-width: var(--colWidth);
      column-gap: var(--columnGap);

      @include mobile {
        width: 100%;
      }

      .ss-option {
        position: relative;
        padding: 8px 10px 8px 28px;

        font-size: 15px;
        line-height: 20px;
        color: var(--color-text, $dark-text);
        border-radius: 5px;

        transition: background-color $style-change-duration color $style-change-duration;

        break-inside:avoid;

        &::after {
          content: '';
          position: absolute;
          opacity: 0;

          left: 0;
          top: 50%;
          width: 12px;
          height: 12px;
          background-image: url(../img/icon-tick.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          transform: translateY(-50%) translateX(50%);

          transition: opacity $style-change-duration;
        }

        &:focus,
        &:focus:not(.focus-visible),
        &:active:not(.focus-visible),
        &:hover:not(.focus-visible) {
          background-color: var(--color-bg-secondary, #eff1f4);
          color: var(--color-text, $blue-default);
        }
      }

      .ss-option:not(.ss-disabled).ss-option-selected {
        color: var(--color-interactive-accent, $blue-accent);
        background-color: transparent;
        &:after {
          opacity: 1;
        }
      }
    }
  }

  .ss-multi-selected {
    border: none;
    min-height: initial;
    padding: 0;

    .ss-values {
      display: none;
    }

    .ss-add {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      flex: initial;
      margin: 0;

      .ss-plus {
        all: revert;

        margin-right: 8px;
        @include font;
        font-size: 15px;
        line-height: 20px;
        color: var(--color-interactive-default, $blue-default);
        border-bottom: 2px dashed var(--color-interactive-default, $blue-default);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:after {
          all: revert;
        }
      }

      svg {
        transition: transform $style-change-duration;
        transform: rotate(180deg);
      }

      .ss-plus.ss-cross {
        transform: rotate(0);
      }

      .ss-deselect-all {
        position: relative;
        width: 12px;
        height: 12px;
        margin-right: 10px;

        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;

        cursor: pointer;

        &::after,
        &::before {
          content: '';
          position: absolute;
          top: calc(50% - 1px);
          left: 0;
          width: 14px;
          height: 2px;

          background-color: var(--color-interactive-default, $red);
        }

        &::after {
          transform: rotate(45deg);
        }

        &::before {
          transform: rotate(-45deg);
        }
      }
    }

    .ss-add.ss-empty {
      .ss-deselect-all {
        display: none;
      }
    }
  }

  .ss-open-below {
    .ss-add {
      svg {
        transform: rotate(0);
      }
    }
  }
}

