.new-project {
  padding-top: 16px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 14px;
  }
}

.new-project__info-banner {
  margin: 0 0 40px;
}

.new-project__title {
  margin-bottom: 40px;
  @media (max-width: $desktop-width - 1) {
    margin-bottom: 32px;
  }
}

.new-project__comments {
  margin: 28px 0 12px;
}

.new-project__last-comment {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.new-project__form {
  padding-top: 29px;
  margin: 0;
}

.new-project__select {
  margin-bottom: 80px;
  display: block;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 72px;
  }

  .ss-main {
    display: block;
    width: 100%;

    &:last-child {
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      width: 550px;
    }
  }

  .ss-main .ss-single-selected {
    padding: 12px 16px;
    min-height: 51px;
    background-color: var(--color-bg-secondary, $color-bg);

    @media (max-width: $desktop-width - 1) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  .ss-main .ss-single-selected .ss-arrow {
    margin: 0 3px;
  }
}

.new-project__select-title {
  margin: 0 0 32px;
}

.new-project__description {
  margin: 0 0 80px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 72px;
  }
}

.new-project__address {
  margin: 0 0 80px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 72px;
  }
}

.new-project__budjet {
  margin: 0 0 80px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 72px;
  }
}

.new-project__contacts {
  margin: 0 0 48px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 80px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 72px;
  }
}

.new-project__file-upload {
  margin: 0 0 80px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 72px;
  }

  .subtitle {
    margin: 0 0 8px;
  }

  p {
    padding: 0;
  }
}

.new-project__image-upload {
  margin-bottom: 47px;
  padding-bottom: 48px;
  border-bottom: 1px solid var(--color-stroke, $light-grey);

  @media (max-width: $tablet-width - 1) {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

.new-project .project-rules {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.project-rules + .new-project__form {
  padding-top: 0;
}
