.news-item__title {
  max-width: 100%;
  margin-bottom: 30px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 32px;
  }
}

.news-item__subtitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;

  @media (max-width: $tablet-width - 1) {
    align-items: flex-start;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    margin-bottom: 12px;
  }

  & span {
    @include font-h5;
    color: var(--color-text-caption);
    margin-right: 29px;
    margin-bottom: 12px;

    @media (max-width: $mobile-max-width) {
      margin-right: 0;
    }
  }

  & b {
    color: var(--color-text-main);
    font-weight: 400;
  }
}

.news-item__button-star {
  margin-bottom: 12px;

  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.news-item__text {
  max-width: 740px;
  padding-bottom: 40px;

  background-image: linear-gradient(var(--color-stroke), var(--color-stroke));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &--line {
    max-width: 100%;
    padding-right: 380px;
    padding-bottom: 48px;

    @media (max-width: $desktop-width - 1) {
      padding-right: 0;
    }

    @media (max-width: $tablet-width - 1) {
      padding-bottom: 40px;
    }
  }

  & p {
    margin: 0;
    margin-bottom: 22px;

    @include main-text;
    line-height: rem(27px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.news-item__list {
  margin-top: 48px;

  @media (max-width: $mobile-max-width) {
    margin-top: 40px;
  }
}

.news-item__bottom {
  border: 1px solid var(--color-stroke);
  border-radius: 5px;

  @media (max-width: $mobile-max-width) {
    padding-top: 18px;
    padding-bottom: 16px;
  }
}

.news-item__bottom-link {
  display: block;
  padding: 24px 23px;
  border-radius: 5px;
}

.news-item__button {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 40px;
  margin-bottom: 120px;

  font-size: rem(14px);
  line-height: rem(19px);

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 88px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: 64px;
  }
}

.news-item__process {
  margin-bottom: 40px;

  @media (max-width: $mobile-max-width) {
    margin-top: 22px;
    margin-bottom: 32px;
  }
}
