.notice-type {
  background-color: var(--color-bg-secondary, $light-blue);
  margin: 0;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 400;
  font-size: rem(14px);
  line-height: 130%;
  color: var(--color-text, $dark-text);

  .mod-theme-inverse &,
  .mod-theme-blue &,
  .mod-theme-comfort &,
  .mod-theme-brown & {
    padding-right: 0;
    padding-left: 0;
  }
}
