.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &--wrapper {
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

.page-top__form-wrapper {
  padding: 25px 40px;
  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: 5px;

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    padding: 16px 40px;
  }
}

.page-top__checkbox {
  margin-bottom: 0;
}

.page-top__action-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;

  & .page-top__nav {
    width: auto;
    margin-left: 0;
  }

  @media (max-width: 900px) {
    width: 100%;
    margin-left: 0;
    margin-top: 24px;

    & .page-top__nav {
      flex-grow: 1;
    }
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;

    & .page-top__nav {
      width: auto;
    }

    & .page-top__form-wrapper {
      width: auto;
    }
  }

  @media (max-width: 540px) {
    width: 100%;
    flex-direction: column;

    & .page-top__nav {
      margin-top: 0;
    }

    & .page-top__form-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}

@media print {
  .page-top__form-wrapper {
    display: none;
  }
}
