.page-content {
  padding-top: 40px;
  min-width: $mobile-width;
}

.page-content__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: rem(40px);
  line-height: rem(47px);
  color: $dark-main;
}

.page-content .list-btn {
  display: block;
  width: 360px;
  margin: 24px auto 40px;
}

.page-content__archive-link {
  margin-top: 80px;
  margin-bottom: 80px;
}


@include tablet {
  .page-content__back-btn {
    margin-bottom: 31px;

    &:hover:not(.focus-visible) {
      color: $grey;
    }

    &:active:not(.focus-visible) {
      color: $blue-accent;
    }
  }

  .page-content .list-btn {
    margin-top: 48px;
  }

  .page-content__archive-link {
    margin-top: 64px;
    margin-bottom: 88px;
  }
}


@include mobile {
  .page-content {
    padding-top: 24px;
  }

  .page-content__back-btn {
    margin-bottom: 24px;
    font-size: rem(15px);
    line-height: rem(20px);

    svg {
      padding-bottom: 0;
    }
  }

  .page-content__title {
    margin-bottom: 32px;
    font-size: rem(30px);
    line-height: rem(36px);
  }

  .page-content .list-btn {
    width: 100%;
    max-width: 360px;
    margin-top: 40px;
    margin-bottom: 32px;
  }

  .page-content__archive-link {
    margin-top: 57px;
    margin-bottom: 64px;
  }
}
