.page-nav {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: rem(395px);
  padding: 24px 16px;
  margin-left: 20px;

  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: 5px;

  @media (max-width: $tablet-width - 1) {
    justify-content: space-around;
    width: rem(369px);
    padding: 16px 16px;
  }

  @media (max-width: 700px) {
    margin-left: 0;
    margin-top: 24px;
  }

  @media (max-width: 500px) {
    width: 100%;
    padding: 16px 8px;
  }
}

.page-nav__item {
  margin: 0 24px;

  @media (max-width: $tablet-width - 1) {
    margin: 0 16px;
  }

  @media (max-width: 500px) {
    margin: 0 8px;
  }
}

.page-nav__link {
  @include main-text;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text, $grey-default);
  transition: color $style-change-duration;

  &:hover,
  &:focus {
    color: var(--color-interactive-default, $blue-default);
  }

  &--active {
    color: var(--color-interactive-default, $blue-default);
    border-bottom: 2px dashed var(--color-interactive-default, $blue-default);
  }
}
