.page-content {
  min-width: $mobile-width;
  padding-top: 40px;
  padding-bottom: 120px;

  &--proposal {
    padding-bottom: 80px;
  }

  &--approved {
    padding-bottom: 120px;
  }

  &--project {
    @media (min-width: $desktop-width) {
      padding-bottom: 65px;
    }
  }

  &--content {
    .line {
      max-width: 66%;
    }

    .button--light-blue {
      width: auto;
      padding-right: 27px;
      padding-left: 25px;
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

.page-content__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: rem(40px);
  line-height: rem(47px);
}

.page-content .list-btn {
  display: block;
  width: 360px;
  margin: 24px auto 0;
}

.page-content__archive-link {
  margin-top: 80px;
}

.page-content__state-info-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 35px;

  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-text, $grey);
}

.page-content__state-info {
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.page-content__description {
  color: var(--color-text, $dark-text);
}

.page-content__text p {
  max-width: 65%;
  margin-bottom: 25px;
  font-family: inherit;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-text, $dark-text);

  &:last-child {
    margin-bottom: 47px;
  }
}

.page-content__text a {
  margin: 0;
  padding: 0;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  transition: color $style-change-duration;

  color: var(--color-interactive-default, $blue-default);

  &:focus {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-default);
  }

  &:active:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-accent);
  }

  &:hover:not(.focus-visible) {
    color: var(--color-interactive-accent, $blue-accent);
  }
}

@include tablet {
  .page-content {
    padding-bottom: 88px;

    &--proposal {
      padding-bottom: 103px;
    }

    &--approved {
      padding-bottom: 103px;
    }

    &--implemented {
      padding-top: 47px;
      padding-bottom: 103px;
    }
  }

  .page-content .list-btn {
    margin-top: 48px;
  }

  .page-content__archive-link {
    margin-top: 64px;
  }
}

@include mobile {
  .page-content {
    padding-top: 24px;
    padding-bottom: 64px;

    &--proposal {
      padding-bottom: 70px;
    }

    &--approved {
      padding-bottom: 72px;
    }

    &--implemented {
      padding-top: 46px;
      padding-bottom: 72px;
    }
  }

  .page-content__title {
    margin-bottom: 32px;
    font-size: rem(30px);
    line-height: rem(36px);
  }

  .page-content .list-btn {
    width: 100%;
    max-width: 360px;
    margin-top: 40px;
  }

  .page-content__archive-link {
    margin-top: 56px;
  }

  .page-content__text p {
    max-width: 100%;
  }
}

@media print {
  .page-content__archive-link,
  .page-content .list-btn {
    display: none;
  }
}
