.page-header {
  width: 100%;
  font-size: rem(16px);
  line-height: rem(19px);
  background-color: var(--color-bg-main, $white);

  &--js {
    position: fixed;
    z-index: 100;
    top: 0;
  }
}

.page-header .container {
  display: flex;
  align-items: center;
}

.page-header__bar {
  position: relative;
  z-index: 1;
  padding: 12px 0 13px;
  box-shadow: 0 4px 10px rgba(46, 67, 102, 0.1);
}

.page-header__roi-logo {
  display: block;
  width: 180px;
  height: 56px;
}

.page-header__site-name {
  position: relative;
  display: block;
  width: 138px;
  margin-left: 49px;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    width: 1px;
    height: 48px;
    background-color: var(--color-stroke, #dedede);
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.page-header__version-btn {
  display: flex;
  align-items: center;
  max-width: 295px;

  &--menu {
    display: none;
  }
}

.page-header__version-btn svg {
  display: block;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 11px;
  fill: #c4c4c4;
}

.page-header__location-switcher {
  margin-right: auto;
}


@include desktop-only {
  .page-header--above-content {
    box-shadow: 0 4px 8px rgba(46, 67, 102, 0.1);

    .page-header__bar,
    .page-header__location-address {
      display: none;
    }

    .page-header__version-btn--menu {
      display: flex;
      margin-right: 38px;
    }
  }
}


@include tablet {
  .page-header {
    &--open-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .page-header__roi-logo {
    width: 174px;
    height: 55px;
  }

  .page-header__site-name {
    width: 130px;
    margin-right: 24px;
    font-size: 15px;
    line-height: 17px;
  }

  .page-header__location-switcher,
  .page-header__user-menu,
  .page-header__version-btn {
    width: 100%;
  }

  .page-header__version-btn {
    margin-right: auto;
  }
}


@include mobile {
  .page-header__roi-logo {
    width: 124px;
    height: 40px;
  }

  .page-header__site-name {
    width: 90px;
    margin-left: 25px;
    margin-right: auto;
    font-size: 10px;
    line-height: 12px;

    &::after {
      content: "";
      left: -13px;
      height: 32px;
    }
  }

  .page-header__version-btn {
    &--bar {
      display: none;
    }

    &--menu {
      order: -1;
      display: flex;
      max-width: none;
      padding: 27px 16px 24px;
      margin-left: 0;
    }
  }
}
