.page-body__up-btn {
  position: fixed;
  z-index: 10;
  bottom: 16px;
  right: 60px;
  width: 48px;
  height: 48px;
  padding: 0;
  user-select: none;
  color: var(--color-text, $grey-default);
  background-color: var(--color-bg-main, $white);
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
  outline: none;
  cursor: pointer;
  transition: border-color $style-change-duration, color $style-change-duration;

  &:focus {
    color: var(--color-interactive-default, $grey);
    border-color: var(--color-interactive-default, $blue-hover);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-text, $grey-default);
    border-color: var(--color-stroke, $light-grey);
  }

  &:hover:not(.focus-visible) {
    color: var(--color-interactive-default, $grey);
    border-color: var(--color-interactive-default, $blue-hover);
  }

  svg {
    pointer-events: none;
    transform: rotate(-90deg);
    transition: fill $style-change-duration;
  }
}


@include desktop-only {
  .page-body--cookie .page-body__up-btn {
    bottom: 32px;
  }
}


@include tablet {
  .page-body__up-btn {
    right: 16px;
    bottom: 16px;

    &:hover:not(.focus-visible) {
      color: var(--color-text, $grey-default);
      border-color: var(--color-stroke, $blue-hover);
    }

    &:active:not(.focus-visible) {
      color: var(--color-interactive-default, $grey);
      border-color: var(--color-interactive-default, $blue-hover);
    }
  }
}
