.page-title {
  max-width: 1040px;
  margin: 0;

  @include font-h1;

  @media (max-width: $tablet-width - 1) {
    @include font-h2;
  }

  @media (max-width: $mobile-max-width) {
    @include font-h3;
  }

  &--large {
    @media (max-width: $tablet-width - 1) {
      @include font-h1;
    }

    @media (max-width: $mobile-max-width) {
      @include font-h2;
    }
  }

  &--project {
    font-size: rem(40px);
    line-height: rem(47px);

    @media (max-width: $tablet-width - 1) {
      font-size: rem(30px);
      line-height: rem(36px);
    }
  }
}

.page-title-h2 {
  @include font-h2;
}

.page-title-h3 {
  @include font-h3;
}

.page-title-h4 {
  @include font-h4;
}

.page-caption {
  @include caption-text
}
