.paginator {
  display: flex;
  flex-wrap: wrap;
  width: 545px;
  margin: 0 auto;

  font-size: rem(15px);
  line-height: rem(27px);

  @media (max-width: 617px) {
    width: 312px;
  }

  @media (max-width: 400px) {
    width: 288px;
  }
}

.paginator__item {
  width: 50px;
  height: 50px;
  padding: 10px 5px;
  margin-right: 8px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--color-stroke);
  border-radius: 5px;
  transition: color $style-change-duration, border $style-change-duration;

  &:last-child {
    margin-right: 0;
  }

  &[href]:hover,
  &[href]:focus,
  &[href]:active {
    color: var(--color-interactive-accent);
    border: 1px solid var(--color-interactive-light-accent);
  }

  &--current {
    color: $white;
    background-color: var(--color-interactive-default);
    border-color: var(--color-interactive-default);
  }

  &--prev {
    margin-right: 23px;

    @media (max-width: 617px) {
      margin-right: 11px;
    }
  }

  &--next {
    margin-left: 15px;

    @media (max-width: 617px) {
      margin-left: 3px;
    }
  }

  &--disabled {
    color: var(--color-text-caption);
  }

  &--hidden {
    @media (max-width: 617px) {
      display: none;
    }
  }
}
