.partners-list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.partners-list__item {
  box-sizing: border-box;
  height: 138px;
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: $border-radius;
}

.partners-list__partner-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  outline: none;
  transition: box-shadow $style-change-duration;

  &:focus {
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
  }

  &:focus:not(.focus-visible) {
    box-shadow: none;
  }

  &:hover:not(.focus-visible) {
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
  }
}

.partners-list__partner-logo {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 116px;
}


@include tablet {
  .partners-list {
    grid-template-columns: 1fr 1fr;
  }

  .partners-list__partner-link {
    &:hover:not(.focus-visible) {
      box-shadow: none;
    }

    &:active:not(.focus-visible) {
      box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
    }
  }
}


@include mobile {
  .partners-list {
    display: block;
  }

  .partners-list__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
