.poll {
  box-sizing: border-box;
  padding: 96px 40px 0;

  text-align: center;

  @media (max-width: $desktop-width - 81) {
    padding: 87px 24px 0;
  }

  @media (max-width: $tablet-width - 1) {
    padding: 64px 16px 0;
  }
}

.poll__archive-link {
  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.poll__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 40px 0 4px;

  list-style: none;
  text-align: left;

  @media (max-width: $desktop-width - 81) {
    flex-wrap: wrap;
    padding-bottom: 21px;
  }

  @media (max-width: $tablet-width - 1) {
    padding-top: 24px;
    padding-bottom: 14px;
  }
}

.poll__item {
  position: relative;

  flex-shrink: 0;
  width: 32.1%;
  margin-bottom: 20px;
  padding: 24px;
  padding-bottom: 29px;

  background-color: var(--color-bg-secondary);
  border-radius: $border-radius;
  cursor: pointer;

  transition: box-shadow $style-change-duration linear;

  @media (max-width: $desktop-width - 81) {
    width: calc(50% - 10px);
  }

  @media (max-width: $tablet-width - 1) {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 24px;

    width: 100%;
    height: 40px;

    background-image: linear-gradient(180deg, var(--color-bg-secondary) 0%, var(--color-bg-secondary-transparent) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);

    transition: bottom $style-change-duration linear;
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);

    .poll__link {
      display: block;
    }
  }
}

.poll__item--passed {
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-stroke);

  &::before {
    background-image: linear-gradient(180deg, var(--color-bg-main) 0%, var(--color-bg-main-transparent) 100%);
  }

  &::after {
    content: "Пройден";
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 4px 8px;

    font-size: rem(13px);
    line-height: 1.3;
    color: var(--color-text-caption);

    background-color: $light-grey;
    border-radius: $border-radius 0;
    opacity: 0.5;
  }

  &:hover {
    &::before {
      background-image: linear-gradient(180deg, var(--color-bg-secondary) 0%, var(--color-bg-secondary-transparent) 100%);
    }
  }

  & .poll__text {
    color: var(--color-text-caption);
  }
}

.poll__item--accent {
  border-left: 3px solid $blue-default;
  border-radius: 0 5px 5px 0;
}

.poll__text {
  margin: 0;
  padding: 0;

  font-size: rem(16px);
  line-height: 1.35;
}

.poll__link {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 14px;
  padding-left: 24px;

  background-image: linear-gradient(var(--color-bg-secondary-transparent), var(--color-bg-secondary) 35px);
  border-radius: $border-radius;
}

.poll__button {
  font-size: rem(14px);
  line-height: 1.35;
}

.poll__hide {
  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

span.poll__hide {
  padding-right: 0;
}

.poll__archive-mobile {
  display: none;

  @media (max-width: $tablet-width - 1) {
    display: block;
    margin-top: 24px;
  }
}

.poll--poll-list {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  @media (max-width: $tablet-width - 1) {
    padding-right: 0;
    padding-left: 0;
  }

  & .poll__list {
    padding-top: 28px;

    @media (max-width: $tablet-width - 1) {
      padding-top: 40px;
    }

    @media (max-width: $mobile-max-width) {
      padding-top: 26px;
    }
  }

  & .poll__item {
    min-height: 136px;
    padding-bottom: 24px;

    @media (max-width: $tablet-width - 1) {
      width: calc(100% / 2 - 10px);
      min-height: 158px;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    @media (max-width: $mobile-max-width) {
      margin-bottom: 17px;
    }
  }

  & .poll__button {
    width: 360px;
    margin-top: 0;
    margin-bottom: 40px;

    @media (max-width: $tablet-width - 1) {
      margin-top: 14px;
    }

    @media (max-width: $mobile-max-width) {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 32px;
    }
  }
}
