.poll-process {
  & p {
    position: relative;

    @include font-h5;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 24px 32px;
    color: $white;
    background-color: $orange;
    border-radius: 5px;

    &::before {
      content: "";
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      background-image: url("../img/icon-time-white.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (max-width: $mobile-max-width) {
      padding: 24px 24px;
    }
  }
}
