.poll {
  box-sizing: border-box;
  padding: 96px 40px 0;
  text-align: center;

  @media (max-width: $desktop-width - 81) {
    padding: 87px 24px 0;
  }

  @media (max-width: $tablet-width - 1) {
    padding: 64px 16px 0;
  }
}

.poll__archive-link {
  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.poll__list {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 40px)/3));
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 0;
  padding: 40px 0 0;
  list-style: none;
  text-align: left;

  @media (max-width: $desktop-width - 81) {
    grid-template-columns: repeat(2, calc((100% - 20px)/2));
  }

  @media (max-width: $tablet-width - 1) {
    display: block;
    padding-top: 24px;
  }
}

.poll__item {
  position: relative;
  display: block;
  padding: 24px;
  padding-bottom: 29px;
  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: $border-radius;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow $style-change-duration linear;

  @media (max-width: $tablet-width - 1) {
    min-height: 158px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 24px;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(180deg, var(--color-bg-secondary, $color-bg) 0%, var(--color-bg-secondary-transparent, rgba($color-bg, 0)) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    transition: bottom $style-change-duration linear;
  }

  &--personal {
    padding-top: 5px;
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);

    .poll__link {
      display: block;
    }
  }

  @media (max-width: $desktop-width - 1) {
    &:hover {
      box-shadow: none;

      .poll__link {
        display: none;
      }
    }
  }
}

.poll__item--passed {
  background-color: var(--color-bg-main, $white);
  border: 1px solid var(--color-stroke, $light-grey);

  &::before {
    background-image: linear-gradient(180deg, var(--color-bg-main, $white) 0%, var(--color-bg-main-transparent, rgba($white, 0)) 100%);
  }

  &::after {
    content: "Пройден";
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 8px;
    font-size: rem(13px);
    line-height: 1.3;
    color: var(--color-text, $grey-default);
    background-color: var(--color-tag, $light-grey);
    border-radius: $border-radius 0;
    opacity: 0.5;
  }

  &:hover {
    &::before {
      background-image: linear-gradient(180deg, var(--color-bg-secondary, $color-bg) 0%, var(--color-bg-secondary-transparent, rgba($color-bg, 0)) 100%);
    }
  }

  @media (max-width: $desktop-width - 1) {
    &:hover {
      &::before {
        display: none;
      }
    }
  }

  & .poll__text {
    color: var(--color-text, $grey-default);
  }
}

.poll__item--closed {
  background-color: var(--color-bg-main, $white);
  border: 1px solid var(--color-stroke, $light-grey);

  &::before {
    background-image: linear-gradient(180deg, var(--color-bg-main, $white) 0%, var(--color-bg-main-transparent, rgba($white, 0)) 100%);
  }

  &::after {
    content: "Завершен";
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 8px;
    font-size: rem(13px);
    line-height: 1.3;
    color: var(--color-text, $grey-default);
    background-color: var(--color-tag, $light-grey);
    border-radius: $border-radius 0;
    opacity: 0.5;
  }

  &:hover {
    &::before {
      background-image: linear-gradient(180deg, var(--color-bg-secondary, $color-bg) 0%, var(--color-bg-secondary-transparent, rgba($color-bg, 0)) 100%);
    }
  }

  @media (max-width: $desktop-width - 1) {
    &:hover {
      &::before {
        display: none;
      }
    }
  }

  & .poll__text {
    color: var(--color-text, $grey-default);
  }
}

.poll__item--accent {
  border-left: 3px solid $blue-default;
  border-radius: 0 5px 5px 0;
}

.poll__text {
  margin: 0;
  padding: 0;
  font-size: rem(16px);
  line-height: 1.35;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.poll__link {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 14px;
  padding-left: 24px;
  background-image: linear-gradient(var(--color-bg-secondary-transparent, rgba($color-bg, 0)), var(--color-bg-secondary, $color-bg) 35px);
  border-radius: $border-radius;

  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.poll__button {
  width: 360px;
  max-width: 360px;
  margin-top: 20px;
  font-size: rem(14px);
  line-height: 1.35;

  @include mobile {
    width: 100%;
    margin-top: 48px;
  }
}

.poll__hide {
  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

span.poll__hide {
  padding-right: 0;
}

.poll__archive-mobile {
  display: none;

  @media (max-width: $tablet-width - 1) {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

.poll--poll-list {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  @media (max-width: $tablet-width - 1) {
    padding-right: 0;
    padding-left: 0;
  }

  & .poll__list {
    padding-top: 28px;

    @media (max-width: $tablet-width - 1) {
      padding-top: 40px;
    }

    @media (max-width: $mobile-max-width) {
      padding-top: 26px;
    }
  }

  & .poll__item {
    min-height: 136px;
    padding-bottom: 24px;

    @media (max-width: $tablet-width - 1) {
      min-height: 158px;
    }
  }
}

@media print {
  .poll__link,
  .poll__archive-link,
  .poll__archive-mobile {
    display: none;
  }

  .poll__item::before {
    display: none;
  }

  .poll__item {
    border: none;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .poll__item--passed::after {
    display: none;
  }
}
