.poll-page {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.poll-page__title {
  max-width: inherit;
  padding-bottom: 40px;

  @include mobile {
    padding-bottom: 33px;

    @include font-h2();
  }
}

.poll-page__dates {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  font-size: rem(16px);
  line-height: 1.35;
  color: var(--color-text, $grey-default);

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.poll-page__dates .button-star {
  margin-bottom: 10px;
  display: block;
  opacity: 1;

  svg {
    width: 24px;
    height: 24px;
  }

  @include mobile {
    margin-bottom: 0;
  }
}

.poll-page__date-start {
  padding-right: 30px;

  @include mobile {
    padding: 0 0 16px;
  }
}

.poll-page__dates--long-list {
  & .poll-page__date-start {
    margin-bottom: 10px;

    @include mobile {
      margin-bottom: 0;
    }
  }
}

.poll-page__date-time {
  color: var(--color-text, $dark-text);
}

.poll-page__description {
  max-width: 740px;
  padding-top: 10px;
  padding-bottom: 23px;

  font-size: rem(15px);
  line-height: 1.8;

  @include mobile {
    padding-bottom: 8px;
  }

  & p {
    margin: 24px 0;
  }

  &--padding {
    padding-top: 0;
  }
}

.poll-page__doc-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.poll-page__doc-item {
  max-width: 100%;

  @include mobile {
    width: 100%;

    .file-item {
      width: 100%;
    }
  }
}

.poll-page__form {
  max-width: 740px;
  margin: 38px 0 0;
  padding: 24px 24px 32px;

  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: $border-radius;

  @include mobile {
    margin: 22px 0 0;
  }
}

.poll-page__form-section {
  @include mobile {
    padding-top: 31px;
    padding-bottom: 18px;
  }

  &:first-child {
    padding-top: 0;
  }

  .noUi-tooltip {
    background-color: var(--color-bg-secondary, $color-bg);
  }

  .noUi-horizontal .noUi-handle-lower {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

.poll-page__section {
  border-bottom: 1px solid var(--color-stroke, $light-grey);
}

.poll-page__button {
  box-sizing: border-box;
  min-width: 230px;
  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 16px;

  font-size: rem(14px);
  line-height: 1.35;

  @include mobile {
    margin-top: 32px;
  }
}

.poll-page__button-back {
  align-self: flex-start;
  box-sizing: border-box;
  min-width: 230px;
  margin-top: 40px;
  padding: 18px 37px 16px;

  font-size: rem(14px);
  line-height: 1.35;

  @include mobile {
    margin-top: 32px;
  }
}

.poll-page__hide {
  @include mobile {
    display: none;
  }
}

span.poll-page__hide {
  padding-right: 0;
}

.poll-page__finish {
  margin-top: 48px;
}

.poll-page--final {
  & .poll-page__title {
    @include font-h2;
    padding-bottom: 32px;

    @media (max-width: $tablet-width - 1) {
      padding-bottom: 34px;
    }

    @media (max-width: $mobile-max-width) {
      padding-bottom: 24px;
    }
  }

  & .poll-page__description {
    & p {
      margin-bottom: 6px;

      @media (max-width: $tablet-width - 1) {
        margin-top: 14px;
        margin-bottom: 24px;
      }

      @media (max-width: $mobile-max-width) {
        margin-bottom: 14px;
      }
    }
  }

  & .poll-page__doc-list {
    padding-bottom: 22px;
    background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;

    @media (max-width: $tablet-width - 1) {
      padding-bottom: 30px;
    }

    @media (max-width: $mobile-max-width) {
      padding-bottom: 20px;
    }
  }

  & .poll-page__date-title {
    & b {
      font-weight: 400;
      color: var(--color-text, $dark-text);
    }
  }

  & .poll-page__form {
    margin-top: 40px;

    @media (max-width: $mobile-max-width) {
      margin-top: 36px;
    }
  }
}
