.projects-list {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  .project-item {
    width: auto;
  }
}


@include tablet {
  .projects-list {
    margin-bottom: 48px;
    grid-template-columns: 1fr 1fr;
  }
}


@include mobile {
  .projects-list {
    margin-bottom: 40px;
    display: block;

    .project-item {
      margin-bottom: 16px;
    }
  }
}
