.project {
  text-align: center;
  box-sizing: border-box;
  padding: 96px 40px 0;

  @media (max-width: $desktop-width - 81) {
    padding: 88px 24px 0;
  }

  @media (max-width: $tablet-width - 1) {
    padding: 65px 16px 0;
  }
}

.project__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 41px;

  @media (max-width: $tablet-width - 1) {
    padding-bottom: 25px;
  }
}

.project__title {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 52px;

  color: $dark-text;

  @include font-h1();

  @media (max-width: $tablet-width - 1) {
    padding-left: 45px;

    @include font-h2();
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 2px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-projects.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $tablet-width - 1) {
      top: 2px;

      width: 29px;
      height: 29px;
    }
  }
}

.project__archive-link {
  @media (max-width: $desktop-width - 81) {
    .project__hide {
      display: none;
    }
  }

  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.project__info {
  margin: 0 0 40px;
  padding: 26px 68px;

  font-weight: 500;
  font-size: rem(16px);
  line-height: 1.35;
  color: $white;
  text-align: left;

  background-color: $orange;
  border-radius: $border-radius;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 26px;
    padding: 24px 24px 24px 60px;
  }
}

.project__info-text {
  position: relative;

  margin: 0;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;

    width: 24px;
    height: 24px;

    background-image: url("../img/icon-time-white.svg");
    background-repeat: no-repeat;

    @media (max-width: $tablet-width - 1) {
      top: 1px;
    }
  }
}

.project__info--finish {
  display: none;
  justify-content: space-between;
  align-items: center;

  background-color: $blue-default;

  .project__info-text {
    &::before {
      background-image: url("../img/icon-tick-white.svg");
      background-size: 24px 24px;
    }
  }
}

.project__info-doc {
  position: relative;

  padding-left: 36px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 100%;

    background-image: url("../img/icon-doc.svg");
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

.project__doc-name {
  margin: 0;
  padding: 0;

  font-size: rem(13px);
  line-height: 1.3;
}

.project__doc-size {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: rem(13px);
  line-height: 1.3;
  color: $light-blue-accent;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.project__item {
  flex-shrink: 0;
  width: calc(50% - 4px);
  margin-bottom: 8px;

  background-color: $color-bg;
  border-radius: $border-radius;

  transition: box-shadow $style-change-duration linear;

  @media (max-width: $desktop-width - 81) {
    width: 100%;
  }

  @media (max-width: $tablet-width - 1) {
    &.js_hide {
      display: none;
    }
  }

  &--library {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-1.svg");
    }
  }
  &--education {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-12.svg");
    }
  }
  &--park {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-2.svg");
    }
  }
  &--art {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-13.svg");
    }
  }
  &--home {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-3.svg");
    }
  }
  &--archeology {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-14.svg");
    }
  }
  &--water {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-4.svg");
    }
  }
  &--culture {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-15.svg");
    }
  }
  &--child {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-5.svg");
    }
  }
  &--fire {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-16.svg");
    }
  }
  &--road {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-6.svg");
    }
  }
  &--waste {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-17.svg");
    }
  }
  &--money {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-7.svg");
    }
  }
  &--connection {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-18.svg");
    }
  }
  &--service {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-8.svg");
    }
  }
  &--sport {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-19.svg");
    }
  }
  &--event {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-9.svg");
    }
  }
  &--tourism {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-20.svg");
    }
  }
  &--grave {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-10.svg");
    }
  }
  &--birth {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-21.svg");
    }
  }
  &--medicine {
    .project__name::before {
      background-image: url("../img/icon-category/icon-category-11.svg");
    }
  }


  &:hover {
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);

    .project__name {
      color: $blue-default;
    }
  }
}

.project__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 16px 23px 23px;

  text-decoration: none;

  @media (max-width: $tablet-width - 1) {
    padding: 24px 16px 23px 16px;
  }
}

.project__name {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 48px;

  font-size: rem(18px);
  line-height: 1.3;
  color: $dark-text;

  transition: color $style-change-duration linear;

  @media (max-width: $tablet-width - 1) {
    padding: 37px 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;

    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center center;

    @media (max-width: $tablet-width - 1) {
      top: -2px;
    }
  }
}

.project__count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  font-size: rem(18px);
  line-height: 1.3;
  color: $grey-default;

  background-color: $white;
  border-radius: 50%;
}

.project__button {
  display: none;
  margin-top: 24px;
  width: 100%;

  &.js_hide {
    display: none;
  }

  @media (max-width: $tablet-width - 1) {
    display: block;
  }
}

.project__archive-mobile {
  display: none;

  @media (max-width: $tablet-width - 1) {
    display: block;
    margin-top: 24px;
  }
}
