.project-page__container,
.project-page__survey {
  width: 740px;
}

.project-page__container {
  margin-bottom: 48px;
}

.project-page__meta {
  margin-bottom: 40px;
}

.project-page__budget {
  padding: 24px;
  margin: 0;
  font-size: rem(13px);
  line-height: rem(17px);
  color: var(--color-text, $grey);
}

.project-page__budget-co-financing {
  display: block;
  margin-top: 17px;
}

.project-page__budget-co-financing .project-page__budget-value {
  font-size: rem(24px);
  font-weight: 400;
  line-height: 28px;
  color: var(--color-text, $grey);
}

.project-page__budget-value {
  display: block;
  margin-top: 8px;
  font-weight: 300;
  font-size: rem(40px);
  line-height: rem(47px);
  color: var(--color-text, $dark-text);
}

.project-page__files {
  margin-bottom: 48px;
}

.project-page__text {
  margin-bottom: 40px;
}

.project-page__text-btn {
  display: none;
}

.project-page__contacts {
  padding: 23px 25px;
  border-top: 1px solid var(--color-stroke, $light-grey);

  &--border {
    border-bottom: 1px solid var(--color-stroke, $light-grey);
  }
}

.project-page__contacts-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-family: inherit;
  font-size: rem(18px);
  line-height: rem(23px);
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-text, $dark-text);
}

.project-page__contacts-info {
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.project-page__contacts-item {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.project-page__contacts-label,
.project-page__contacts-info {
  font-size: rem(13px);
  line-height: rem(17px);
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-text, $grey-lighter);
}

.project-page__contacts-name {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0;
  text-decoration: none;

  font-size: rem(16px);
  line-height: rem(22px);
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-text,  $dark-text);
}

.project-page__result {
  padding: 24px;
  border-top: 1px solid var(--color-stroke, $light-grey);
}

.project-page__result-button-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project-page__result-info {
  font-size: rem(13px);
  line-height: rem(17px);
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-text,  $grey-lighter);
}

.project-page__gallery {
  margin-bottom: 48px;
}

.project-page__examination-date {
  display: flex;
  align-items: center;
  padding: 24px;
  margin: 0;
  margin-bottom: 48px;
  font-size: rem(18px);
  line-height: rem(23px);
  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: $border-radius;

  svg {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 17px;
  }
}

.project-page__survey,
.page-survey {
  padding: 23px 24px;
  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: $border-radius;
  margin-bottom: 40px;
}

.project-page__survey-container {
  padding-bottom: 34px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-stroke, $light-grey);

  .form-radio:last-child {
    margin-bottom: 0;
  }
}

.project-page__survey-btn {
  width: 230px;

  &.disabled {

  }
}

.project-page__back-btn {
  width: 372px;
  padding-right: 20px;
  padding-left: 20px;
  //margin-top: 40px;
  font-size: rem(14px);
  line-height: rem(19px);

  span {
    padding: 0;
  }
}

.project-page--single-page-rating .project-page__back-btn {
  width: auto;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 0;
  font-size: rem(15px);
}

@include desktop-only {
  .project-page__container {
    position: relative;
  }

  .project-page__panel {
    &--js {
      position: absolute;
      top: 0;
      left: calc(100% + 20px);
      width: 360px;
    }
  }
}


@include tablet {
  .project-page__container,
  .project-page__survey {
    width: 100%;
  }

  .project-page__meta,
  .project-page__panel,
  .project-page__text,
  .project-page__files,
  .project-page__examination-date,
  .project-page__form,
  .project-page__milestones,
  .project-page__tabs {
    width: calc(100% - 2 * #{$tablet-padding});
    margin-right: $tablet-padding;
    margin-left: $tablet-padding;
  }

  .project-page__meta {
    margin-bottom: 16px;
  }

  .project-page__panel {
    margin-bottom: 56px;
  }

  .project-page__text p:not([class]) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .project-page__contacts-name {
    margin-top: 4px;
  }

  .project-page__contacts-info {
    margin-top: 0;
    margin-bottom: 2px;
  }
}


@include mobile {
  .project-page__meta,
  .project-page__panel,
  .project-page__text,
  .project-page__files,
  .project-page__examination-date {
    width: calc(100% - 2 * #{$mobile-padding});
    margin-right: $mobile-padding;
    margin-left: $mobile-padding;
  }

  .project-page__text {
    margin-bottom: 48px;

    p:not([class]) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .project-page__text-container {
    overflow: hidden;
    transition: height 0.5s;
  }

  .project-page__text--collapsed .project-page__text-container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 54px;
      background-image: linear-gradient(to top, var(--color-bg-main, $white) 0%, var(--color-bg-main-transparent, rgba($color-bg, 0)) 100%);
    }
  }

  .project-page__text--js .project-page__text-btn {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 12px;
    background-color: transparent;
    border: none;
    font-size: rem(15px);
    line-height: rem(20px);
    cursor: pointer;

    .project-page__text-btn-caption,
    svg {
      pointer-events: none;
    }

    svg {
      width: 13px;
      height: 13px;
      margin-left: 10px;
      fill: currentColor;
      transform: rotate(90deg);
      transition: transform 0.5s;
    }
  }

  .project-page__text--collapsed .project-page__text-btn svg {
    transform: rotate(-90deg);
  }

  .project-page__gallery {
    margin-bottom: 40px;
  }

  .project-page__examination-date {
    display: block;
    padding: 24px;
    margin-bottom: 32px;

    svg {
      margin-right: 0;
      margin-bottom: 14px;
    }
  }

  .project-page__survey {
    padding: 23px 16px;
  }

  .project-page__survey-btn {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  .project-page__back-btn {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 32px auto 0;
  }

  .project-page__mobile-hidden {
    display: none;
  }
}

@media print {
  .project-page__survey-btn,
  .project-page__back-btn {
    display: none;
  }
}

.project-page__address {
  margin-top: -13px;
  margin-bottom: 48px;

  font-family: inherit;
  font-size: rem(16px);
  line-height: rem(22px);
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-text,  $dark-text);

  svg {
    fill: var(--color-text,  $grey);
  }
}

.project-page--single-page-rating {
  .info-banner {
    padding-bottom: 12px;
  }

  .project-meta__category-link {
    margin-top: 0;
    margin-left: 14px;
  }

  .project-meta__category-link svg {
    display: block;
  }


  .project-meta__category {
    border-bottom: none;
  }

  .project-vote__expire {
    margin-top: 17px;
  }

  .project-vote__date {
    padding-right: 25px;
    margin-right: auto;
  }

  .content h2:not([class]) {
    margin-bottom: 20px;
  }

  .project-page__files {
    margin-top: 24px;
  }

  .project-page__gallery {
    margin-top: 25px;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--color-stroke, $light-grey);
  }

  .project-page__text {
    margin-bottom: 50px;
  }

  .project-page__rejected-info {
    max-width: 274px;

    margin-top: -13px;
    margin-bottom: 43px;
  }

  @include tablet {
    .info-banner,
    .info-banner--approved {
      padding-left: 66px;
      margin-left: 0;
      margin-top: 0;
    }

    .info-banner__icon {
      left: 29px;
    }

    .project-page__container {
      margin-bottom: 40px;
    }

    .content h1:not([class]) {
      margin-bottom: 40px;
    }

    .project-meta__category-link {
      margin-left: 20px;
    }

    .project-vote__container {
      padding: 24px 22px;
    }

    .project-vote__date:first-of-type {
      margin-right: 30px;
    }

    .project-vote__expire {
      margin-right: 0;
      margin-top: 24px;
    }

    .project-meta {
      margin-bottom: 39px;
    }

    .project-meta__category {
      font-size: rem(18px);
      padding-left: 21px;
      padding-bottom: 15px;
    }

    .project-page__budget {
      padding-right: 24px;
      padding-bottom: 8px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
    }

    .project-page__budget-value {
      padding-right: 25px;
    }

    .project-page__result-button-wrap {
      margin-bottom: 0;
    }

    .project-page__panel {
      margin-bottom: 43px;
    }

    .project-page__result {
      padding-bottom: 24px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .project-page__result-info {
      margin-left: 15px;
    }

    .project-page__address {
      display: flex;
      align-items: center;
      padding-left: 23px;
      margin-bottom: 0;
    }

    .project-page__address svg {
      margin-right: 5px;
    }

    .content h2:not([class]) {
      margin-bottom: 23px;
    }

    .project-page__files {
      width: 100%;
      padding: 0 24px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .file-item {
      max-width: calc(100% / 2 - 30px);
      width: 100%;
    }

    .file-item:not(:last-child) {
      margin-bottom: 0;
    }

    .project-page__gallery {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: none;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 24px;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-stroke, $light-grey);
        max-width: calc(100vw - 48px);
      }
    }

    .project-page__back-btn {
      position: relative;
      margin-left: 24px;
      max-width: 280px;
    }

    .project-page__mobile-hidden {
      display: block;
    }

    .project-page__text {
      margin-bottom: 40px;
    }

    .project-page__rejected-info {
      margin-left: 24px;
    }
  }

  @include mobile {
    padding-top: 42px;

    .info-banner {
      padding: 21px 40px 10px 61px;
      margin-bottom: 33px;

      svg {
        top: 22px;
        left: 22px;
      }
    }

    .info-banner__title {
      margin-bottom: 0;
      padding-left: 0;
      line-height: 23px;
    }

    .info-banner__text {
      font-size: rem(15px);
      line-height: rem(20px);
    }

    .content h1:not([class]) {
      margin-bottom: 25px;
      font-size: rem(24px);
      line-height: rem(28px);
    }

    .project-meta {
      margin-bottom: 17px;
    }

    .project-meta__category {
      padding-left: 15px;
      font-size: rem(16px);
    }

    .project-meta__category-link {
      margin-top: 10px;
      margin-left: 0;
    }

    .project-meta__category-link svg {
      display: none;
    }

    .project-page__budget {
      padding-top: 21px;
      padding-left: 16px;
      padding-bottom: 19px;
    }

    .project-page__contacts {
      padding-top: 21px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 18px;
    }

    .project-page__result {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 21px;
      padding-bottom: 15px;
    }

    .project-page__result-button-wrap {
      flex-direction: column;
      width: 100%;
      margin-bottom: 3px;
    }

    .button-like--bordered {
      text-align: center;
      display: flex;
      justify-content: center;
      max-width: 100%;
      margin-bottom: 8px;
    }

    .project-page__result-info {
      margin-left: 0;
    }

    .content h2:not([class]) {
      margin-top: 35px;
      margin-bottom: 18px;
      font-size: rem(24px);
    }

    .project-page__address {
      padding-left: 17px;
    }

    .project-page__files {
      padding: 0 16px;
      grid-gap: 0;
    }

    .file-item {
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }


    .project-page__gallery {
      margin-top: 18px;

      &::before {
        left: 16px;
        max-width: calc(100vw - 32px);
      }
    }

    .project-page__back-btn {
      max-width: 290px;
      margin: 0 auto;
    }

    .project-page__rejected-info {
      margin-left: 16px;
      margin-top: 0;
    }
  }

  @media (max-width: $mobile-max-width) {
    .project-vote__date {
      padding-right: 0;
      margin-right: 0;
    }
  }
}

.project-page__aside-img {
  font-size: 0;
  line-height: 0;
  margin: 0;

  .content & {
    img {
      margin-bottom: 0;
    }
  }
}

.project-page__cards-list {
  --cardsGap: 15px;
  --cardsCount: 3;

  @include tablet {
    --cardsCount: 2;
  }

  @include mobile {
    --cardsCount: 1;

    margin-right: 0;
  }
}

.project-page__cards-image-wrapper {
  height: 154px;
}

.project-page__form {
  .form__section {
    &:first-child {
      padding-top: 0;
    }
  }
}

.project-page__tab-wrapper {
  background-color: $color-bg;
  padding: 32px 24px;

  h2:not([class]) {
    margin-top: 0;
  }
}

.project-page__tab {
  display: none;
}

.project-page {
  .proposal__tab-item--active {
    display: block;
  }

  .proposal__tabs {
    margin-right: 0;
  }
}
