.project-item {
  position: relative;
  width: 360px;
  background-color: var(--color-bg-secondary, $color-bg);
  border: 1px solid transparent;
  border-radius: $border-radius;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 3px;
    border-radius: $border-radius;
  }

  &--win {
    background-color: var(--color-bg-secondary, $light-blue);

    &::before {
      background-color: $blue-default;
    }
  }

  &--voted {
    background-color: var(--color-bg-secondary, $pale-green);

    &::before {
      background-color: $green;
    }

    .project-item__link {
      &:focus {
        color: var(--color-interactive-default, $green);
      }

      &:focus:not(.focus-visible) {
        color: var(--color-text, $dark-text);
      }

      &:hover:not(.focus-visible) {
        color: var(--color-interactive-default, $green);
      }
    }
  }

  &--against {
    background-color: var(--color-bg-secondary, $pale-red);

    &::before {
      background-color: $red;
    }

    .project-item__link {
      &:focus {
        color: var(--color-interactive-default, $red);
      }

      &:focus:not(.focus-visible) {
        color: var(--color-text, $dark-text);
      }

      &:hover:not(.focus-visible) {
        color: var(--color-interactive-default, $red);
      }
    }
  }

  &--disabled {
    background-color: transparent;
    border-color: var(--color-stroke, $light-grey);

    .project-item__link {
      color: var(--color-text, $grey-default);

      &:focus,
      &:focus:not(.focus-visible),
      &:hover:not(.focus-visible) {
        color: var(--color-text, $grey-default);
      }
    }
  }
}

.project-item__link {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  min-height: 159px;
  padding: 23px 24px 15px;
  user-select: none;
  text-decoration: none;
  color: var(--color-text, $dark-text);
  outline: none;
  transition: color $style-change-duration, box-shadow $style-change-duration;

  &:focus {
    color: var(--color-interactive-default, $blue-default);
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-text, $dark-text);
    box-shadow: 0 0 0 rgba(0, 30, 75, 0);
  }

  &:hover:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-default);
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
  }
}

.project-item__title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(22px);
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.project-item__expire {
  padding-top: 14px;
  margin: 0;
  margin-top: auto;
  font-size: rem(13px);
  line-height: rem(17px);
  color: var(--color-text, $grey-default);
  border-top: 1px solid var(--color-stroke, $light-grey);
}

.project-item .button-star {
  position: absolute;
  right: 18px;
  bottom: 6px;
  opacity: 0;
  transition: opacity $style-change-duration;
}

.project-item .button-star--active,
.project-item .button-star:focus,
.project-item .button-star:hover,
.project-item__link:focus + .button-star,
.project-item__link:hover + .button-star {
  opacity: 1;
}


@include tablet {
  .project-item {
    width: 326px;

    &--voted {
      .project-item__link {
        &:hover:not(.focus-visible) {
          color: var(--color-text, $dark-text);
        }

        &:active:not(.focus-visible) {
          color: var(--color-interactive-default, $green);
        }
      }
    }

    &--against {
      .project-item__link {
        &:hover:not(.focus-visible) {
          color: var(--color-text, $dark-text);
        }

        &:active:not(.focus-visible) {
          color: var(--color-interactive-default, $red);
        }
      }
    }
  }

  .project-item__link {
    &:hover:not(.focus-visible) {
      color: var(--color-text, $dark-text);
      box-shadow: 0 0 0 rgba(0, 30, 75, 0);
    }

    &:active:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
      box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);
    }
  }

  .project-item .button-star {
    opacity: 1;
  }
}


@include mobile {
  .project-item {
    width: 288px;
  }
}

@media print {
  .project-item {
    &--disabled {
      border: none;
    }
  }
}
