.project-vote {
  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: $border-radius;
  //z-index: 1000;
  z-index: 9;
}

.project-vote__container {
  padding: 24px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-stroke, $light-grey);
  }

  &--meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &--fulfillment {
    .project-vote__date {
      margin-top: 8px;
    }
    .project-vote__expire {
      margin-top: 18px;
    }
  }
}

.project-vote__title {
  width: 100%;
  margin: 0;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(23px);

  &--fulfillment {
    margin-bottom: 8px;
  }

  &--result {
    color: var(--color-text, $blue-default);
    font-weight: 300;
    font-size: rem(40px);
    line-height: rem(47px);
  }
}

.project-vote__date {
  margin: 0;
  font-size: rem(13px);
  line-height: rem(17px);
  color: var(--color-text, $grey-default);

  &:first-of-type {
    margin-right: 33px;
  }

  time {
    display: block;
    margin-top: 4px;
    font-size: rem(16px);
    line-height: rem(22px);
    color: var(--color-text, $grey);
  }
}

.project-vote__expire {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 16px;
  font-size: rem(16px);
  line-height: rem(22px);
  color: var(--color-text, $grey);

  svg {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 9px;
    fill: none;
  }

  &--address {
    margin-top: 0;
  }

  &--single-page-rating {
    font-size: 13px;

    strong:not([class]) {
      margin-right: -3px;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
    }
  }

  &--result {
    margin-top: 0;
  }
}

.project-vote__results {
  margin-bottom: 24px;
}

.project-vote__submit-form {
  width: 100%;

  form {
    display: flex;
    flex-wrap: wrap;
    margin-top: -11px;
    margin-left: -11px;

    input {
      display: none;
    }
  }
}

.project-vote__vote-btn {
  display: flex;
  align-items: center;
  padding: 11px;
  margin-top: 11px;
  margin-left: 11px;
  font-size: rem(13px);
  line-height: rem(22px);
  user-select: none;
  color: var(--color-text, $dark-text);
  background-color: var(--color-bg-main, $white);
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: $border-radius;
  cursor: pointer;
  outline: none;
  transition: color $style-change-duration, background-color $style-change-duration;

  &:focus {
    color: var(--color-text, $white);
    background-color: var(--color-interactive-default, $blue-default);
  }

  &:focus:not(.focus-visible) {
    color: var(--color-text, $dark-text);
    background-color: var(--color-bg-main, $white);
  }

  &:hover:not(.focus-visible) {
    color: var(--color-text, $white);
    background-color: var(--color-interactive-default, $blue-default);
  }

  .project-vote__confirmation-text {
    display: none;
  }

  &:not(.project-vote__vote-btn--disabled) {
    input:checked ~ span .project-vote__confirmation-text {
      display: inline;
    }

    input:checked ~ span .project-vote__btn-text {
      display: none;
    }
  }

  span,
  svg {
    pointer-events: none;
  }

  svg {
    display: block;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 11px;
    fill: none;
  }

  &--approve svg {
    stroke: var(--color-icon, $green);
  }

  &--reject svg {
    stroke: var(--color-icon, $red);
  }

  &--disabled {
    pointer-events: none;
    color: var(--color-text, $disabled-color);

    @media screen and (min-width: $desktop-width) {
      pointer-events: all;
    }

    svg {
      stroke: var(--color-icon, $disabled-color);
    }

    &:focus {
      color: var(--color-text, $disabled-color);
      background-color: var(--color-bg-main, $white);
    }

    &:focus:not(.focus-visible) {
      color: var(--color-text, $disabled-color);
      background-color: var(--color-bg-main, $white);
    }

    &:hover:not(.focus-visible) {
      color: var(--color-text, $disabled-color);
      background-color: var(--color-bg-main, $white);
    }
  }

  @media screen and (min-width: $desktop-width) {
    &:not(.project-vote__vote-btn--disabled) {
      &[data-tooltip]::after,
      &[data-tooltip]::before {
        display: none;
      }
    }

    &[data-tooltip]::after {
      min-width: 216px;
    }
  }
}

.project-vote--voted .project-vote__vote-btn {
  display: none;

  &--selected {
    display: flex;

    &:focus,
    &:hover:not(.focus-visible) {
      color: var(--color-text, $dark-text);
      background-color: var(--color-bg-main, $white);
    }
  }
}

.project-vote__submit {
  margin-top: 16px;
}

.project-vote--js .project-vote__submit {
  display: none;
}

.project-vote__notion {
  margin: 0;
  margin-top: 16px;
  font-size: rem(13px);
  line-height: rem(17px);
  color: var(--color-text, $grey-default);

  &--single {
    margin: 0;
  }

  &--link {
    color: $blue-default;
    margin: 0;
  }
}

.project-vote__revoke-form {
  display: none;
  margin-top: 8px;
}

.project-vote--voted .project-vote__revoke-form {
  display: block;
}

.project-vote__revoke-btn {
  padding: 0;
  font-size: rem(15px);
  line-height: rem(20px);
  user-select: none;
  color: $red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: opacity $style-change-duration;

  &:focus {
    opacity: 0.7;
  }

  &:focus:not(.focus-visible) {
    opacity: 1;
  }

  &:hover:not(.focus-visible) {
    opacity: 0.7;
  }
}
.project-vote__number {
  width: 100%;
  margin-top: 24px;
  padding-top: 25px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  border-top: 1px solid var(--color-stroke, $light-grey);

  margin-right: 12px;
  font-weight: 500;
  font-size: rem(15px);
  line-height: 135%;
}
.project-vote__like-counter {
  width: 100%;
  margin-top: 24px;
  padding-top: 25px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  border-top: 1px solid var(--color-stroke, $light-grey);

  cursor: pointer;

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {
      svg {
        .stroked {
          fill: transparent;
        }

        .filled {
          fill: var(--color-interactive-default, $blue-default);
        }
      }

      span {
        color: var(--color-interactive-default, $blue-default);
      }
    }
  }

  &--disabled {
    cursor: auto;
    pointer-events: none;
  }

  span {
    margin-right: 12px;
    font-weight: 500;
    font-size: rem(15px);
    line-height: 135%;

    min-width: 40px;
  }

  svg {
    margin-bottom: 5px;

    .stroked {
      fill: var(--color-interactive-default, $blue-default);
      transition: fill $style-change-duration;
    }

    .filled {
      fill: transparent;
      transition: fill $style-change-duration;
    }
  }
}

.project-vote .liked {
  svg {
    .filled {
      fill: var(--color-interactive-default, $blue-default);
    }

    .stroked {
      fill: transparent;
    }
  }

  span {
    color: var(--color-interactive-default, $blue-default);
  }
}

.project-vote__notification {
  margin-top: 24px;
}

.project-vote__fulfillment-text {
  margin: 0;

  color: $grey;
  font-size: rem(16px);
  line-height: rem(21.6px);
}


@include tablet {
  .project-vote__container {
    &--vote {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .project-vote__expire {
    margin-top: 0;
    margin-left: auto;

    &--address {
      margin-left: 0;
    }
  }

  .project-vote__results {
    width: 50%;
    margin-bottom: 0;
  }

  .project-vote__vote-btn {
    &:hover:not(.focus-visible) {
      color: var(--color-text, $dark-text);
      background-color: var(--color-bg-main, $white);
    }

    &:active:not(.focus-visible) {
      color: var(--color-text, $white);
      background-color: var(--color-interactive-default, $blue-default);
    }

    &--selected {
      margin-left: auto;

      &:active:not(.focus-visible) {
        color: var(--color-text, $dark-text);
        background-color: var(--color-bg-main, $white);
      }
    }
  }

  .project-vote__submit-form {
    width: 312px;
  }

  .project-vote__notion {
    margin-top: 27px;
  }

  .project-vote__revoke-form {
    margin-top: 25px;
  }

  .project-vote__revoke-btn {
    &:hover:not(.focus-visible) {
      opacity: 1;
    }

    &:active:not(.focus-visible) {
      opacity: 0.7;
    }
  }
}


@include mobile {
  .project-vote__container {
    padding: 24px 16px;

    &--vote {
      display: block;
    }
  }

  .project-page--single-page-rating .project-vote__container {
    padding: 17px;
    padding-bottom: 19px;
  }

  .project-vote__expire {
    margin-top: 16px;
    margin-left: 0;

    &--address {
      margin-top: 0;
    }
  }

  .project-vote__results,
  .project-vote__submit-form {
    width: 100%;
  }

  .project-vote__results {
    margin-bottom: 23px;
  }

  .project-vote__vote-btn {
    flex-grow: 1;
  }

  .project-vote__notion {
    margin-top: 16px;
  }

  .project-vote__revoke-form {
    margin-top: 16px;
  }
}

@media print {
  .project-vote__submit-form {
    display: none;
  }
}

.project-vote__choose-project {
  color: $grey;
  font-size: rem(13px);
  line-height: rem(16.9px);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-bottom: 0;
  display: none;
}

.project-vote__marked {
  margin: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-text, $blue-default);
    font-size: 15px;
    line-height: 20.25px;
    font-weight: 400;
    padding-bottom: 2px;
    border-bottom: 1px dashed var(--color-text, $blue-default);
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: var(--color-text, white);
    stroke: var(--color-interactive-default, #2C8ECC);
  }
}

.project-vote__choose-btn {
  margin-top: 20px;
}

.project-vote__wrapper {
  width: 100%;
}

.project-vote__link {
  margin-top: 16px;

  font-size: rem(16px);
  line-height: 135%;
}
