.projects-list {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 40px)/3));
  grid-template-rows: auto;
  grid-gap: 20px;

  .project-item {
    width: auto;
  }
}


@include tablet {
  .projects-list {
    grid-template-columns: repeat(2, calc((100% - 20px)/2));
  }
}


@include mobile {
  .projects-list {
    display: block;

    .project-item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
