.project-status {
  position: relative;
  padding-left: 9px;

  font-weight: normal;
  font-size: rem(14px);
  line-height: 130%;

  @include status-colors;

  &::before {
    content: "";
    position: absolute;

    width: 5px;
    height: 5px;

    top: 50%;
    left: 0;

    background-color: currentColor;

    border-radius: 50%;

    transform: translateY(-50%);
  }
}
