.proposal-winners__title {
  margin-top: 0;
  margin-bottom: 34px;
  padding-top: 40px;
  font-size: rem(30px);
  line-height: rem(35.55px);
  font-weight: 400;
  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

.proposal-winners__proposal {
  margin-bottom: 31px;
}

.proposal-winners__paginator {
  margin: 0 0 56px 10px;
}

.proposal-winners__show-map-btn {
  display: none;
}

.proposal-winners__map-container {
  max-width: $desktop-width;
  padding: 0 40px;
  margin: 0 auto;

  @include tablet {
    padding: 0;
  }

  @include mobile {
    padding: 0;
  }
}

.proposal-winners__map {

  button {
    display: none;
  }

  iframe {
    width: 100%;
    max-width: 1120px;
    border: none;
    border-radius: 5px;
  }
}

@include tablet {
  .proposal-winners__proposal {
    margin-bottom: 41px;
  }

  .proposal-winners__paginator {
    margin-left: 0;
    margin-bottom: 81px;
  }

  .proposal-winners__map {
    iframe {
      height: 460px;
    }
  }
}

@include mobile {
  .proposal-winners__title {
    margin-bottom: 0px;
    padding-top: 35px;
    font-size: rem(24px);
    line-height: rem(28.44px);
  }

  .proposal-winners__proposal {
    margin-bottom: 48px;
  }

  .proposal-winners__map {
    display: none;
  }

  .proposal-winners__show-map-btn {
    @include btn-reset;
    margin: 0 auto;
    display: block;
    font-size: rem(15px);
    line-height: rem(20.25px);
    font-weight: 500;
    color: #2C8ECC;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $blue-accent;
    }
  }

  .proposal-winners__paginator {
    margin-bottom: 35px;
  }

  .proposal-winners__map {
    display: none;
    position: fixed;
    z-index: 222;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: #ffffff;

    button {
      @include btn-reset;
      position: relative;
      margin-left: auto;
      margin-top: 16px;
      margin-bottom: 20px;
      margin-right: 16px;
      display: block;
      width: 26px;
      height: 26px;

      &::before,
      &::after {
        position: absolute;
        left: 10px;
        top: 0;
        content: "";
        height: 26px;
        width: 2px;
        background-color: #A6ABB3;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    iframe {
      height: 100%;
    }

    &--show {
      display: block;
    }
  }

  .proposal-winners__map-container {
    height: 100%;
  }

  .proposal-winners__close-map-btn {
    @include btn-reset;
    position: absolute;
    top: 2px;
    right: 1px;
    width: 26px;
    height: 26px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      left: 12px;
      top: 3px;
      content: "";
      height: 19px;
      width: 2px;
      background-color: #BFBFBF;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {

      &::before,
      &::after {
        background-color: #7e7e7e;
      }
    }
  }
}
