.proposal-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.proposal-list__item {
  padding: 32px 0;

  border-bottom: 1px solid var(--color-stroke, $light-grey);

  &:first-child {
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    grid-template-areas: "a  a"
    "b  c"
    "d  d";
    grid-template-columns: 1fr 15%;

    display: grid;

    > * {
      justify-self: start;

      align-self: start;
    }
  }

  &--border-top {
    padding-top: 32px;

    border-top: 1px solid var(--color-stroke, $light-grey);
  }

  &--without-counter {
    display: flex;
    flex-flow: column nowrap;
  }
}

.proposal-list__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-area: a;

    margin-bottom: 4px;
  }

  @media (max-width: $tablet-width - 1) {
    flex-flow: column wrap;
    margin-bottom: 24px;
  }
}

.proposal-list__account {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  font-weight: normal;
  font-size: rem(14px);
  line-height: 130%;
  color: var(--color-interactive-default, $blue-default);

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 8px;
  }

  svg {
    fill: var(--color-interactive-default, $blue-default);

    width: 10px;
    height: 12px;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-left: 1px;
  }
}
//новое добавление
.proposal-list__project-mark {
  color: $grey-lighter;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 16px;

  svg {
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }
}

.proposal-list__address {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: flex-start;
  // align-items: center;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  svg {
    width: 12px;
    height: 12px;
    margin-right: 5px;

    color: var(--color-text, $grey-default);
  }

  span {
    font-weight: normal;
    font-size: rem(14px);
    line-height: 130%;
    color: var(--color-text, $grey-default);
  }
}

.proposal-list__title {
  grid-area: b;

  margin: 0;

  font-weight: 500;
  font-size: rem(18px);
  line-height: 130%;
  color: var(--color-text, $dark-text);
  text-decoration: none;

  transition: color $style-change-duration;

  &:last-child {
    margin-bottom: 0;
  }

  &--regular {
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
    }
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    margin-bottom: 24px;
  }


  @media (max-width: $tablet-width - 1) {
    display: block;
    margin-bottom: 22px;
  }

  &--shorter {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      margin-bottom: 0;
    }
  }
}

.proposal-list__status {
  grid-area: d;

  font-weight: 400;
  font-size: rem(15px);
  line-height: 135%;

  @include status-colors;

  @media (min-width: $desktop-width) {
    grid-area: c;

    margin-left: auto;
  }
}

//добавка альтернативы лайка - чекбокс
.form-checkbox-update {
  grid-area: c;
}

.proposal-list__like-counter {
  grid-area: c;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  font-weight: normal;
  font-size: rem(13px);
  line-height: 130%;
  color: var(--color-text, $grey-default);

  cursor: pointer;

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {
      svg {
        .stroked {
          fill: var(--color-interactive-default, $blue-default);
        }
      }

      span {
        color: var(--color-interactive-accent, $blue-accent);
      }
    }
  }

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    margin-top: 5px;
    margin-left: auto;
  }

  @media (max-width: $tablet-width - 1) {
    margin-top: 27px;
  }

  &--disabled {
    pointer-events: none;
  }

  span {
    min-width: 35px;

    transition: color $style-change-duration;
  }

  svg {
    align-self: flex-start;
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-left: 13px;
  }

  .stroked {
    fill: var(--color-text, $grey-default);

    transition: fill $style-change-duration;
  }

  .filled {
    transition: fill $style-change-duration;
  }
}

.proposal-list__like-counter--update {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .form-checkbox {
    display: block;
    width: 100%;
  }
  .proposal__like-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.liked {
  color: var(--color-interactive-accent, $blue-accent);

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {
      svg {
        .stroked {
          fill: transparent;
        }
      }

      span {
        color: var(--color-interactive-accent, $blue-accent);
      }
    }
  }

  .stroked {
    fill: transparent;
  }

  .filled {
    fill: var(--color-interactive-default, $blue-default);
  }
}

.proposal-list__item--userless {
  .proposal-list__title {
    font-weight: normal;
    font-size: rem(16px);
    line-height: 135%;

    @media (min-width: $tablet-width ) {
      margin-bottom: 0;
    }
  }
}
