.proposal {
  padding-top: 40px;
  padding-bottom: 72px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-bottom: 104px;
    padding-left: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
    padding-left: 0;
  }

  > *:not(.proposal__wrapper) {
    margin-right: 16px;

    @media (min-width: $tablet-width) {
      margin-right: 24px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &--aside {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: minmax(740px, 1fr) 360px;
      grid-column-gap: 20px;
      grid-template-areas:
        "a a"
        "b b"
        "curator curator"
        "c c"
        "d e";

      >* {
        align-self: start;
      }
    }
  }
}

.proposal__info {
  margin-top: 0;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: a;
    margin-bottom: 40px;
  }
}

.proposal__comments {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.proposal__title {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-area: b;
  }
}

.proposal__curator {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-area: curator;
  }
}

.proposal__vote {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    position: sticky;
    top: 115px;
    grid-area: e;
  }
}

.proposal__text-container {
  margin-bottom: 48px;

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}

.proposal__text-container p {
  margin: 0;
  line-height: 180%;
}

.proposal__wrapper {
  @media (min-width: $desktop-width) {
    grid-area: d;
  }

  >*:not(.proposal__slider) {
    margin-right: 16px;

    @media (min-width: $tablet-width) {
      margin-right: 24px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.proposal__last-comment {
  margin-bottom: 56px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}

.proposal__rules {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.proposal__form-title {
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.proposal__description {
  margin-bottom: 72px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.proposal__image-uploads {
  margin-bottom: 72px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.proposal__map {
  margin-bottom: 24px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  &--no-address {
    .map-section__address {
      display: none;
    }
  }
}

.proposal__slider {
  margin-bottom: 56px;

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  h2 {
    margin: 0 0 24px;
  }
}

.proposal__gallery {
  max-width: 740px;

  @media (max-width: $desktop-width - 1) {
    max-width: unset;
  }

  &--bordered {
    margin-bottom: 40px;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--color-stroke, $light-grey);

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
    }
  }

  .gallery__tape .swiper-slide:first-child {
    padding-left: 0;
  }
}

.proposal__address {
  margin-bottom: 34px;
}

.proposal__status {
  grid-area: c;
  padding: 15px 24px;
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: $border-radius;
  margin-bottom: 39px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 23px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 26px;
  }

  p {
    margin: 0;

    font-weight: 500;
    font-size: rem(15px);
    line-height: 135%;

    span {
      margin-left: 5px;
      font-weight: 400;
      color: var(--color-text, $green);
    }
  }
}

.proposal__files {
  margin-bottom: 48px;

  h2 {
    margin: 0 0 25px;
  }
}
