.proposal {

  & iframe {
    border: none;
    width: 100%;
    height: 600px;

    @media (max-width: $tablet-width - 1) {
      width: 100%;
      height: 288px;
    }
  }
}

.proposal__subtitle {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 25px;
    font-size: rem(24px);
    line-height: rem(28px);
  }
}

.proposal__title {
  margin-bottom: 26px;
  max-width: 100%;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 33px;
  }

  @media (max-width: $tablet-width - 1) {
    font-size: rem(30px);
    line-height: rem(36px);

    margin-bottom: 34px;
  }
}

.proposal__link {
  margin-bottom: 59px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 57px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 46px;
  }
}

.proposal__comments {
  margin-bottom: 12px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 10px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 16px;
  }
}

.proposal__last-comment {
  margin-bottom: 63px;
  padding: 13px 16px 15px;

  border: 1px solid var(--color-interactive-default, $blue-default);
  border-radius: 5px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 56px;
  }

  & p:first-child {
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 135%;

    color: var(--color-text, $dark-text);
  }

  & p:last-child {
    margin: 0;
    font-weight: 400;
    font-size: 0.94rem;
    line-height: 180%;

    color: var(--color-text, $dark-text);
  }
}

.proposal__description {
  margin-bottom: 32px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 16px;
  }
}

.proposal__form {
  margin-top: 80px;

  & h2 {
    margin-bottom: 12px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 18px;
    }
  }

  & p {
    margin: 0 0 34px;

    @media (max-width: $desktop-width - 1) {
      line-height: 180%;
      padding-right: 30px;
      margin-bottom: 37px;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 14px;
    }
  }

  @media (max-width: $tablet-width - 1) {
    margin-top: 64px;
  }
}

.proposal__uploads {
  margin-bottom: 80px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  @media (max-width: $tablet-width - 1) {
    flex-flow: column wrap;
    margin-bottom: 72px;
  }

  & div {
    flex-shrink: 0;
    position: relative;
    width: 205px;
    height: 205px;
    overflow: hidden;
    margin-right: 23.5px;

    border-radius: 5px;
    filter: drop-shadow(0px 2px 4px rgba(0, 30, 75, 0.15));

    &:nth-of-type(5n) {
      margin-right: 0;
    }

    @media (max-width: $tablet-width - 1) {
      width: 100%;
      height: calc(100vw / 2);
      margin-right: 0;
      margin-bottom: 24px;
    }

    & button[type="button"] {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 28px;
      height: 28px;

      background-color: var(--color-bg-main, $white);
      border: none;
      border-radius: 5px;
      outline: none;

      cursor: pointer;

      @media (max-width: $tablet-width - 1) {
        top: 8px;
        right: 8px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 1px;

        background-color: var(--color-interactive-accent, $red);

        transform: translate(-50%, -50%) rotate(-45deg);
        transition: background-color $style-change-duration;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 1px;

        background-color: var(--color-interactive-accent, $red);

        transform: translate(-50%, -50%) rotate(45deg);
        transition: background-color $style-change-duration;
      }

      &:hover:not(.focus-visible) {
        &::before,
        &::after {
          background-color: var(--color-interactive-accent, rgba($red, 0.5));
        }
      }
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  & label {

    display: flex;
    align-items: center;

    width: 205px;
    height: 205px;

    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    text-align: center;
    color: var(--color-text, $grey-default);

    border: 2px dashed var(--color-stroke, $light-grey);
    border-radius: 5px;

    cursor: pointer;
    transition: opacity $style-change-duration;

    &:hover:not(.focus-visible) {
      opacity: 0.8;
    }

    @media (max-width: $tablet-width - 1) {
      width: 100%;
      height: calc(100vw / 2);
      margin-left: 0;

      justify-content: center;
    }

    & span {
      padding-top: 34px;
      position: relative;

      @media (max-width: $tablet-width - 1) {
        max-width: 50%;
      }

      &::before {
        content: '+';
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translateX(-50%);

        font-size: 2.5rem;
        color: var(--color-text, $grey-default);
        font-weight: 200;
      }
    }
  }
}

.proposal .landscaping-form__section--map {

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 20px;
  }
}

.proposal .landscaping-form__title {
  @media (max-width: $desktop-width - 1) {
    margin-bottom: 10px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 17px;
  }
}

.proposal .landscaping-form__section--map .landscaping-form__tip {
  @media (max-width: $desktop-width - 1) {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.proposal .landscaping-form__section--map .landscaping-form__tip {
  margin-bottom: 32px;

  @media (max-width: $tablet-width - 1) {
    padding-right: 0;
    margin-bottom: 22px;
  }
}

.proposal__address {
  margin-bottom: 34px;
}

.proposal__status {
  padding: 15px 24px;
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: $border-radius;
  margin-bottom: 39px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 23px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 26px;
  }

  p {
    margin: 0;

    font-weight: 500;
    font-size: rem(15px);
    line-height: 135%;

    span {
      margin-left: 5px;
      font-weight: 400;
      color: var(--color-interactive-default, $green);
    }
  }
}

.proposal--approved {

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-column-gap: 20px;
    grid-template-areas:
    "a   a"
    "k   c"
    "b   c"
    "d   c"
    "e   c"
    "f   c";
  }


  > * {
    align-self: start;
  }

  .proposal__title {
    grid-area: a;
    margin-bottom: 41px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 34px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      font-size: rem(24px);
      line-height: rem(28px);
      margin-bottom: 26px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }

    &--declined {
      margin-bottom: 24px;
    }
  }

  .proposal__link {
    grid-area: k;
    margin-bottom: 40px;

    @media (max-width: $desktop-width - 1) {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
    }
  }

  .proposal__text-container {
    grid-area: b;
    padding:15px 0 40px;
    line-height: 180%;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      padding-bottom: 24px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .proposal__text-container p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .proposal__vote {
    @media (min-width: $desktop-width) {
      position: sticky;
      top: 115px;

      grid-area: c;
    }

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }

  }

  .project-vote__container {
    @media (max-width: $desktop-width - 1) {
      margin-bottom: 73px;
    }

    @media (max-width: $tablet-width - 1) {
      padding: 24px;
      margin-bottom: 48px;
    }
  }

  .project-page__text-container p {
    padding-top: 16px;
    padding-right: 2px;
    font-size: rem(15px);
    line-height: 180%;
  }

  .proposal__slider {
    margin-bottom: 48px;
    grid-area: d;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 73px;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 58px;
    }
  }

  .proposal__subtitle:not(.proposal__subtitle--map) {
    margin-bottom: 22px;

    @media (max-width: $desktop-width - 1) {
      font-size: rem(30px);
      line-height: rem(36px);

      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .proposal__gallery {
    max-width: 740px;

    @media (max-width: $desktop-width - 1) {
      max-width: unset;
    }
  }

  .proposal__map {
    grid-area: e;
    margin-bottom: 46px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 41px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 34px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .proposal__subtitle--map {
    margin-bottom: 9px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 9px;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 16px;
    }
  }

  iframe {
    height: 400px;

    @media (max-width: $tablet-width - 1) {
      height: 288px;
    }
  }

  .proposal__button-wrapper {
    justify-self: start;
    grid-area: f;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .button {
    padding: 17px 46px 15px;

    span {
      font-size: rem(14px);
      padding: 0;
    }
  }
}

.proposal--implemented {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: minmax(740px, 1fr) 360px;
    grid-column-gap: 20px;
    grid-template-areas:
    "a   a"
    "b   c"
    "d   c"
    "e   c"
    "f   c"
    "g   c"
    "h   c"
    "i   c";
  }

  > * {
    align-self: start;
  }

  .proposal__title {
    grid-area: a;
    margin-bottom: 41px;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      font-size: rem(24px);
      line-height: rem(28px);
      margin-bottom: 32px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .proposal__status {
    grid-area: b;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .proposal__vote {
    grid-area: c;

    @media (min-width: $desktop-width) {
      position: sticky;
      top: 90px;
    }

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 48px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 55px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .project-vote__container {
    @media (max-width: $tablet-width - 1) {
      padding: 24px;
      margin-bottom: 48px;
    }
  }

  .project-vote__like-counter {

    span {
      font-weight: 400;

      @media (max-width: $tablet-width - 1) {
        margin-right: 0;
        font-size: rem(15px);
        line-height: 135%;
      }
    }

    .project-vote__value {
      font-weight: 500;
    }
  }

  .proposal__subtitle {
    margin-bottom: 24px;

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 25px;
      font-size: rem(30px);
      line-height: rem(36px);
    }

    &--map {
      margin-bottom: 6px;

      @media (max-width: $tablet-width - 1) {
        margin-bottom: 16px;
      }
    }
  }

  .proposal__files {
    grid-area: d;
    margin-bottom: 48px;

    @media (max-width: $desktop-width - 1) {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
      margin-bottom: 40px;
    }
  }

  .proposal__gallery {
    max-width: 740px;

    @media (max-width: $desktop-width - 1) {
      max-width: unset;
    }

    @media (max-width: $tablet-width - 1) {
      padding-bottom: 55px;
    }

    &--bordered {
      grid-area: e;
      padding-bottom: 48px;
      border-bottom: 1px solid var(--color-stroke, $light-grey);

      @media (max-width: $tablet-width - 1) {
        padding-bottom: 47px;
      }
    }

    &--grid {
      padding-bottom: 48px;

      @media (max-width: $desktop-width - 1) {
        padding-bottom: 72px;
      }

      @media (max-width: $tablet-width - 1) {
        padding-bottom: 55px;
      }
    }
  }

  .proposal__text-container {
    grid-area: f;
    padding-top: 34px;
    margin-bottom: 25px;

    @media (max-width: $desktop-width - 1) {
      padding-top: 26px;
      margin-bottom: 48px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-top: 0;
      margin-bottom: 55px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }

    p {
      font-size: rem(15px);
      line-height: 180%;
    }
  }

  .proposal__slider {
    grid-area: g;

    h2 {
      @media (max-width: $desktop-width - 1) {
        margin-left: $tablet-padding;
        margin-right: $tablet-padding;
      }

      @media (max-width: $tablet-width - 1) {
        margin-left: $mobile-padding;
        margin-right: $mobile-padding;
      }
    }
  }

  .proposal__map {
    grid-area: h;
    margin-bottom: 48px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 44px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 34px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  iframe {
    width: 100%;
    height: 400px;

    @media (max-width: $tablet-width - 1) {
      height: 288px;
    }
  }

  .proposal__button-wrapper {
    grid-area: i;
    justify-self: start;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .button {
    padding: 17px 46px 15px;

    span {
      font-size: rem(14px);
      padding: 0;
    }
  }
}
