.proposal-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.proposal-list__item {
  padding: 41px 0 32px;

  border-top: 1px solid var(--color-stroke, $light-grey);
  border-bottom: 1px solid var(--color-stroke, $light-grey);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-areas:
    "a  a"
    "b  c"
    "d  d";

    > * {
      align-self: start;
      justify-self: start;
    }
  }

  &--userless {
    padding-top: 32px;
  }

  &--activity-improvement {
    border-top: none;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1){
      padding-top: 50px;
    }
  }
}

.proposal-list__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  width: 100%;

  @media (min-width: $tablet-width) {
    grid-area: a;
    margin-bottom: 4px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 24px;
  }
}

.proposal-list__account {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  color: var(--color-interactive-default, $blue-default);
  font-weight: normal;
  font-size: rem(14px);
  line-height: 130%;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 8px;
  }

  svg {
    margin-right: 5px;
    margin-bottom: 3px;
    margin-left: 1px;
    width: 10px;
    height: 12px;
    fill: var(--color-interactive-default, $blue-default);
  }
}

.proposal-list__address,
.proposal-list__project-mark {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  svg {
    color: var(--color-text, $grey-default);
    margin-right: 5px;
    width: 12px;
    height: 12px;
  }

  span {
    color: var(--color-text, $grey-default);
    font-weight: normal;
    font-size: rem(14px);
    line-height: 130%;
  }
}

.proposal-list__project-mark {
  font-size: 14px;
  @media (min-width: $tablet-width) {
    margin-right: 16px;
  }

  svg {
    width: 14px;
    height: 14px;
  }

  span {
    font-size: 14px;
  }
}

.proposal-list__title {
  grid-area: b;
  margin: 0;
  text-decoration: none;

  font-weight: 500;
  font-size: rem(18px);
  line-height: 130%;
  color: var(--color-text, $dark-text);
  transition: color $style-change-duration;

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
    }
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1){
    margin-bottom: 24px;
  }


  @media (max-width: $tablet-width - 1) {
    display: block;
    margin-bottom: 22px;
  }

  &--shorter {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1){
      margin-bottom: 0;
    }
  }
}

.proposal-list__status {
  grid-area: d;
  font-weight: 400;
  font-size: rem(15px);
  line-height: 135%;
  color: var(--color-interactive-default, $blue-default);

  @media (min-width: $desktop-width) {
    grid-area: c;
    margin-left: auto;
  }
}

.proposal-list__like-counter {
  grid-area: c;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  font-weight: normal;
  font-size: rem(13px);
  line-height: 130%;

  color: var(--color-text, $grey-default);

  cursor: pointer;

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {
      svg {
        .stroked {
          fill: var(--color-interactive-default, $blue-default);
        }
      }

      span {
        color: var(--color-interactive-accent, $blue-accent);
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    margin-left: auto;
    align-self: flex-start;
  }

  @media (max-width: $tablet-width - 1) {
    margin-top: 27px;
  }

  span {
    transition: color $style-change-duration;
    min-width: 35px;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-left: 13px;
    align-self: flex-start;
  }

  .stroked {
    fill: var(--color-text, $grey-default);
    transition: fill $style-change-duration;
  }

  .filled {
    transition: fill $style-change-duration;
  }
}

.liked {
  color: var(--color-interactive-accent, $blue-accent);

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {

      svg {
        .stroked {
          fill: transparent;
        }
      }

      span {
        color: var(--color-interactive-accent, $blue-accent);
      }
    }
  }

  .stroked {
    fill: transparent;
  }

  .filled {
    fill: var(--color-interactive-default, $blue-default)
  }
}

.proposal-list__item--userless {
  .proposal-list__title {
    font-weight: normal;
    font-size: rem(16px);
    line-height: 135%;

    @media (min-width: $tablet-width ) {
      margin-bottom: 0;
    }
  }
}

.proposal-list__like-counter {
  .form-checkbox {
    margin-bottom: 0;
  }

  .form-checkbox label::before {
    margin-right: 0;
  }
}
.proposal-list--update {
  padding-top: 8px;

  .proposal-list__like-counter {
    margin-top: 0;
  }
}

.proposal-list__item--update {
  //padding-bottom: 31px;
}
