.proposal-winners__title {
  margin-top: 0;
  margin-bottom: 66px;
  padding-top: 40px;

  font-weight: 400;
  font-size: rem(30px);
  line-height: rem(35.55px);

  background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 1px;
}

.proposal-winners__proposal {
  margin-bottom: 31px;
}

.proposal-winners__paginator {
  margin: 0 0 56px 10px;
}

.proposal-winners__show-map-btn {
  display: none;
}

.proposal-winners__map-container {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 40px;

  @include tablet {
    padding: 0;
  }
  @include mobile {
    padding: 0;
  }
}

.proposal-winners__map {
  button {
    display: none;
  }

  iframe {
    width: 100%;
    max-width: 1120px;

    border: none;
    border-radius: 5px;
  }
}

@include tablet {
  .proposal-winners__proposal {
    margin-bottom: 41px;
  }

  .proposal-winners__paginator {
    margin-bottom: 81px;
    margin-left: 0;
  }

  .proposal-winners__map {
    iframe {
      height: 460px;
    }
  }
}

@include mobile {
  .proposal-winners__title {
    margin-bottom: 28px;
    padding-top: 35px;

    font-size: rem(24px);
    line-height: rem(28.44px);
  }

  .proposal-winners__proposal {
    margin-bottom: 48px;
  }

  .proposal-winners__map {
    display: none;
  }

  .proposal-winners__show-map-btn {
    display: block;
    margin: 0 auto;

    font-weight: 500;
    font-size: rem(15px);
    line-height: rem(20.25px);
    color: #2c8ecc;
    text-transform: uppercase;

    @include btn-reset;

    &:hover,
    &:focus {
      color: $blue-accent;
    }
  }

  .proposal-winners__paginator {
    margin-bottom: 35px;
  }

  .proposal-winners__map {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 222;

    display: none;
    width: 100%;
    height: 100vh;
    padding: 0;

    background-color: #ffffff;

    button {
      position: relative;

      display: block;
      width: 26px;
      height: 26px;
      margin-top: 16px;
      margin-right: 16px;
      margin-bottom: 20px;
      margin-left: auto;

      @include btn-reset;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;

        width: 2px;
        height: 26px;

        background-color: #a6abb3;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    iframe {
      height: 100%;
    }

    &--show {
      display: block;
    }
  }

  .proposal-winners__map-container {
    height: 100%;
  }

  .proposal-winners__close-map-btn {
    position: absolute;
    top: 2px;
    right: 1px;

    width: 26px;
    height: 26px;

    cursor: pointer;

    @include btn-reset;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 12px;

      width: 2px;
      height: 19px;

      background-color: #bfbfbf;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        background-color: #7e7e7e;
      }
    }
  }
}
