.proposal-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.proposal-list__item {
  padding: 41px 0 32px;

  border-top: 1px solid var(--color-stroke, $light-grey);
  border-bottom: 1px solid var(--color-stroke, $light-grey);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &--userless {
    padding-top: 32px;
  }

  &--activity-improvement {
    border-top: none;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1){
      padding-top: 50px;
    }
  }
}

.proposal-list__account {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  color: var(--color-interactive-default, $blue-default);
  font-weight: normal;
  font-size: rem(14px);
  line-height: 130%;

  text-decoration: none;
  transition: color $style-change-duration, opacity $style-change-duration;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    margin-right: 9px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {
      opacity: 0.8;
    }
  }

  svg {
    margin-right: 5px;
    margin-bottom: 3px;
    margin-left: 1px;
    width: 10px;
    height: 12px;
    fill: var(--color-interactive-default, $blue-default);
  }
}

.proposal-list__address {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    margin-right: 9px;

    min-width: 50%;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 24px;
  }

  svg {
    color: var(--color-text, $grey-default);
    margin-right: 5px;
    width: 12px;
    height: 12px;
  }

  span {
    color: var(--color-text, $grey-default);
    font-weight: normal;
    font-size: rem(14px);
    line-height: 130%;
  }
}

.proposal-list__title {
  margin: 0;
  text-decoration: none;

  font-weight: 500;
  font-size: rem(18px);
  line-height: 130%;
  color: var(--color-text, $dark-text);
  transition: color $style-change-duration;

  @media (min-width: $desktop-width) {
    display: inline-block;
    max-width: 80%;

    &:hover:not(.focus-visible) {
      color: var(--color-interactive-default, $blue-default);
    }
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1){
    width: 100%;
    margin-bottom: 24px;
  }

  @media (max-width: $tablet-width - 1) {
    display: block;
    margin-top: 24px;
    margin-bottom: 22px;
  }

  &--shorter {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1){
      width: 80%;
      margin-bottom: 0;
    }
  }
}

.proposal-list__status {
  font-weight: 400;
  font-size: rem(15px);
  line-height: 135%;
  color: var(--color-interactive-default, $blue-default);

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.proposal-list__like-counter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  font-weight: normal;
  font-size: rem(13px);
  line-height: 130%;

  // min-height: 26px;

  color: var(--color-text, $grey-default);

  cursor: pointer;

  // @media (min-width: $desktop-width) {
  //   &:hover:not(.focus-visible) svg {
  //     .stroked {
  //       fill: transparent;
  //     }

  //     .filled {
  //       fill: var(--color-interactive-default, $blue-default);
  //     }
  //   }
  // }

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    margin-left: auto;
    align-self: flex-start;
  }

  @media (max-width: $tablet-width - 1) {
    margin-top: 27px;
  }

  span {
    margin-right: 13px;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    align-self: flex-start;
  }

  .stroked {
    fill: var(--color-text, $grey-default);
    transition: fill $style-change-duration;
  }

  .filled {
    transition: fill $style-change-duration;
  }

  &--liked {
    color: var(--color-interactive-accent, $blue-accent);

    .stroked {
      fill: transparent;
    }

    .filled {
      fill: var(--color-interactive-accent, $blue-accent)
    }
  }
}

.proposal-list__item--userless {
  .proposal-list__address {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  .proposal-list__title {
    font-weight: normal;
    font-size: rem(16px);
    line-height: 135%;

    @media (min-width: $tablet-width ) {
      width: 80%;
      margin-bottom: 0;
    }
  }
}
