.proposal {
  & iframe {
    border: none;
    width: 100%;
    height: 600px;

    @media (max-width: $tablet-width - 1) {
      width: 100%;
      height: 288px;
    }
  }
}

.proposal__title {
  margin-bottom: 26px;
  max-width: 100%;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 33px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 34px;
  }

  &--big {
    @media (max-width: $tablet-width - 1) {
      font-size: rem(30px);
      line-height: rem(36px);
    }
  }
}

.proposal__link {
  margin-bottom: 59px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 57px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 46px;
  }
}

.proposal__comments {
  margin-bottom: 12px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 10px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 16px;
  }
}

.proposal__last-comment {
  margin-bottom: 63px;
  padding: 13px 16px 15px;

  border: 1px solid var(--color-interactive-default, $blue-default);
  border-radius: 5px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 56px;
  }

  & p:first-child {
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 135%;

    color: var(--color-text, $dark-text);
  }

  & p:last-child {
    margin: 0;
    font-weight: 400;
    font-size: 0.94rem;
    line-height: 180%;

    color: var(--color-text, $dark-text);
  }
}

.proposal__description {
  margin-bottom: 32px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 16px;
  }
}

.proposal__uploads-container {
  margin-bottom: 80px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 72px;
  }
}

.proposal__address {
  margin-bottom: 34px;
}

.proposal__status {
  padding: 15px 24px;
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: $border-radius;
  margin-bottom: 39px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 23px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 26px;
  }

  p {
    margin: 0;

    font-weight: 500;
    font-size: rem(15px);
    line-height: 135%;

    span {
      margin-left: 5px;
      font-weight: 400;
      color: var(--color-text, $green);
    }
  }
}

.proposal__button-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width - 1) {
    flex-direction: column;
  }
}

.proposal__submit-btn {
  width: 274px;
  padding: 16px 16px;

  @media (max-width: $tablet-width - 1) {
    order: -1;
    margin-bottom: 15px;
    width: 100%;
  }
}

.proposal {
  .landscaping-form__section--description {
    @media (max-width: $tablet-width - 1) {
      margin-bottom: 64px;
    }
  }

  .landscaping-form__proposition-name {
    @media (max-width: $tablet-width - 1) {
      margin-top: 24px;
      min-height: 163px;
    }
  }

  .landscaping-form__description {
    @media (max-width: $tablet-width - 1) {
      margin-top: 16px;
      min-height: 217px;
    }
  }
}

.proposal--approved {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-column-gap: 20px;
    grid-template-areas:
      "a   a"
      "k   c"
      "b   c"
      "d   c"
      "e   c"
      "f   c"
      "g   c"
      "h   c";
  }

  > * {
    align-self: start;
  }

  .proposal__title {
    grid-area: a;
    margin-bottom: 41px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 40px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 24px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }

    &--declined {
      margin-bottom: 24px;
    }
  }

  .proposal__link {
    grid-area: k;
    margin-bottom: 40px;

    @media (max-width: $desktop-width - 1) {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
    }
  }

  .proposal__text-container {
    grid-area: b;
    margin-bottom: 25px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 40px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 32px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .proposal__text-container p {
    line-height: 180%;
  }

  .proposal__vote {
    @media (min-width: $desktop-width) {
      position: sticky;
      top: 115px;

      grid-area: c;
    }

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .project-vote__container {
    @media (max-width: $desktop-width - 1) {
      margin-bottom: 40px;
    }

    @media (max-width: $tablet-width - 1) {
      padding: 24px;
      margin-bottom: 32px;
    }
  }

  .project-page__text-container p {
    padding-top: 16px;
    padding-right: 2px;
    font-size: rem(15px);
    line-height: 180%;
  }

  .proposal__slider {
    margin-bottom: 48px;
    grid-area: d;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 73px;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 58px;
    }

    h2 {
      margin-bottom: 22px;

      @media (max-width: $desktop-width - 1) {
        margin-left: $tablet-padding;
        margin-right: $tablet-padding;
      }

      @media (max-width: $tablet-width - 1) {
        margin-left: $mobile-padding;
        margin-right: $mobile-padding;
      }
    }
  }

  .proposal__gallery {
    max-width: 740px;

    @media (max-width: $desktop-width - 1) {
      max-width: unset;
    }
  }

  .proposal__map {
    grid-area: e;
    margin-bottom: 46px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 41px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 34px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }

    h2 {
      margin-bottom: 9px;

      @media (max-width: $desktop-width - 1) {
        margin-bottom: 9px;
      }

      @media (max-width: $tablet-width - 1) {
        margin-bottom: 16px;
      }
    }
  }

  iframe {
    height: 400px;

    @media (max-width: $tablet-width - 1) {
      height: 288px;
    }
  }

  .proposal__projects {
    grid-area: f;
  }

  .proposal__button-wrapper {
    justify-self: start;
    //grid-area: f;
    //grid-area: g;
    grid-area: h;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .button {
    padding: 17px 46px 15px;

    span {
      font-size: rem(14px);
      padding: 0;
    }
  }
}

.proposal--implemented {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: minmax(740px, 1fr) 360px;
    grid-column-gap: 20px;
    grid-template-areas:
      "a   a"
      "b   c"
      "d   c"
      "e   c"
      "f   c"
      "g   c"
      "h   c"
      "i   c";
  }

  > * {
    align-self: start;
  }

  .proposal__title {
    grid-area: a;
    margin-bottom: 41px;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      font-size: rem(24px);
      line-height: rem(28px);
      margin-bottom: 32px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .proposal__status {
    grid-area: b;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .proposal__vote {
    grid-area: c;

    @media (min-width: $desktop-width) {
      position: sticky;
      top: 90px;
    }

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 48px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 55px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .project-vote__container {
    @media (max-width: $tablet-width - 1) {
      padding: 24px;
      margin-bottom: 48px;
    }
  }

  .project-vote__like-counter {
    span {
      font-weight: 400;

      @media (max-width: $tablet-width - 1) {
        margin-right: 0;
        font-size: rem(15px);
        line-height: 135%;
      }
    }

    .project-vote__value {
      font-weight: 500;
    }
  }

  .proposal__files {
    grid-area: d;
    margin-bottom: 48px;

    @media (max-width: $desktop-width - 1) {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 25px;
    }
  }

  .proposal__gallery {
    max-width: 740px;

    @media (max-width: $desktop-width - 1) {
      max-width: unset;
    }

    @media (max-width: $tablet-width - 1) {
      padding-bottom: 55px;
    }

    &--bordered {
      grid-area: e;
      padding-bottom: 48px;
      border-bottom: 1px solid var(--color-stroke, $light-grey);

      @media (max-width: $tablet-width - 1) {
        padding-bottom: 47px;
      }
    }

    &--grid {
      padding-bottom: 48px;

      @media (max-width: $desktop-width - 1) {
        padding-bottom: 72px;
      }

      @media (max-width: $tablet-width - 1) {
        padding-bottom: 55px;
      }
    }
  }

  .proposal__text-container {
    grid-area: f;
    padding-top: 34px;
    margin-bottom: 25px;

    @media (max-width: $desktop-width - 1) {
      padding-top: 26px;
      margin-bottom: 62px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-top: 0;
      margin-bottom: 55px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }

    p {
      font-size: rem(15px);
      line-height: 180%;
    }
  }

  .proposal__slider {
    grid-area: g;

    h2 {
      margin-bottom: 24px;

      @media (max-width: $desktop-width - 1) {
        margin-left: $tablet-padding;
        margin-right: $tablet-padding;
      }

      @media (max-width: $tablet-width - 1) {
        margin-left: $mobile-padding;
        margin-right: $mobile-padding;
      }
    }
  }

  .proposal__map {
    grid-area: h;
    margin-bottom: 40px;

    @media (max-width: $desktop-width - 1) {
      margin-bottom: 44px;
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 34px;
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }

    h2 {
      margin-bottom: 8px;

      @media (max-width: $tablet-width - 1) {
        margin-bottom: 16px;
      }
    }
  }

  iframe {
    width: 100%;
    height: 400px;

    @media (max-width: $tablet-width - 1) {
      height: 288px;
    }
  }

  .proposal__button-wrapper {
    grid-area: i;
    justify-self: start;

    @media (max-width: $desktop-width - 1) {
      margin-left: $tablet-padding;
      margin-right: $tablet-padding;
    }

    @media (max-width: $tablet-width - 1) {
      margin-left: $mobile-padding;
      margin-right: $mobile-padding;
    }
  }

  .button {
    padding: 17px 46px 15px;

    span {
      font-size: rem(14px);
      padding: 0;
    }
  }
}

.proposal__projects {
  @media (max-width: $desktop-width - 1) {
    margin-bottom: 41px;
    margin-left: $tablet-padding;
    margin-right: $tablet-padding;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 34px;
    margin-left: $mobile-padding;
    margin-right: $mobile-padding;
  }
}

.proposal__project-wrapper {
  display: flex;
  width: 100%;

  .proposal__project-img,
  .proposal__project-link,
  .proposal__project-figure {
    width: 240px;
    height: 130px;
  }

  .proposal__project-img {
    margin-left: auto;
  }
}

.proposal__project-details,
.proposal__milestones-details {
  //margin-top: 32px;
  //margin-left: 28px;

  span {
    font-size: 15px;
    line-height: 20.25px;
    color: $blue-default;
    border-bottom: 1px dashed #9BD2F4;
  }

  svg {
    margin-left: 9px;
  }
}

.proposal__gallery .gallery__item-link,
.proposal__gallery .gallery__item {
  //margin-right: 15px;
  //width: 129px;
  width: 129px;
  height: 129px;
}

.proposal__project .swiper-slide {
  margin-right: 15px;
  width: 129px;
  height: 129px;
}

.proposal__project {
  .proposal__gallery {
    padding-left: 28px;
  }
  .proposal__project-details {
    margin-top: 32px;
    margin-left: 28px;

    svg {
      transform: rotate(-180deg);
    }
  }
}

.proposal__milestones-item {
  .proposal__milestones-details {
    margin-top: 32px;
    margin-left: 28px;

    svg {
      transform: rotate(-180deg);
    }
  }
}

.proposal__project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 32px;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 32px;

  button {
    margin-top: 32px;
    align-self: start;
    display: block;
  }

  .proposal-list__like-counter {
    margin-top: 32px;
    display: flex;
    align-items: center;

    span {
      //margin-bottom: 17px;
      font-size: 18px;
      line-height: 23.4px;
      font-weight: 400;
      color: $dark-text;
    }

    .form-checkbox {
      margin-right: 10px;
    }
  }

  .button-details {
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 0;

    &__text {
      margin-right: 9px;

      &_opened {
        display: none;
      }

      &_closed {
        display: inline-block;
      }
    }

    .button-details__icon {
      transform: rotate(0deg);
    }

    &.opened {
      .button-details__text_opened {
        display: inline-block;
      }

      .button-details__text_closed {
        display: none;
      }

      .button-details__icon {
        transform: rotate(180deg);
      }
    }
  }
}

.proposal__project-desc {
  width: 438px;
  @media (max-width: $desktop-width - 1) {
    width: 100%;
    margin-right: 32px;
  }
}

.proposal__project-text {

  color: $dark-text;
  font-size: 15px;
  line-height: 20.25px;
}

.proposal__project-head {
  display: flex;
  align-items: center;
  //width: 438px;
  justify-content: space-between;

  h3 {
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 400;
    margin: 0;
    color: $dark-text;
  }

  span {
    font-size: 13px;
    line-height: 16.9px;
    color: $grey;
  }
}

.proposal__projects-milestones {
  grid-area: g;
}

.proposal__projects-tab {
  font-size: 24px;
  line-height: 28.44px;
  color: $grey;
  margin-right: 40px;
  padding-bottom: 13px;
  border-bottom: 1px solid transparent;
}

.proposal__milestones-tab {
  font-size: 24px;
  line-height: 28.44px;
  color: $blue-default;
  padding-bottom: 13px;
  border-bottom: 1px solid transparent;

  &--active {
    border-bottom: 1px solid $blue-default;
  }
}

.proposal__milestones-item {
  padding-bottom: 32px;
}

.proposal__milestones-item {
  .button-details {
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 0;

    &__text {
      margin-right: 9px;

      &_opened {
        display: none;
      }

      &_closed {
        display: inline-block;
      }
    }

    .button-details__icon {
      transform: rotate(0deg);
    }

    &.opened {
      .button-details__text_opened {
        display: inline-block;
      }

      .button-details__text_closed {
        display: none;
      }

      .button-details__icon {
        transform: rotate(180deg);
      }
    }
  }
}

.proposal__tabs {
  display: flex;
  //padding-bottom: 13px;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 40px;
}
