.proposal-description {
  p {

  }
}
.proposal-description__content {
  margin: 0 0 32px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 0.94rem;
  line-height: 180%;

  background-color: var(--color-bg-secondary, $color-bg);
  border: 1px solid var(--color-stroke, $light-grey);
  border-radius: 5px;

  &:last-of-type {
      margin-bottom: 0;
  }

  &--padding {
    padding-bottom: 36px;
  }

  @media (max-width: $tablet-width - 1) {
    padding-bottom: 14px;
    margin-bottom: 16px;
  }
}

.proposal-description__title {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 25px;
    font-size: rem(24px);
    line-height: rem(28px);
  }
}
