.rating {
  padding-top: 79px;
  padding-bottom: 24px;

  @media (max-width: $tablet-width) {
    padding-bottom: 64px;
    padding-top: 64px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.rating .rating__list {
  margin: 0 0 32px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }
}

.rating__item {
  padding: 24px 0;

  border-bottom: 1px solid var(--color-stroke, $light-grey);

  @media (min-width: $desktop-width) {
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 211px;
    grid-column-gap: 56px;
    grid-template-areas:
      "a    c"
      "b    c";

    &:hover:not(.focus-visible) .button-star {
      opacity: 1;
    }
  }

  & > * {
    align-self: start;
  }
}

.rating__date-wrapper {
  margin-bottom: 24px;

  display: flex;
  flex-flow: row wrap;

  grid-area: a;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.rating__date {
  margin-bottom: 4px;

  time {
    padding-left: 0;
  }

  @media (max-width: $tablet-width - 1) {
    min-width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 14px;
  }
}

.rating__status {
  margin-right: 12px;

  &::before {
    left: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 7px;
  }
}

.rating__joined {
  display: none;

  &--visible {
    display: block;
  }
}

.rating__link {
  margin-bottom: 24px;
  grid-area: b;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    justify-self: start;
  }
}

.rating__period-wrapper {
  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.rating__button {
  padding-right: 20px;

  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;

  font-size: rem(14px);
  line-height: rem(19px);

  span {
    flex-shrink: 1;
    padding: 0;
    padding-left: 12px;
  }

  svg {
    margin-left: 12px;
    margin-bottom: 3px;
    flex-shrink: 0;
  }

  @media (max-width: $tablet-width - 1) {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    font-size: rem(15px);
    line-height: rem(20px);

    max-width: 446px;
    margin: 0 auto;

    justify-content: flex-start;

    span {
      padding-left: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }
}

.rating__archive-mobile {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
