.rating-main {
  .status-info {
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    .page-content__title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 39px;
    }

    .status-info {
      padding: 25px 28px 23px;
    }
  }

  @media (max-width: $mobile-max-width) {
    .page-content__title {
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 28px;
    }

    .status-info {
      margin-bottom: 30px;
    }
  }
}

.rating-main__state-info-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .rating-main__name {
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 400;
    color: $grey-lighter;
    padding-left: 0;

    &--status {
      margin-right: 20px;
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 32px;
      font-size: 15px;

      &--status {
        padding: 0;
        margin-right: 20px;
      }
    }

    @media (max-width: $mobile-max-width) {
      margin-bottom: 6px;
      margin-right: 3px;
      font-size: 13px;
      flex-shrink: 0;

      &--status {
        margin-right: 18px;
        font-size: 15px;
      }
    }
  }

  @media (max-width: $tablet-width) {
    .rating-main__name--status {
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 24px;
  }
}

.rating-main__state-info {
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  &--state {
    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-shrink: 0;
      font-size: rem(16px);
      line-height: 22px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: baseline;
  }
}

.rating-main__description {
  padding-bottom: 30px;
  max-width: 65%;
  font-size: 15px;
  line-height: 27px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 23px;
  }
}

.rating-main__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  padding-left: 0;

  &::before {
    left: -13px;
  }

  @media (max-width: $tablet-width) {
    time {
      font-size: 15px;
    }

    &::before {
      left: -10px;
    }
  }

  @media (max-width: $mobile-max-width) {
    font-size: 15px;

    time {
      font-size: 13px;
    }
  }
}

.rating-main__categories {
  padding-top: 23px;
  padding-bottom: 40px;

  border-top: 1px solid var(--color-stroke, $light-grey);
  border-bottom: 1px solid var(--color-stroke, $light-grey);

  &--vote {
    border-bottom: none;
  }

  @media (max-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 16px;

    &--vote {
      padding-bottom: 33px;
    }
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 20px;

    .rating-main__name {
      padding-top: 32px;
    }

    &--vote {
      padding-bottom: 20px;
    }
  }
}

.rating-main__headline {
  margin-bottom: 8px;
  padding-left: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 13px;
    font-size: 30px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
    line-height: 28px;
  }
}

.rating-main__categories-descr,
.rating-main__categories-info {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: $grey;
}

.rating-main__categories-descr {
  margin-bottom: 15px;

  &--vote {
    margin-bottom: 34px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;

    &--vote {
      max-width: 90%;
      margin-bottom: 33px;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-top: -7px;

    &--vote {
      margin-bottom: 14px;
    }
  }
}

.rating-main__categories-info {
  padding: 15px 20px;
  margin-bottom: 30px;
  background-color: $color-bg;
  border: 1px solid $light-grey;
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: $tablet-width) {
    padding: 17px 14px;

    .link--underline::before {
      bottom: 0;
    }
  }

  @media (max-width: $mobile-max-width) {
    font-size: 13px;
    line-height: 17px;
  }
}

.rating-main__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: left;

  &--vote {
    .rating-main__item {
      max-width: calc(100% / 3 - 6px);

      &:nth-child(2n + 2) {
        margin-right: 8px;
      }

      &:nth-child(3n + 3) {
        margin-right: 0;
      }

      &:hover {
        .rating-main__count-wrap {
          opacity: 1;
        }
      }
    }

    .rating-main__link {
      width: 100%;
      padding: 14px 12px 14px 18px;
    }

    .rating-main__title {
      padding-left: 12px;
      font-size: 15px;
    }

    .rating-main__count-wrap {
      margin-left: auto;
    }
  }

  @media (max-width: $tablet-width) {
    &--vote {
      .rating-main__item {
        max-width: calc(100% / 2 - 12px);
        display: flex;
        align-items: center;

        &:nth-child(2n + 2) {
          margin-right: 0;
        }

        &:nth-child(3n + 3) {
          margin-right: 8px;
        }
      }

      .rating-main__link {
        width: 100%;
        height: 100%;
        padding: 16px 12px 16px 60px;
        align-items: center;
      }

      .rating-main__icon {
        left: 17px;
        top: 50%;
        transform: translateY(-50%);
      }

      .rating-main__title {
        max-width: 75%;
        line-height: 20px;
        padding: 0;
      }

      .rating-main__count-wrap {
        padding-right: 0;
        margin-left: 0;
      }

      .rating-main__count-wrap span {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  @media (max-width: $mobile-max-width + 100) {
    &--vote {
      .rating-main__item {
        max-width: 100%;
        margin-right: 0;
      }

      .rating-main__link {
        padding-top: 32px;
        padding-bottom: 22px;
        padding-left: 16px;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .rating-main__icon {
        transform: translateY(-19%);
        width: 100%;
      }

      .rating-main__icon svg {
        margin-right: auto;
      }

      .rating-main__title {
        font-size: 18px;
        line-height: 24px;
      }

      .rating-main__count-wrap {
        position: static;
      }
    }
  }
}

.rating-main__item {
  flex-shrink: 0;
  width: calc(50% - 4px);
  margin-bottom: 8px;
  margin-right: 8px;

  &:nth-child(2n + 2) {
    margin-right: 0;
  }

  background-color: var(--color-bg-secondary, $color-bg);
  border-radius: $border-radius;

  transition: box-shadow $style-change-duration linear;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 30, 75, 0.15);

    .rating-main__title {
      color: var(--color-interactive-default, $blue-default);
    }

    .rating-main__count-wrap {
      opacity: 0;
    }

    .rating-main__hover-text {
      opacity: 1;
    }
  }

  &--is-done,
  &--is-done:hover {
    .rating-main__count-wrap {
      opacity: 0;
    }

    .rating-main__hover-text {
      opacity: 1;
      color: $grey-lighter;
    }
  }

  &--no-vote {
    .rating-main__count {
      background-color: $white;
    }
  }

  @media (max-width: $desktop-width - 81) {
    width: 100%;
  }

  @media (max-width: $tablet-width - 1) {
    &.js_hide {
      display: none;
    }

    &--is-done {
      .rating-main__link {
        padding-bottom: 16px;
      }

      .rating-main__hover-text {
        position: static;
        margin-top: 14px;
      }
    }
  }
}

.rating-main__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;

  @media (max-width: $tablet-width - 1) {
    position: absolute;
    top: 27px;
    left: 21px;
  }

  @media (max-width: $mobile-max-width) {
    position: static;
  }
}

.rating-main__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 36px 27px 23px;

  text-decoration: none;

  @media (max-width: $tablet-width - 1) {
    position: relative;

    padding: 24px 16px 23px 16px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.rating-main__title {
  position: relative;

  margin: 0 auto 0 0;
  padding: 0;
  padding-left: 17px;

  font-size: rem(18px);
  line-height: 1.3;

  transition: color $style-change-duration linear;

  @media (max-width: $tablet-width - 1) {
    padding: 8px 0 10px 54px;
  }

  @media (max-width: $mobile-max-width) {
    max-width: 70%;
    margin-right: 3px;
    padding: 7px 0 0 0;
    flex-shrink: 0;
  }
}

.rating-main__count-wrap {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity $style-change-duration;

  span {
    font-family: inherit;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0;
    font-weight: 400;
    color: $grey-default;
  }

  @media (max-width: $tablet-width - 1) {
    padding-right: 38px;
  }

  @media (max-width: $mobile-max-width) {
    position: absolute;
    top: 54%;
    right: 20px;
    padding: 0;
  }
}

.rating-main__count {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 4px;

  font-size: rem(16px);
  line-height: 1.3;
  color: $grey;

  background-color: $light-grey;
  border-radius: 50%;
}

.rating-main__button {
  display: none;
  width: 100%;
  margin-top: 24px;

  &.js_hide {
    display: none;
  }

  @media (max-width: $tablet-width - 1) {
    display: block;
    margin: 0 auto;
    margin-top: 7px;

    svg {
      margin-left: 6px;
      transform: translateY(-2px);
    }
  }
}

.rating-main__archive-mobile {
  display: none;

  @media (max-width: $tablet-width - 1) {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

@media print {
  .rating-main__archive-link,
  .rating-main__archive-mobile,
  .rating-main__button,
  .rating-main__info {
    display: none;
  }

  .rating-main__item {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.rating-main__quantity {
  margin-left: 4px;
}

.rating-main__hover-text {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0;
  color: $blue-default;
  opacity: 0;
  transition: opacity $style-change-duration;
}

.rating-main__button-all {
  display: none;

  @media (max-width: $desktop-width) {
    display: flex;
  }
}

.rating-main__your-projects {
  padding-top: 23px;

  .rating-main__headline {
    margin-bottom: 15px;
  }

  @media (max-width: $tablet-width) {
    .rating-main__headline {
      margin-top: 30px;
      margin-bottom: 17px;
    }

    .rating-main__categories-info {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $mobile-max-width) {
    .rating-main__headline {
      margin-top: 18px;
      margin-bottom: 7px;
    }

    .rating-main__categories-info {
      margin-bottom: 0;
    }
  }
}

.rating-main__project-list {
  .rating-list__item:last-child {
    border-bottom: none;
  }

  @media (max-width: $tablet-width) {
    .rating-list__item {
      display: flex;
      align-items: center;
    }

    .rating-list__content {
      max-width: 61%;
      margin-right: 10px;
    }

    .rating-list__my-project {
      margin-bottom: 5px;
    }

    .rating-list__title {
      margin: 0;
    }

    .rating-list__total {
      width: auto;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 16px;
    }
  }

  @media (max-width: $mobile-max-width + 100) {
    .rating-list {
      margin-bottom: -18px;
    }

    .rating-list__item {
      flex-wrap: wrap;
      padding-bottom: 40px;
    }

    .rating-list__content {
      max-width: 100%;
      margin-bottom: 24px;
    }

    .rating-list__my-project {
      margin-bottom: 8px;
    }

    .rating-list__total {
      width: 100%;
    }
  }
}
