.section__head {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-align: left;
}

.section__title {
  margin: 0 auto 0 0;
  padding: 0 0 0 20px;

  @include font-h1();

  @media (max-width: $tablet-width - 1) {
    padding-left: 14px;

    @include font-h2();
  }
}
