.social {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 96px 9% 0;

  @media (max-width: $tablet-width - 1) {
    flex-direction: column;
    padding: 87px 24px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 64px 16px 0;
  }
}

.social__item {
  position: relative;

  width: 49.1%;
  padding: 40px 48px;
  overflow: hidden;

  background-color: $color-bg;
  border-radius: $border-radius;

  @media (max-width: $tablet-width - 1) {
    width: 100%;

    &--news {
      margin-bottom: 22px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 40px 24px;

    &--news {
      margin-bottom: 25px;
    }
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    opacity: 0.3;

    @media (max-width: $tablet-width - 1) {
      opacity: 1;
    }
  }

  &--news::after {
    right: -16px;
    bottom: -36px;

    width: 170px;
    height: 170px;

    background-image: url("../img/icon-news.svg");
    background-size: 170px 170px;

    @media (max-width: $mobile-width) {
      right: -8px;
      bottom: -18px;

      width: 95px;
      height: 95px;

      background-size: 95px 95px;
    }

    @media (max-width: $mobile-width) {
      right: -8px;
      bottom: -22px;

      width: 100px;
      height: 100px;

      background-size: 100px 100px;
    }
  }

  &--icq::after {
    right: -0;
    bottom: -2px;

    width: 135px;
    height: 135px;

    background-image: url("../img/icq-bg.svg");
    background-size: 135px 135px;

    @media (max-width: $mobile-width) {
      right: -8px;
      bottom: -18px;

      width: 121px;
      height: 121px;

      background-size: 121px 121px;
    }

    @media (max-width: $mobile-width) {
      right: 0;
      bottom: -14px;

      width: 105px;
      height: 105px;

      background-size: 105px 105px;
    }
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.social__title {
  margin: 0;
  padding: 0;

  color: $dark-text;

  @include font-h2();
}

.social__text {
  margin: 0;
  padding: 16px 0 40px;

  font-size: rem(15px);
  line-height: 1.35;
  color: $grey;

  @media (max-width: $mobile-width) {
    padding-top: 24px;
  }
}

.social__item--icq {
  .social__text {
    @media (max-width: $mobile-width) {
      padding: 16px 0 41px;
    }
  }
}

.social__text-inner {
  margin: 0;
  padding: 0;
}

.social__link {
  width: fit-content;

  cursor: pointer;

  &--tick::after {
    content: "";

    display: inline-block;
    width: 16px;
    height: 16px;

    vertical-align: text-top;

    background-image: url("../img/icon-tick.svg");
  }
}
