.status-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 32px;
  color: $white;
  background-color: var(--color-text, $blue-default);
  border-radius: $border-radius;

  &--accent {
    background-color: var(--color-text, $orange);
  }
}

.mod-theme-inverse .status-info {
  color: var(--color-bg-main);
}

.status-info__text-group {
  display: flex;
  align-items: center;
  margin-right: auto;

  svg {
    flex-shrink: 0;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    fill: none;
    stroke: currentColor;
  }
}

.status-info__text {
  margin: 0;
  font-weight: 500;
  font-size: rem(16px);
  line-height: rem(22px);
}


@include tablet {
  .status-info {
    padding: 25px 24px;
  }

  .status-info__text-group {
    width: 100%;
  }

  .status-info__file {
    margin-top: 17px;
  }
}


@include mobile {
  .status-info {
    padding: 25px 24px 26px;
  }

  .status-info__text-group {
    align-items: flex-start;
  }
}
