.status-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 32px;
  color: var(--color-text, $white);
  background-color: var(--color-bg-main, $blue-default);
  border-radius: $border-radius;
  margin-bottom: 30px ;

  &--accent {
    background-color: var(--color-bg-secondary, $orange);
  }

  &--green {
    background-color: var(--color-bg-secondary, $green);
  }

  &--voting {
    margin-top: 30px;
  }

  .file-item {
    padding: 0;
  }
}

//.mod-theme-inverse .status-info {
//  color: var(--color-bg-main);
//}

.status-info__text-group {
  display: flex;
  align-items: flex-start;
  margin-right: auto;

  svg {
    flex-shrink: 0;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    fill: none;
    stroke: currentColor;
  }
}

.status-info__text {
  margin: 0;
  font-weight: 500;
  font-size: rem(16px);
  line-height: rem(22px);
  margin-top: 2px;

  &--small {
    font-weight: normal;
  }
}

.mod-theme-inverse .status-info__text-group svg,
.mod-theme-blue .status-info__text-group svg,
.mod-theme-comfort .status-info__text-group svg,
.mod-theme-brown .status-info__text-group svg {
  display: none;
}

.status-info__title {
  font-weight: 500;
  font-size: rem(18px);
  line-height: rem(23px);
  margin: 0;
  margin-bottom: 12px;
}


@include tablet {
  .status-info {
    padding: 25px 24px;
  }

  .status-info__text-group {
    width: 100%;
  }

  .status-info__file {
    margin-top: 17px;
  }
}


@include mobile {
  .status-info {
    padding: 25px 24px 26px;
  }

  .status-info__text-group {
    align-items: flex-start;
  }
}
