.steps-list {
  position: relative;

  margin: 0;
  padding: 16px 16px 16px 36px;
  list-style: none;
  counter-reset: my-awesome-counter;

  border-radius: 5px;
  background-color: var(--color-bg-secondary, #f9f9fa);

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    right: -38px;
    bottom: -26px;

    width: 160px;
    height: 160px;
    background: url(../img/info.svg) no-repeat center;

    pointer-events: none;

    @media (min-width: $desktop-width) {
      right: -15px;
      bottom: -15px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 24px 44px;
  }
}

.steps-list__item {
  position: relative;
  margin-bottom: 16px;

  counter-increment: my-awesome-counter;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: counter(my-awesome-counter) ". ";

    position: absolute;
    left: -20px;
    top: 0;

    font-weight: 500;
    font-size: rem(15px);
    line-height: rem(20px);
    color: var(--color-text, $grey);

    @media (min-width: $desktop-width) {
      left: -18px;
    }
  }

  span:not(.steps-list__lighter-text) {
    font-weight: normal;
    font-size: rem(15px);
    line-height: rem(20px);
    color: var(--color-text, $dark-text);
  }
}

.steps-list__link {
  font-weight: 400;
  font-size: rem(15px);
  line-height: rem(20px);
  color: var(--color-text, $blue-default);

  transition: color $style-change-duration;
  text-underline-position: under;

  @media (min-width: $desktop-width) {
    &:hover:not(.focus-visible) {
    color: var(--color-interactive-default, $blue-accent);
    }
  }
}

.steps-list__lighter-text {
  color: var(--color-text, $grey);
}
