.subtitle {
  font-weight: 400;
  font-size: rem(30px);
  line-height: rem(36px);

  &__small {
    font-size: rem(24px);
    line-height: rem(28px);
  }

  @media (max-width: $tablet-width - 1) {
    font-size: rem(24px);
    line-height: rem(28px);
  }

  &--large {
    @media (max-width: $tablet-width - 1) {
      font-size: rem(30px);
      line-height: rem(36px);
    }
  }
}
