.table-fixed {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  & .simplebar-scrollbar::before {
    background-color: var(--color-bg-secondary, $light-grey);
  }

  & .simplebar-track {
    background-color: var(--color-bg-secondary, $white);
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 11px;
    z-index: 10;
    width: 100%;
    height: 16px;
    background-image: linear-gradient(270deg, var(--color-bg-secondary, $white) 0%, var(--color-bg-secondary-transparent, rgba($white, 0)) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 100%;
    background-image: linear-gradient(270deg, var(--color-bg-secondary, $white) 0%, var(--color-bg-secondary-transparent, rgba($white, 0)) 100%);
  }

  &--popup {
    margin-bottom: 32px;
  }
}

.table-fixed__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  & th {
    width: 191px;
    padding-right: 40px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: rem(15px);
    line-height: rem(20px);
    color: var(--color-text, $grey);
    text-align: left;
    vertical-align: middle;
    // white-space: nowrap;
    line-clamp: 3;

    @media (max-width: $tablet-width - 1) {
      width: 152px;
      padding-right: 32px;
      font-size: rem(13px);
      line-height: rem(17px);
    }

    &:first-child {
      width: 118px;

      @media (max-width: $tablet-width - 1) {
        width: 100px;
      }
    }

    &.table-fixed__long-name {
      @media (max-width: $tablet-width - 1) {
        width: 191px;
      }
    }
  }

  & td {
    width: 191px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 40px;
    font-size: rem(13px);
    line-height: rem(17px);
    color: var(--color-text, $dark-text);
    text-align: left;
    vertical-align: middle;
    line-clamp: 2;

    @media (max-width: $tablet-width - 1) {
      width: 152px;
      padding-right: 32px;
    }

    &:first-child {
      width: 118px;

      @media (max-width: $tablet-width - 1) {
        width: 100px;
      }
    }

    &.table-fixed__long-name {
      @media (max-width: $tablet-width - 1) {
        width: 191px;
      }
    }
  }

  & tr {
    width: 100%;
    background-image: linear-gradient(var(--color-stroke, #f5f6f7), var(--color-stroke, #f5f6f7));
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
  }
}

.table-fixed__header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  min-width: $desktop-width;
  background-color: var(--color-bg-secondary, $white);

  & tr {
    background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  }
}

.table-fixed__body {
  width: 100%;
  min-width: $desktop-width;
  max-height: 386px;
  overflow-y: auto;
  overflow-x: hidden;

  & .simplebar-vertical {
    right: 10px;
  }
}


.table-fixed--all-screen {
  margin: 0 auto;
  max-height: 100%;

  &::before,
  &::after {
    display: none;
  }

  & td.table-fixed__long-name {
    width: 280px;
  }

  & th.table-fixed__long-name {
    width: 280px;
  }

  & .table-fixed__header {
    & .table-fixed__table {
      display: block;
      width: $desktop-width;
      margin: 0 auto;

      @media (max-width: $desktop-width - 1) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  & .table-fixed__body {
    max-height: calc(100vh - 81px);
    width: $desktop-width;
    margin: 0 auto;

    @media (max-width: $desktop-width - 1) {
      padding-left: 15px;
      padding-right: 15px;
    }

    & .simplebar-vertical {
      right: 0;
    }
  }

  & .table-fixed__header--scroll {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

    & tr {
      background-image: none;
    }
  }
}
