.table-fixed {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  & .simplebar-scrollbar::before {
    background-color: var(--color-bg-secondary, $light-grey);
  }

  & .simplebar-track {
    background-color: var(--color-bg-secondary, $white);
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 11px;
    z-index: 10;
    width: 100%;
    height: 16px;
    background-image: linear-gradient(270deg, var(--color-bg-secondary, $white) 0%, var(--color-bg-secondary-transparent, rgba($white, 0)) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 100%;
    background-image: linear-gradient(270deg, var(--color-bg-secondary, $white) 0%, var(--color-bg-secondary-transparent, rgba($white, 0)) 100%);
  }
}

.table-fixed table {
  // display: block;
  width: 100%;
  // min-width: $desktop-width;
  // table-layout: fixed;
  border-collapse: collapse;

  & th {
    width: 191px;
    min-width: 191px;
    padding-right: 40px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: rem(15px);
    line-height: rem(20px);
    color: var(--color-text, $grey);
    text-align: left;
    vertical-align: middle;
    // white-space: nowrap;
    line-clamp: 3;

    @media (max-width: $tablet-width - 1) {
      width: 152px;
      min-width: 152px;
      padding-right: 32px;
      font-size: rem(13px);
      line-height: rem(17px);
    }

    &:first-child {
      width: 119px;
      min-width: 119px;

      @media (max-width: $tablet-width - 1) {
        width: 100px;
        min-width: 100px;
      }
    }
  }

  & td {
    width: 191px;
    min-width: 191px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 40px;
    font-size: rem(13px);
    line-height: rem(17px);
    color: var(--color-text, $dark-text);
    text-align: left;
    vertical-align: middle;
    line-clamp: 2;

    @media (max-width: $tablet-width - 1) {
      width: 152px;
      min-width: 152px;
      padding-right: 32px;
    }

    &:first-child {
      width: 119px;
      min-width: 119px;

      @media (max-width: $tablet-width - 1) {
        width: 100px;
        min-width: 100px;
      }
    }
  }

  & tr {
    width: 100%;
    display: block;
    background-image: linear-gradient(var(--color-stroke, #f5f6f7), var(--color-stroke, #f5f6f7));
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
  }

  & tr:first-child {
    position: sticky;
    top: 0;
    z-index: 10;
    display: block;
    width: 100%;
    background-color: var(--color-bg-secondary, $white);
    background-image: linear-gradient(var(--color-stroke, $light-grey), var(--color-stroke, $light-grey));
  }
}

.table-fixed thead {
  display: block;
  width: 100%;
  min-width: 100%;
}

.table-fixed table tbody {
  display: block;
  width: 100%;
  min-width: 100%;
  max-height: 386px;
  overflow-y: auto;
  overflow-x: hidden;

  & .simplebar-vertical {
    right: 10px;
  }
}

.table-fixed table thead ~ tbody {
  & tr:first-child {
    position: static;
    background-image: linear-gradient(var(--color-stroke, #f5f6f7), var(--color-stroke, #f5f6f7));
  }
}


.table-fixed--all-screen {
  width: $desktop-width;
  margin: 0 auto;
  height: calc(100vh - 24px);

  // &::before,
  // &::after {
  //   display: none;
  // }

  & table {
    & tr {
      @media (max-width: $desktop-width - 1) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  & table tbody {
    max-height: calc(100vh - 110px);

    & .simplebar-vertical {
      right: 0;
    }
  }
}
