.tag {
  background-color: var(--color-bg-secondary, $light-green-3);
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 400;
  font-size: rem(12px);
  line-height: 141%;
  color: var(--color-text, $dark-text);
  margin: 0;

  @include mobile {
    font-size: rem(13px);
    line-height: 130%;
    margin-bottom: 12px;
  }

  .mod-theme-inverse &,
  .mod-theme-blue &,
  .mod-theme-comfort &,
  .mod-theme-brown & {
    padding-right: 0;
    padding-left: 0;
  }
}
