.user-proposal {
  padding: 41px 0 33px;

  border-top: 1px solid var(--color-stroke, $light-grey);
  border-bottom: 1px solid var(--color-stroke, $light-grey);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &--userless {
    padding-top: 32px;
  }
}

.user-proposal__link {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  font-weight: normal;
  font-size: rem(14px);
  line-height: 130%;

  text-decoration: none;
  transition: color $style-change-duration, opacity $style-change-duration;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    margin-right: 9px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 8px;
  }

  &--account {
    color: var(--color-interactive-default, $blue-default);

    @media (min-width: $desktop-width) {
      &:hover:not(.focus-visible) {
        opacity: 0.8;
      }
    }

    svg {
      margin-bottom: 3px;
      margin-left: 1px;
      width: 10px;
      height: 12px;
      fill: var(--color-interactive-default, $blue-default);
    }
  }

  &--address {
    color: var(--color-text, $grey-default);

    @media (min-width: $desktop-width) {
      &:hover:not(.focus-visible) {
        color: var(--color-interactive-default, $blue-default);
      }
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }

  svg {
    margin-right: 5px;
  }
}

.user-proposal__title {
  margin: 0;

  font-weight: 500;
  font-size: rem(18px);
  line-height: 130%;
  color: var(--color-text, $dark-text);

  @media (min-width: $desktop-width) {
    width: 80%;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1){
    width: 100%;
    margin-bottom: 24px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-top: 24px;
    margin-bottom: 22px;
  }

  &--shorter {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1){
      width: 80%;
      margin-bottom: 0;
    }
  }
}

.user-proposal__status {
  font-weight: 400;
  font-size: rem(15px);
  line-height: 135%;
  color: var(--color-interactive-default, $blue-default);

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.user-proposal__like-counter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  font-weight: normal;
  font-size: rem(13px);
  line-height: 130%;

  color: var(--color-text, $grey-default);

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    margin-left: auto;
    align-self: flex-start;
  }

  @media (max-width: $tablet-width - 1) {
    margin-top: 27px;
  }

  span {
    margin-right: 13px;
  }

  svg {
    width: 20px;
    height: 20px;

    margin-top: -2px;
  }

  & .stroked {
    fill: var(--color-text, $grey-default);
  }

  &--liked {
    color: var(--color-interactive-accent, $blue-accent);

    & .stroked {
      fill: transparent;
    }

    & .filled {
      fill: var(--color-interactive-accent, $blue-accent)
    }
  }
}

.user-proposal--userless {
  .user-proposal__link--address {
    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  .user-proposal__title {
    font-weight: normal;
    font-size: rem(16px);
    line-height: 135%;

    @media (min-width: $tablet-width ) {
      width: 80%;
      margin-bottom: 0;
    }
  }
}
