.voting {
  padding-bottom: 74px;
  padding-top: 40px;

  &.section--gray {
    padding-bottom: 40px;
  }

  .back-btn {
    margin-top: 40px;
  }

  .project-rules {
    margin-bottom: 40px;
  }

  .page-title {
    margin-top: 40px;
    margin-bottom: 34px;
  }

  .page-line {
    width: 100%;
    height: 1px;
    background-color: $light-grey;
  }

  .page-description {
    margin: 0 0 24px;

    font-size: 16px;
    line-height: 22px;
  }

  .activity-tabs {
    margin-bottom: 46px;
    padding-right: 0;
  }

  .choices[data-type*="select-one"] .choices__input {
    position: static;
    padding: 13px 17px 15px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  .choices__placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
  }

  .choices__list--dropdown .choices__item--selectable,
  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    color: var(--color-text, $grey);
  }

  .choices__heading {
    font-size: 18px;
    line-height: 23px;
    color: var(--color-text, $dark-text);
    pointer-events: none;
    font-weight: 400;
    border-bottom: none;
    padding: 13px 17px 15px 16px;
  }


  @include tablet {
    padding-bottom: 71px;

    .project-rules {
      margin-top: 31px;
    }

    &.section--gray {
      padding-bottom: 31px;
    }

    .page-title {
      margin-top: 31px;
      margin-bottom: 27px;
    }

    .back-btn {
      margin-top: 31px;
    }

    .activity-tabs {
      margin: 31px 0;
    }
  }

  @include mobile {
      padding-bottom: 54px;

    &.section--gray {
      padding-bottom: 24px;
    }

    .project-rules {
      margin-top: 24px;
    }

    .page-title {
      margin-top: 24px;
      margin-bottom: 20px;
    }

    .back-btn {
      margin-top: 24px;
    }

    .activity-tabs {
      margin: 24px 0;
    }
  }
}





