html {
  font-size: ($base-font-size / 16px) * 100%;
  font-family: "Rubik", "Arial", sans-serif;
  box-sizing: border-box;


  &.mod-font-family-arial {
    font-family: "Arial", sans-serif;
  }

  &.mod-font-family-times {
    font-family: "Times New Roman", serif;
  }


  &.mod-font-size-larger {
    font-size: 18px;
  }

  &.mod-font-size-largest {
    font-size: 20px;
  }


  &.mod-theme-inverse {
    --color-bg-main: #{$dark};
    --color-bg-secondary: #{$dark-main};

    --color-bg-main-transparent: #{rgba($dark, 0)};
    --color-bg-secondary-transparent: #{rgba($dark-main, 0)};

    --color-stroke: #{$light-grey};
    --color-tag: #{$grey};
    --color-icon: #{$white};

    --color-text: #{$white};

    --color-interactive-default: #{$blue-default};
    --color-interactive-accent: #{$blue-accent};
  }


  &.mod-theme-blue {
    --color-bg-main: #{$light-blue-accent};
    --color-bg-secondary: #{$light-blue};

    --color-bg-main-transparent: #{rgba($light-blue-accent, 0)};
    --color-bg-secondary-transparent: #{rgba($light-blue, 0)};

    --color-stroke: #{$blue-default};
    --color-tag: #{$light-grey};
    --color-icon: #{$dark-text};

    --color-text: #{$dark-text};

    --color-interactive-default: #{$blue-default};
    --color-interactive-accent: #{$blue-accent};
  }


  &.mod-theme-comfort {
    --color-bg-main: #{$light-yellow};
    --color-bg-secondary: #{#f7e4d8};

    --color-bg-main-transparent: #{rgba($light-yellow, 0)};
    --color-bg-secondary-transparent: #{rgba(#f7e4d8, 0)};

    --color-stroke: #{$comfort};
    --color-tag: #{$light-grey};
    --color-icon: #{$comfort};

    --color-text: #{$comfort};

    --color-interactive-default: #{$blue-default};
    --color-interactive-accent: #{$blue-accent};
  }


  &.mod-theme-brown {
    --color-bg-main: #{$brown};
    --color-bg-secondary: #{$dark-main};

    --color-bg-main-transparent: #{rgba($brown, 0)};
    --color-bg-secondary-transparent: #{rgba($dark-main, 0)};

    --color-stroke: #{$light-green};
    --color-tag: #{$grey};
    --color-icon: #{$light-green};

    --color-text: #{$light-green};

    --color-interactive-default: #{$red};
    --color-interactive-accent: #{$orange};
  }
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: rem(15px);
  line-height: rem(20px);
  color: var(--color-text, $dark-text);
  background-color: var(--color-bg-main, $white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.form-radio input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-page {
  width: 100%;
  min-width: $mobile-width;
  max-width: $desktop-width;
  margin: 0 auto;
}
