html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-size: ($base-font-size / 16px) * 100%;
  font-family: "Rubik", "Arial", sans-serif;

  &.mod-font-family-arial {
    font-family: "Arial", sans-serif;
  }

  &.mod-font-family-times {
    font-family: "Times New Roman", serif;
  }


  &.mod-font-size-larger {
    font-size: 18px;
  }

  &.mod-font-size-largest {
    font-size: 20px;
  }

  &.mod-theme-inverse {
    --color-bg-main: #{$dark};
    --color-bg-main-transparent: #{rgba($dark, 0)};
    --color-bg-secondary: #{$dark-main};
    --color-bg-secondary-transparent: #{rgba($dark-main, 0)};
    --color-icon: #{$white};
    --color-interactive-accent: #{$blue-accent};
    --color-interactive-default: #{$blue-default};
    --color-stroke: #{$light-grey};
    --color-tag: #{$grey};
    --color-text: #{$white};
    --color-blue: #{$light-blue};
  }


  &.mod-theme-blue {
    --color-bg-main: #{$light-blue-accent};
    --color-bg-main-transparent: #{rgba($light-blue-accent, 0)};
    --color-bg-secondary: #{$light-blue};
    --color-bg-secondary-transparent: #{rgba($light-blue, 0)};
    --color-icon: #{$dark-text};
    --color-interactive-accent: #{$blue-accent};
    --color-interactive-default: #{$blue-default};
    --color-stroke: #{$blue-default};
    --color-tag: #{$light-grey};
    --color-text: #{$dark-text};
    --color-blue: #{$light-blue};
  }


  &.mod-theme-comfort {
    --color-bg-main: #{$light-yellow};
    --color-bg-main-transparent: #{rgba($light-yellow, 0)};
    --color-bg-secondary: #{#f7e4d8};
    --color-bg-secondary-transparent: #{rgba(#f7e4d8, 0)};
    --color-icon: #{$comfort};
    --color-interactive-accent: #{$blue-accent};
    --color-interactive-default: #{$blue-default};
    --color-stroke: #{$comfort};
    --color-tag: #{$light-grey};
    --color-text: #{$comfort};
    --color-blue: #{$light-blue};
  }


  &.mod-theme-brown {
    --color-bg-main: #{$brown};
    --color-bg-main-transparent: #{rgba($brown, 0)};
    --color-bg-secondary: #{$dark-main};
    --color-bg-secondary-transparent: #{rgba($dark-main, 0)};
    --color-icon: #{$light-green};
    --color-interactive-accent: #{$orange};
    --color-interactive-default: #{$red};
    --color-stroke: #{$light-green};
    --color-tag: #{$grey};
    --color-text: #{$light-green};
    --color-blue: #{$light-blue};
  }
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: rem(15px);
  line-height: rem(20px);
  color: var(--color-text, $dark-text);

  background-color: var(--color-bg-main, $white);

  // *::-webkit-scrollbar {
  //   width: 6px;
  // }

  // *::-webkit-scrollbar-track {
  //   background: transparent;
  // }

  // *::-webkit-scrollbar-thumb {
  //   background-color: #e3e8ee;
  //   border-radius: 5px;
  // }
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.form-radio input[type="radio"],
.preview-input input[type="radio"],
.form-checkbox input[type="checkbox"],
.preview-input input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}

.main-page {
  width: 100%;
  //min-width: $mobile-width;
  //max-width: $desktop-width;
  margin: 0 auto;
}

// ios 13 ruble sign fix
.ruble-sign {
  font-weight: 400;
  font-family: "Helvetica Neue", sans-serif;
}

@media print {
  @page {
    size: auto;

    margin: 11mm 17mm 17mm 17mm;
  }
}

.error-field {
  margin: 0;
  position: absolute;
  bottom: -19px;
  color: $red;
  left: 0;
}

.error-field + .error-field {
  bottom: -36px;
}

.separator {
  border: none;
  height: 1px;
  width: 100%;
  margin: 48px 0 40px;
  background-color: var(--color-stroke, #e3e8ee);
}
