@mixin btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font {
  font-family: "Rubik", "Arial", sans-serif;
}

@mixin font-h1 {
  @include font;
  font-size: rem(40px);
  line-height: rem(47px);
  font-weight: 400;
  color: $dark-main;
}

@mixin font-h2 {
  @include font;
  font-size: rem(30px);
  line-height: rem(36px);
  font-weight: 400;
  color: $dark-main;
}

@mixin font-h3 {
  @include font;
  font-size: rem(24px);
  line-height: rem(28px);
  font-weight: 400;
  color: $dark-main;
}

@mixin font-h4 {
  @include font;
  font-size: rem(18px);
  line-height: rem(23px);
  font-weight: 400;
  color: $dark-main;
}

@mixin font-h5 {
  @include font;
  font-size: rem(16px);
  line-height: rem(22px);
  font-weight: 400;
  color: $dark-main;
}

@mixin main-text {
  @include font;
  font-size: rem(15px);
  line-height: rem(20px);
  font-weight: 400;
  color: $dark-main;
}

@mixin caption-text {
  @include font;
  font-size: rem(13px);
  line-height: rem(17px);
  font-weight: 400;
  color: $dark-main;
}
