$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;

$dark-main: #333333;
$dark-text: #354052;
$white: #ffffff;
$blue-default: #2c8ecc;
$blue-accent: #116ca6;
$light-blue: #eaf4fa;
$light-blue-accent: #9bd2f4;
$light-grey: #e3e8ee;
$grey: #707b8c;
$grey-default:#a6abb3;
$red: #e55050;
$color-bg: #f9f9fa;

$retina2x-dpi: 144dpi;
$retina2x-dppx: 1.5dppx;

$style-change-duration: 0.2s;
