$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-max-width: 400px;
$mobile-width: 320px;

$max-width: 1366px;

$tablet-padding: 24px;
$mobile-padding: 16px;

$dark-main: #333333;
$dark-text: #354052;
$white: #ffffff;
$pale-green: #f8fcf7;
$light-green: #aae55c;
$green: #70bf56;
$blue-default: #2c8ecc;
$blue-accent: #116ca6;
$light-blue: #eaf4fa;
$light-blue-accent: #9bd2f4;
$light-grey: #e3e8ee;
$grey: #707b8c;
$grey-default: #a6abb3;
$pale-red: #fef9f9;
$red: #e55050;
$color-bg: #f9f9fa;
$orange: #fca844;
$warning-orange: #ffc989;
$dark: #21252b;
$comfort: #4d4b43;
$light-yellow: #f7f3d8;
$brown: #3b2717;
$fill-color: rgba(155, 210, 244, 0.25);

$retina2x-dpi: 144dpi;
$retina2x-dppx: 1.5dppx;

$border-radius: 5px;
$style-change-duration: 0.2s;
